Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(9b): resolve SonarCloud quality gate issues
  .github/workflows/helm-release.yaml
  .secrets.baseline
  charts/floe-platform/values.yaml
  packages/floe-core/tests/unit/helm/conftest.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
  packages/floe-core/tests/unit/helm/test_generator.py
  packages/floe-core/tests/unit/helm/test_merger.py
  packages/floe-core/tests/unit/helm/test_schemas.py
  sonar-project.properties
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(9b): fix helm lint CI failure and add local pre-push check
  .github/workflows/helm-ci.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  testing/ci/lint-helm.sh
Due: none

fix(9b): add Dagster schema stripping to all helm-ci jobs
  .github/workflows/helm-ci.yaml
Due: none

feat(helm): enable Marquez by default for lineage tracking (T001, FLO-2293)
  .beads/issues.jsonl
  charts/floe-platform/values.yaml
Due: none

chore(demo): create directory structure for 3 data products (T002, FLO-2294)
  demo/customer-360/models/intermediate/.gitkeep
  demo/customer-360/models/marts/.gitkeep
  demo/customer-360/models/staging/.gitkeep
  demo/customer-360/seeds/.gitkeep
  demo/financial-risk/models/intermediate/.gitkeep
  demo/financial-risk/models/marts/.gitkeep
  demo/financial-risk/models/staging/.gitkeep
  demo/financial-risk/seeds/.gitkeep
  demo/iot-telemetry/models/intermediate/.gitkeep
  demo/iot-telemetry/models/marts/.gitkeep
  demo/iot-telemetry/models/staging/.gitkeep
  demo/iot-telemetry/seeds/.gitkeep
  demo/macros/.gitkeep
  demo/scripts/.gitkeep
Due: none

feat(helm): add demo-specific values overrides
  charts/floe-platform/values-demo.yaml
Due: none

feat(make): add demo and demo-stop targets (T005, FLO-2297)
  Makefile
Due: none

feat(e2e): add shared service fixtures for platform testing (T003, FLO-2295)
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(13): add health sensor, snapshot retention, and schedule config
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  packages/floe-iceberg/src/floe_iceberg/_snapshot_manager.py
  packages/floe-iceberg/src/floe_iceberg/manager.py
  packages/floe-iceberg/tests/unit/test_snapshot_retention.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  plugins/floe-orchestrator-dagster/tests/unit/test_health_sensor.py
  testing/ci/test-e2e.sh
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(13): add complete E2E test suite for platform validation
  tests/e2e/test_compilation.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_flow.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(13): add Grafana dashboards, Helm provisioning, and demo docs
  charts/floe-platform/dashboards/data-quality.json
  charts/floe-platform/dashboards/lineage-overview.json
  charts/floe-platform/dashboards/pipeline-metrics.json
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/values.yaml
  demo/README.md
Due: none

fix(13): add missing requirement markers to 5 E2E tests (T050)
  tests/e2e/test_demo_mode.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): eliminate all test skips and fix infrastructure connectivity
  .beads/issues.jsonl
  testing/ci/test-e2e.sh
  tests/e2e/conftest.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_plugin_system.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve fixture errors and align tests with infrastructure
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
  packages/floe-core/src/floe_core/plugins/loader.py
  packages/floe-core/src/floe_core/version_compat.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_plugin_system.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve data pipeline and infrastructure diagnostic failures
  demo/customer-360/models/marts/mart_customer_360.sql
  demo/customer-360/models/staging/stg_support_tickets.sql
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
  tests/e2e/conftest.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): connect Polaris S3FileIO to MinIO with path-style access
  charts/floe-platform/templates/configmap-polaris.yaml
  charts/floe-platform/templates/configmap-postgresql-init.yaml
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve platform bootstrap and observability test failures
  charts/floe-platform/templates/configmap-dagster-workspace.yaml
  charts/floe-platform/templates/configmap-polaris.yaml
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/templates/secret-polaris.yaml
  charts/floe-platform/templates/service-polaris.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  testing/ci/test-e2e.sh
  tests/e2e/conftest.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): use label selector for Polaris service check
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): implement promotion tests and fix demo product name mismatches
  tests/e2e/test_demo_mode.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): add writable volumes for Polaris Quarkus runtime
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/values-test.yaml
Due: none

feat(helm): add Jaeger and Marquez observability infrastructure
  charts/floe-platform/Chart.lock
  charts/floe-platform/Chart.yaml
  charts/floe-platform/templates/configmap-marquez.yaml
  charts/floe-platform/templates/deployment-marquez.yaml
  charts/floe-platform/templates/service-marquez.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  testing/ci/test-e2e.sh
Due: none

feat(e2e): implement observability tests for Marquez and Jaeger
  testing/ci/test-e2e.sh
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(13): add spec artifacts and clean up task/plan consistency
  .specify/memory/constitution.md
  specs/13-e2e-demo-platform/.linear-mapping.json
  specs/13-e2e-demo-platform/analysis.md
  specs/13-e2e-demo-platform/checklists/requirements.md
  specs/13-e2e-demo-platform/data-model.md
  specs/13-e2e-demo-platform/plan.md
  specs/13-e2e-demo-platform/quickstart.md
  specs/13-e2e-demo-platform/research.md
  specs/13-e2e-demo-platform/spec.md
  specs/13-e2e-demo-platform/tasks.md
Due: none

docs(13): restructure Phase 13 with disciplined triage protocol
  specs/13-e2e-demo-platform/tasks.md
Due: none

chore(linear): sync tasks.md ↔ Linear for Epic 13
  .beads/issues.jsonl
  specs/13-e2e-demo-platform/.linear-mapping.json
  specs/13-e2e-demo-platform/tasks.md
Due: none

feat(e2e): add namespace teardown, TQR enforcement, Marquez DB config (T048, T062, T065)
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e): complete Phase 13 - GAP tests, TQR audits, and gap diagnosis
  specs/13-e2e-demo-platform/TASK-COMPLETION-T050-T061.md
  specs/13-e2e-demo-platform/TQR-AUDIT-SUMMARY.md
  specs/13-e2e-demo-platform/TQR-FIXES-APPLIED.md
  tests/e2e/test_compilation.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_observability.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(e2e): uplift test suite to validate real platform behavior
  tests/e2e/conftest.py
  tests/e2e/test_compilation.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(e2e): brutal test uplift — behavioral assertions across all 9 files
  tests/e2e/conftest.py
  tests/e2e/test_compilation.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(e2e): target-state test remediation — remove sycophancy, expose gaps
  tests/e2e/test_compilation.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(e2e): target-state test remediation — remove sycophancy, expose gaps
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): align manifest.yaml governance with GovernanceConfig schema
  demo/manifest.yaml
Due: none

docs(epics): add 4 new epics for E2E capability gaps
  docs/plans/epics/03-enforcement/epic-03e-governance-integration.md
  docs/plans/epics/04-core-plugins/epic-04e-semantic-layer-plugin.md
  docs/plans/epics/04-core-plugins/epic-04f-ingestion-plugin.md
  docs/plans/epics/06-observability/epic-06c-otel-instrumentation.md
  docs/plans/epics/README.md
Due: none

fix: address PR review comments and pre-commit issues
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  demo/financial-risk/generate_seeds.py
  demo/iot-telemetry/generate_seeds.py
  demo/manifest.yaml
  packages/floe-core/src/floe_core/version_compat.py
  packages/floe-core/tests/unit/test_version_compat.py
  packages/floe-iceberg/tests/unit/test_snapshot_retention.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  tests/contract/test_orchestrator_plugin_abc.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: add orchestrator entry point generation and demo code locations
  CLAUDE.md
  charts/floe-platform/templates/configmap-dagster-workspace.yaml
  demo/customer-360/floe.yaml
  demo/financial-risk/floe.yaml
  demo/iot-telemetry/floe.yaml
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/src/floe_core/compilation/builder.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  packages/floe-core/src/floe_core/schemas/versions.py
  tests/e2e/test_compilation.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(dx): add E2E port-forward safety hook
  .claude/hooks/check-e2e-ports.sh
  .claude/settings.json
Due: none

fix: resolve pre-commit hook failures
  .gitignore
  .secrets.baseline
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/tests/unit/test_orchestrator_plugin.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
