Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(6c): Phase 9 - contract test, benchmarks, lint fixes, verification (T073-T082)
  benchmarks/test_tracing_perf.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(helm): automate manifest-to-deploy pipeline
  Makefile
  charts/floe-platform/charts/cube/templates/secret.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  packages/floe-core/src/floe_core/cli/platform/deploy.py
  packages/floe-core/src/floe_core/helm/schemas.py
  packages/floe-core/tests/unit/cli/test_deploy_command.py
  packages/floe-core/tests/unit/helm/test_generator.py
  packages/floe-core/tests/unit/helm/test_schemas.py
  testing/k8s/cleanup-cluster.sh
  testing/k8s/setup-cluster.sh
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(helm): deduplicate parsing, fix Makefile, TYPE_CHECKING guard
  Makefile
  packages/floe-core/src/floe_core/cli/helm/generate.py
  packages/floe-core/src/floe_core/cli/platform/deploy.py
  packages/floe-core/src/floe_core/helm/__init__.py
  packages/floe-core/src/floe_core/helm/parsing.py
  packages/floe-core/src/floe_core/telemetry/audit.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(helm): strengthen assertions and fix test quality issues
  packages/floe-core/tests/unit/cli/test_deploy_command.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: update secrets baseline for test data strings
  .secrets.baseline
Due: none

style: fix ruff lint and format issues across 12 files
  .secrets.baseline
  packages/floe-core/src/floe_core/telemetry/audit.py
  packages/floe-core/tests/unit/cli/test_deploy_command.py
  packages/floe-core/tests/unit/compilation/test_instrumentation_audit.py
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
  packages/floe-core/tests/unit/test_telemetry/test_traced_unified.py
  plugins/floe-compute-duckdb/tests/unit/test_tracing.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-rbac-k8s/src/floe_rbac_k8s/plugin.py
  plugins/floe-rbac-k8s/tests/unit/test_tracing.py
  plugins/floe-secrets-infisical/tests/unit/test_tracing.py
  plugins/floe-semantic-cube/tests/unit/test_tracing.py
  tests/contract/test_plugin_instrumentation_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: bump cryptography 46.0.3→46.0.5 (GHSA-r6ph-v2qm-q3c2)
  .secrets.baseline
  devtools/agent-memory/uv.lock
  packages/floe-core/uv.lock
  uv.lock
Due: none

fix(security): address CI failures and PR security review findings
  packages/floe-core/src/floe_core/cli/platform/deploy.py
  packages/floe-core/src/floe_core/helm/parsing.py
  packages/floe-core/tests/unit/cli/test_deploy_command.py
  plugins/floe-rbac-k8s/tests/unit/test_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(audit): test hardening audit report + specwright artifacts (WU-1)
  .specwright/state/workflow.json
  .specwright/work/test-hardening-audit/context.md
  .specwright/work/test-hardening-audit/plan.md
  .specwright/work/test-hardening-audit/spec.md
  docs/audits/test-hardening-audit-2026-02.md
Due: none

feat(e2e): brutal E2E tests for 9 acceptance criteria (WU-2)
  tests/e2e/conftest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_dbt_lifecycle_e2e.py
  tests/e2e/test_governance_enforcement_e2e.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_lineage_roundtrip_e2e.py
  tests/e2e/test_multi_product_isolation_e2e.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(tests): reclassify test_compilation.py from e2e to contract tier
  tests/conftest.py
  tests/contract/test_compilation.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): remediate 3 blocking assertions + lift 4 PARTIAL criteria to PASS
  .specwright/state/workflow.json
  .specwright/work/test-hardening-audit/evidence/gate-spec.md
  .specwright/work/test-hardening-audit/evidence/gate-tests.md
  .specwright/work/test-hardening-audit/evidence/gate-wiring.md
  tests/contract/test_compilation.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_governance_enforcement_e2e.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_lineage_roundtrip_e2e.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(epic-15): E2E test infrastructure & platform gaps — root cause audit
  docs/plans/epics/15-e2e-platform-gaps/epic-15-e2e-platform-gaps.md
  docs/plans/epics/README.md
Due: none

Epic 14: Test Hardening Audit + Epic 15 Root Cause Analysis (#71)
  .specwright/state/workflow.json
  .specwright/work/test-hardening-audit/context.md
  .specwright/work/test-hardening-audit/evidence/gate-spec.md
  .specwright/work/test-hardening-audit/evidence/gate-tests.md
  .specwright/work/test-hardening-audit/evidence/gate-wiring.md
  .specwright/work/test-hardening-audit/plan.md
  .specwright/work/test-hardening-audit/spec.md
  docs/audits/test-hardening-audit-2026-02.md
  docs/plans/epics/15-e2e-platform-gaps/epic-15-e2e-platform-gaps.md
  docs/plans/epics/README.md
  tests/conftest.py
  tests/contract/test_compilation.py
  tests/e2e/conftest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_dbt_lifecycle_e2e.py
  tests/e2e/test_governance_enforcement_e2e.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_lineage_roundtrip_e2e.py
  tests/e2e/test_multi_product_isolation_e2e.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(helm): harden polaris bootstrap with API verification
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
Due: none

feat(ci): add polaris API readiness gate to wait-for-services
  testing/ci/polaris-auth.sh
  testing/ci/wait-for-services.sh
Due: none

fix(e2e): add helm stuck release recovery
  tests/e2e/conftest.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(specwright): add spec and plan for Epic 15 E2E platform gaps
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/plan.md
  .specwright/work/e2e-platform-gaps/spec.md
Due: none

fix(wu-1): extract shared Helm recovery + add unit tests (BLOCK-1, BLOCK-2)
  testing/fixtures/helm.py
  testing/tests/unit/test_helm_recovery.py
  tests/e2e/conftest.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(wu-1): update gate results after re-verification
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/gate-build.md
  .specwright/work/e2e-platform-gaps/evidence/gate-security.md
  .specwright/work/e2e-platform-gaps/evidence/spec-compliance.md
  .specwright/work/e2e-platform-gaps/evidence/test-quality.md
  .specwright/work/e2e-platform-gaps/evidence/wiring-report.md
Due: none

fix(deps): bump protobuf + ignore cognee-pinned CVEs in agent-memory
  devtools/agent-memory/.uv-secure.toml
  devtools/agent-memory/uv.lock
Due: none

fix(hooks): add pillow + diskcache CVE ignores to pre-push hook
  .pre-commit-config.yaml
Due: none

feat(wu-1): Polaris Bootstrap + MinIO Bucket Reliability (#74)
  .pre-commit-config.yaml
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/gate-build.md
  .specwright/work/e2e-platform-gaps/evidence/gate-security.md
  .specwright/work/e2e-platform-gaps/evidence/spec-compliance.md
  .specwright/work/e2e-platform-gaps/evidence/test-quality.md
  .specwright/work/e2e-platform-gaps/evidence/wiring-report.md
  .specwright/work/e2e-platform-gaps/plan.md
  .specwright/work/e2e-platform-gaps/spec.md
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  devtools/agent-memory/.uv-secure.toml
  devtools/agent-memory/uv.lock
  testing/ci/polaris-auth.sh
  testing/ci/wait-for-services.sh
  testing/fixtures/helm.py
  testing/tests/unit/test_helm_recovery.py
  tests/e2e/conftest.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(ci): add multi-arch cube store build to nightly
  .github/workflows/nightly.yml
  docker/cube-store/Dockerfile
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(helm): enable cube store with image override and resource tuning
  charts/floe-platform/values-test.yaml
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(e2e): add cube store rollback xfail markers
  testing/tests/unit/test_ci_workflows.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): correct cubeStore key casing to match subchart schema
  charts/floe-platform/values-test.yaml
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: add push:true assertion and improve error messages
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: add WU-2 gate evidence and update workflow state
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-build.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-security.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-spec.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-tests.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-wiring.md
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): pin Docker digest and eliminate pipe-to-shell
  .github/workflows/nightly.yml
  docker/cube-store/Dockerfile
Due: none

feat(cube): multi-arch Cube Store build + pod scheduling (WU-2) (#75)
  .github/workflows/nightly.yml
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-build.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-security.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-spec.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-tests.md
  .specwright/work/e2e-platform-gaps/evidence/wu2-gate-wiring.md
  charts/floe-platform/values-test.yaml
  docker/cube-store/Dockerfile
  testing/tests/unit/test_ci_workflows.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(dagster): migrate GraphQL API + add sensor target (WU-3)
  .specwright/state/workflow.json
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  testing/tests/unit/test_dagster_migration.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: update workflow.json with WU-3 task progress
  .specwright/state/workflow.json
Due: none

fix(tests): strengthen assertions per gate-tests findings (WU-3)
  testing/tests/unit/test_dagster_migration.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: record WU-3 gate results and evidence
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/gate-security-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-spec-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-tests-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-wiring-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/wu3-gate-build.md
Due: none

style: fix ruff lint/format and trailing whitespace (WU-3)
  .specwright/work/e2e-platform-gaps/evidence/gate-security-wu3.md
  testing/tests/unit/test_dagster_migration.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: mark WU-3 as shipped (PR #76)
  .specwright/state/workflow.json
Due: none

feat(dagster): Dagster SDK migration — GraphQL API + sensor target (WU-3) (#76)
  .specwright/state/workflow.json
  .specwright/work/e2e-platform-gaps/evidence/gate-security-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-spec-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-tests-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/gate-wiring-wu3.md
  .specwright/work/e2e-platform-gaps/evidence/wu3-gate-build.md
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  testing/tests/unit/test_dagster_migration.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): align OTel label selector, service names, and add TracerProvider (WU-4)
  .specwright/state/workflow.json
  testing/tests/unit/test_otel_pipeline.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
  tests/e2e/test_observability_roundtrip_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
