Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

Resolve PR review telemetry and demo findings
  demo/customer-360/scripts/customer360_metric.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/validation/test_iceberg_outputs.py
  testing/tests/unit/test_customer360_validator.py
  testing/tests/unit/test_demo_packaging.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dependency audit scanner fallback
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/uv-security-audit.sh
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Honor disabled runtime telemetry contract
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Defer Customer 360 Iceberg metric imports
  demo/customer-360/scripts/customer360_metric.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Install locked pip-audit fallback dependency
  pyproject.toml
  testing/ci/tests/test_uv_security_audit.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 alpha validation (#276)
  .github/workflows/helm-ci.yaml
  .secrets.baseline
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  demo/customer-360/scripts/customer360_metric.py
  demo/customer-360/validation.yaml
  demo/manifest.yaml
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
  packages/floe-core/tests/unit/compilation/test_stages.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-lineage-marquez/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/validation/test_iceberg_outputs.py
  pyproject.toml
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/uv-security-audit.sh
  testing/tests/unit/test_customer360_validator.py
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_helm_ci_diagnostics.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Upgrade Claude checkout pins to Node 24
  .github/CI.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  testing/ci/tests/test_github_actions_node24_pins.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Upgrade Claude checkout pins to Node 24 (#277)
  .github/CI.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  testing/ci/tests/test_github_actions_node24_pins.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: capture starlight migration design
  docs/superpowers/specs/2026-04-30-docs-platform-starlight-migration-design.md
Due: none

docs: design OpenChoreo adoption spike
  docs/superpowers/specs/2026-04-30-openchoreo-floe-spike-design.md
Due: none

docs: migrate docs site to starlight
  .github/workflows/docs.yml
  .gitignore
  Makefile
  README.md
  docs-site/astro.config.mjs
  docs-site/docs-manifest.json
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/scripts/check-built-docs.mjs
  docs-site/scripts/sync-docs.mjs
  docs-site/src/content.config.ts
  docs-site/src/content/docs/.gitignore
  docs/architecture/interfaces/index.md
  docs/get-started/index.md
  docs/guides/08-quality.md
  docs/guides/testing/code-quality.md
  docs/guides/testing/index.md
  docs/operations/troubleshooting.md
  docs/start-here/index.md
  docs/superpowers/plans/2026-04-30-docs-platform-starlight-migration.md
  docs/superpowers/specs/2026-04-30-docs-platform-starlight-migration-design.md
  mkdocs.yml
  pyproject.toml
  testing/ci/tests/test_github_actions_node24_pins.py
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: plan OpenChoreo Floe spike
  docs/superpowers/plans/2026-04-30-openchoreo-floe-spike.md
Due: none

docs: scaffold OpenChoreo spike research
  docs/research/openchoreo-floe-hypotheses.md
  docs/research/openchoreo-floe-mapping.md
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: capture OpenChoreo source facts
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: complete OpenChoreo source fact capture
  docs/research/openchoreo-floe-triage.md
Due: none

docs: clarify OpenChoreo source evidence
  docs/research/openchoreo-floe-triage.md
Due: none

docs: address Starlight review feedback
  docs-site/package-lock.json
  docs-site/package.json
  docs/contributing/index.md
  docs/reference/index.md
  testing/ci/tests/test_validate_docs_navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: assess Floe architecture fit for OpenChoreo
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: recommend bounded OpenChoreo proof spike
  docs/research/openchoreo-floe-hypotheses.md
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: map Floe concepts to OpenChoreo resources
  docs/research/openchoreo-floe-hypotheses.md
  docs/research/openchoreo-floe-mapping.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: record OpenChoreo install complexity
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
Due: none

docs: validate Customer 360 OpenChoreo proof mapping
  docs/research/openchoreo-floe-hypotheses.md
  docs/research/openchoreo-floe-mapping.md
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-proof/customer-360-openchoreo.yaml
Due: none

docs: outline OpenChoreo adoption roadmap
  docs/architecture/adr/0048-openchoreo-platform-control-plane.md
  docs/plans/openchoreo-floe-release-roadmap.md
  docs/research/openchoreo-floe-spike-results.md
Due: none

docs: prevent excluded docs route links
  docs-site/scripts/check-built-docs.mjs
  docs-site/scripts/sync-docs.mjs
Due: none

docs: remove unrelated Starlight spike artifact
  docs/superpowers/specs/2026-04-30-docs-platform-starlight-migration-design.md
Due: none

docs: honor manifest routes
  docs-site/package.json
  docs-site/scripts/sync-docs.mjs
  docs-site/scripts/sync-docs.test.mjs
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: harden GitHub Pages docs routes
  docs-site/astro.config.mjs
  docs-site/scripts/check-built-docs.mjs
  docs-site/scripts/sync-docs.mjs
  docs-site/scripts/sync-docs.test.mjs
  docs-site/site-config.mjs
  testing/ci/tests/test_docs_site_config.py
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: fail fast on published link drift
  docs-site/scripts/sync-docs.mjs
  docs-site/scripts/sync-docs.test.mjs
  docs/architecture/adr/0026-data-contract-architecture.md
  docs/architecture/adr/0035-observability-plugin-interface.md
  docs/architecture/adr/0039-multi-environment-promotion.md
  docs/architecture/adr/0040-artifact-immutability-gc.md
  docs/architecture/adr/0041-artifact-signing-verification.md
  docs/architecture/adr/0045-compilation-caching-strategy.md
  docs/architecture/interfaces/data-quality-plugin.md
  docs/architecture/interfaces/dbt-plugin.md
  docs/architecture/interfaces/orchestrator-plugin.md
  docs/architecture/interfaces/secrets-plugin.md
  docs/architecture/interfaces/semantic-layer-plugin.md
  docs/architecture/plugin-system/interfaces.md
  docs/reference/duckdb-lakehouse.md
  docs/reference/polaris-skill.md
  docs/reference/pyiceberg-skill.md
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: clarify OpenChoreo glue removal roadmap
  docs/plans/openchoreo-floe-release-roadmap.md
  docs/research/openchoreo-floe-spike-results.md
Due: none

docs: normalize generated docs hrefs
  docs-site/scripts/check-built-docs.mjs
  docs-site/scripts/check-built-docs.test.mjs
  docs-site/scripts/sync-docs.mjs
  docs-site/scripts/sync-docs.test.mjs
Due: none

docs: reject slashless excluded routes
  docs-site/scripts/check-built-docs.mjs
  docs-site/scripts/check-built-docs.test.mjs
Due: none

docs: address OpenChoreo review findings
  docs/plans/openchoreo-floe-release-roadmap.md
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-proof/customer-360-openchoreo.yaml
Due: none

docs: sync OpenChoreo plan snippet with proof
  docs/superpowers/plans/2026-04-30-openchoreo-floe-spike.md
Due: none

docs: evaluate OpenChoreo as optional Floe platform control plane (#280)
  docs/architecture/adr/0048-openchoreo-platform-control-plane.md
  docs/plans/openchoreo-floe-release-roadmap.md
  docs/research/openchoreo-floe-hypotheses.md
  docs/research/openchoreo-floe-mapping.md
  docs/research/openchoreo-floe-spike-results.md
  docs/research/openchoreo-floe-triage.md
  docs/research/openchoreo-proof/customer-360-openchoreo.yaml
  docs/superpowers/plans/2026-04-30-openchoreo-floe-spike.md
  docs/superpowers/specs/2026-04-30-openchoreo-floe-spike-design.md
Due: none

test: address docs review feedback
  testing/ci/run_customer_360_demo.py
  testing/ci/tests/test_plugin_docs_consistency.py
  testing/ci/tests/test_run_customer_360_demo.py
  testing/ci/tests/test_validate_docs_content.py
  testing/ci/validate_docs_content.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: design persona aligned onboarding reset
  docs/superpowers/specs/2026-04-30-persona-docs-kubernetes-onboarding-design.md
Due: none

docs: plan persona onboarding reset
  docs/superpowers/plans/2026-04-30-persona-docs-kubernetes-onboarding.md
Due: none

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
