Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: wire Dagster demo PostgreSQL settings
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
Due: none

fix: fail fast on failed E2E jobs
  testing/ci/test-e2e-cluster.sh
  tests/unit/test_validation_boundary_markers.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: increase demo Dagster memory
  charts/floe-platform/values-demo.yaml
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align Dagster webserver port contract
  charts/floe-platform/values.yaml
  testing/tests/unit/test_dagster_webserver_port_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: stabilize demo Dagster deployment
  charts/floe-platform/templates/NOTES.txt
  charts/floe-platform/templates/tests/test-connection.yaml
  charts/floe-platform/tests/test-connection_test.yaml
  charts/floe-platform/values-demo.yaml
  testing/tests/unit/test_dagster_webserver_port_contract.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: add validation lane markers
  pyproject.toml
  tests/e2e/conftest.py
  tests/unit/test_validation_boundary_markers.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: strengthen validation lane marker coverage
  tests/unit/test_validation_boundary_markers.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: classify validation outliers by execution lane
  tests/e2e/test_governance.py
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_profile_isolation.py
  tests/e2e/test_runtime_loader_e2e.py
  tests/unit/test_validation_boundary_markers.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: gate e2e smoke check by execution lane
  tests/e2e/conftest.py
  tests/unit/test_validation_boundary_markers.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: split validation runners by execution lane
  charts/floe-platform/templates/tests/job-e2e.yaml
  testing/ci/test-bootstrap-validation.sh
  testing/ci/test-developer-workflow.sh
  testing/ci/test-e2e-cluster.sh
  testing/ci/test-e2e-full.sh
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: fix destructive lane fallback wiring
  testing/ci/test-e2e-full.sh
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: harden cleanup summary path
  testing/ci/test-e2e-full.sh
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: tighten destructive lane orchestration
  testing/ci/test-e2e-full.sh
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: verify Polaris namespace reset before dbt execution
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: align namespace reset verification with spec
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: fail closed on namespace reset verification
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: fail closed on reset cleanup drift
  tests/e2e/dbt_utils.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: fail closed on partial storage reset
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
  tests/unit/test_iceberg_purge.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: preserve primary dbt fixture failures
  tests/e2e/conftest.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: fail closed on purge enumeration drift
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: short-circuit verified missing namespaces
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: attempt both teardown namespace resets
  tests/e2e/conftest.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: suppress raw teardown reset errors
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: normalize fallback endpoint resolution failures
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: defer storage endpoint resolution until needed
  tests/e2e/dbt_utils.py
  tests/unit/test_dbt_namespace_reset.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: describe validation lanes
  TESTING.md
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden validation lanes and demo image wiring
  .env.example
  Makefile
  charts/floe-platform/templates/tests/_test-job.tpl
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
  charts/floe-platform/values-test.yaml
  demo/manifest.yaml
  packages/floe-core/pyproject.toml
  packages/floe-core/uv.lock
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  pyproject.toml
  testing/ci/common.sh
  testing/ci/polaris-auth.sh
  testing/ci/resolve-demo-image-ref.py
  testing/ci/test-e2e-cluster.sh
  testing/ci/test-e2e.sh
  testing/ci/test-unit-c-boundary.sh
  testing/ci/tests/test_e2e_sh_manifest_wiring.py
  testing/ci/wait-for-services.sh
  testing/fixtures/credentials.py
  testing/fixtures/polaris.py
  testing/k8s/setup-cluster.sh
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_polaris_fixture.py
  testing/tests/unit/test_polaris_manifest_settings.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_governance.py
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/tests/test_polaris_jdbc_durability.py
  tests/unit/test_dbt_namespace_reset.py
  tests/unit/test_demo_platform_catalog_contract.py
  tests/unit/test_e2e_runner_devpod_path.py
  tests/unit/test_unit_c_boundary_wrapper.py
  tests/unit/test_validation_boundary_markers.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add validation architecture design artifacts
  docs/superpowers/plans/2026-04-23-validation-architecture-reset.md
  docs/superpowers/specs/2026-04-23-validation-architecture-reset-design.md
Due: none

Fix CI validation review blockers
  testing/ci/common.sh
  testing/ci/resolve-demo-image-ref.py
  testing/ci/test-e2e-full.sh
  testing/tests/unit/test_polaris_manifest_settings.py
  tests/contract/test_demo_platform_catalog_contract.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
  tests/unit/test_dbt_namespace_reset.py
  tests/unit/test_validation_boundary_markers.py
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix repo-wide lint ordering
  testing/tests/unit/test_polaris_fixture.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Avoid storing dbt profile config on disk
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align local pre-push hooks with CI
  .github/CI.md
  .github/actions/uv-security-audit/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/setup-hooks.sh
  testing/ci/resolve-demo-image-ref.py
  testing/ci/test-bootstrap-validation.sh
  testing/ci/test-developer-workflow.sh
  testing/ci/tests/test_e2e_sh_manifest_wiring.py
  testing/ci/uv-security-audit.sh
  testing/ci/validate-dbt-version-requirements.sh
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_polaris_manifest_settings.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
  tests/unit/test_conftest_rbac.py
  tests/unit/test_dbt_namespace_reset.py
  tests/unit/test_e2e_runner_devpod_path.py
  tests/unit/test_validation_boundary_markers.py
  tests/unit/test_validation_runner_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address validation lane review feedback
  plugins/floe-orchestrator-dagster/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/py.typed
  scripts/setup-hooks.sh
  testing/ci/common.sh
  testing/ci/resolve-demo-image-ref.py
  testing/ci/uv-security-audit.sh
  tests/contract/test_demo_platform_catalog_contract.py
  tests/e2e/conftest.py
  tests/unit/test_validation_boundary_markers.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: add alpha reliability closure design
  docs/superpowers/specs/2026-04-25-alpha-reliability-closure-design.md
Due: none

docs: add alpha reliability closure plan
  docs/superpowers/plans/2026-04-25-alpha-reliability-closure.md
Due: none

ci: preserve helm integration diagnostics
  .github/workflows/helm-ci.yaml
  docs/validation/2026-04-25-helm-ci-failure-classification.md
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: collapse dagster definitions onto runtime loader
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/loader.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: align dagster runtime collapse expectations
  plugins/floe-orchestrator-dagster/tests/unit/test_definitions.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin_lineage_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align dagster runtime collapse wiring
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/integration/test_dagster.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
