Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

Remove stale dlt health config path
  docs/architecture/adr/0020-ingestion-plugins.md
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  specs/4f-ingestion-plugin/plan.md
  specs/4f-ingestion-plugin/research.md
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align dlt health docs with runtime checks
  specs/4f-ingestion-plugin/contracts/dlt_ingestion_plugin_api.md
  specs/4f-ingestion-plugin/spec.md
  specs/4f-ingestion-plugin/tasks.md
Due: none

Clarify dlt filesystem Iceberg wording
  docs/architecture/adr/0020-ingestion-plugins.md
  specs/4f-ingestion-plugin/contracts/dlt_ingestion_plugin_api.md
  specs/4f-ingestion-plugin/data-model.md
  specs/4f-ingestion-plugin/plan.md
  specs/4f-ingestion-plugin/quickstart.md
  specs/4f-ingestion-plugin/research.md
  specs/4f-ingestion-plugin/spec.md
Due: none

Reject stale dlt catalog config
  docs/superpowers/plans/2026-05-05-dlt-ingestion-e2e.md
  docs/superpowers/plans/2026-05-07-dlt-ingestion-composition-uplift.md
  docs/superpowers/plans/2026-05-08-dlt-ingestion-api-cleanup.md
  docs/superpowers/specs/2026-05-05-dlt-ingestion-e2e-design.md
  docs/superpowers/specs/2026-05-07-dlt-ingestion-composition-uplift-design.md
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/errors.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_dlt_iceberg_destination.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Expose ingestion output table state
  packages/floe-core/src/floe_core/compilation/builder.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden ingestion output contract validation
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_resolved_governance_contract.py
  tests/fixtures/golden/compiled_artifacts_v2_schema.json
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align ingestion output path schema
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_golden_regression.py
  tests/fixtures/golden/compiled_artifacts_v2_schema.json
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Validate ingestion output tables as platform state
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/validation/test_iceberg_outputs.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Deduplicate Iceberg validation tables
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/validation/test_iceberg_outputs.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Clean stale dlt compatibility references
  docs/plans/epics/04-core-plugins/epic-04g-reverse-etl.md
  specs/1-plugin-registry/data-model.md
  specs/4f-ingestion-plugin/.linear-mapping.json
  specs/4g-reverse-etl-sink/spec.md
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Generate dbt Iceberg pickup config
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dbt Iceberg attach generation
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  plugins/floe-compute-duckdb/tests/unit/test_security_hardening.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Move Iceberg catalog endpoints behind plugin projections
  docs/contracts/compiled-artifacts.md
  docs/superpowers/plans/2026-05-08-dlt-ingestion-api-cleanup.md
  packages/floe-core/src/floe_core/cli/helm/generate.py
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/src/floe_core/plugins/compute.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  tests/contract/test_compilation.py
  tests/contract/test_resolved_governance_contract.py
  tests/fixtures/golden/compiled_artifacts_v2_schema.json
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Update OCI pull golden for ingestion outputs
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
Due: none

Harden dlt E2E ingestion validation
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  tests/e2e/test_customer360_dlt_ingestion.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
  tests/unit/test_dlt_e2e_cleanup_helpers.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix dlt filesystem preflight and run pod catalog env
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Wire dbt Iceberg OAuth through catalog bindings
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix DuckDB Iceberg secret profile shape
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix dlt contract artifacts and type gates
  docs/contracts/compiled-artifacts.md
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/io_manager.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/dbt_resource.py
  tests/contract/test_golden_regression.py
  tests/fixtures/golden/compiled_artifacts_v2_schema.json
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden observability E2E lineage trigger
  tests/e2e/conftest.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Expose product Dagster job for demo validation
  demo/customer-360/validation.yaml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add post-composition audit scaffolds
  docs/validation/2026-05-09-post-composition-compatibility-ledger.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
  docs/validation/2026-05-09-post-composition-plugin-matrix.md
Due: none

Record post-composition baseline health
  docs/validation/2026-05-09-post-composition-integration-audit.md
Due: none

Record post-composition contract boundary audit
  docs/validation/2026-05-09-post-composition-compatibility-ledger.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
Due: none

Record post-composition plugin composability matrix
  docs/validation/2026-05-09-post-composition-integration-audit.md
  docs/validation/2026-05-09-post-composition-plugin-matrix.md
Due: none

Record post-composition compatibility ledger
  docs/validation/2026-05-09-post-composition-compatibility-ledger.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
Due: none

Record post-composition documentation truth pass
  docs/validation/2026-05-09-post-composition-docs-truth-pass.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
Due: none

Record post-composition runtime validation
  docs/validation/2026-05-09-post-composition-integration-audit.md
  docs/validation/2026-05-09-post-composition-runtime-validation.md
Due: none

Summarize post-composition integration audit
  docs/validation/2026-05-09-post-composition-final-synthesis.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
Due: none

Add post-composition cleanup roadmap design
  docs/superpowers/specs/2026-05-09-post-composition-cleanup-roadmap-design.md
Due: none

Add post-composition cleanup roadmap plan
  docs/superpowers/plans/2026-05-09-post-composition-cleanup-roadmap.md
Due: none

Narrow strict MinIO stale reference scan
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Record strict MinIO cleanup validation
  docs/validation/2026-05-09-post-composition-strict-minio-cleanup.md
Due: none

Reconcile post-composition documentation truth
  AGENTS.md
  CLAUDE.md
  README.md
  TESTING.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/compute-plugin.md
  docs/architecture/interfaces/data-quality-plugin.md
  docs/architecture/interfaces/dbt-plugin.md
  docs/architecture/interfaces/identity-plugin.md
  docs/architecture/interfaces/index.md
  docs/architecture/interfaces/ingestion-plugin.md
  docs/architecture/interfaces/lineage-backend-plugin.md
  docs/architecture/interfaces/orchestrator-plugin.md
  docs/architecture/interfaces/secrets-plugin.md
  docs/architecture/interfaces/semantic-layer-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/interfaces/telemetry-backend-plugin.md
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/architecture/storage-integration.md
Due: none

Update secrets baseline after docs reconciliation
  .secrets.baseline
Due: none

Fix active plugin category count
  AGENTS.md
Due: none

Design binding-first Dagster Iceberg runtime
  docs/superpowers/specs/2026-05-09-binding-first-dagster-iceberg-runtime-design.md
Due: none

Design identity and credential projections
  docs/superpowers/specs/2026-05-09-identity-credential-projections-design.md
Due: none

Clarify identity projection contract sources
  docs/superpowers/specs/2026-05-09-identity-credential-projections-design.md
Due: none

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
