Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

docs(4d): spec quality uplift — version alignment, wiring coverage, checks & balances
  specs/4d-storage-plugin/plan.md
  specs/4d-storage-plugin/research.md
  specs/4d-storage-plugin/spec.md
  specs/4d-storage-plugin/tasks.md
Due: none

chore: sync .linear-mapping.json with 15 new Linear issues (T007a, T108-T121)
  .beads/issues.jsonl
  specs/4d-storage-plugin/.linear-mapping.json
Due: none

feat(4d): implement Iceberg resource wiring and DriftDetector boundary (T108-T121)
  packages/floe-core/src/floe_core/enforcement/validators/data_contracts.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/conftest.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  tests/contract/test_drift_detector_boundary.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4d): IOManager Dagster integration tests and 3 bug fixes (T101/FLO-805)
  .beads/issues.jsonl
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/io_manager.py
  plugins/floe-orchestrator-dagster/tests/integration/test_iceberg_io_manager.py
  plugins/floe-orchestrator-dagster/tests/unit/test_io_manager.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4d): rewrite IOManager integration tests with real Polaris + MinIO
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/io_manager.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  plugins/floe-orchestrator-dagster/tests/integration/test_iceberg_io_manager.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: add quality escalation protocol and constitution Principle IX
  .claude/rules/quality-escalation.md
  .claude/rules/testing-standards.md
  .specify/memory/constitution.md
  CLAUDE.md
Due: none

fix(storage): K8s test execution + quality hardening (FLO-2373/2374/2376/2377)
  Makefile
  packages/floe-iceberg/src/floe_iceberg/__init__.py
  packages/floe-iceberg/src/floe_iceberg/compaction.py
  packages/floe-iceberg/src/floe_iceberg/errors.py
  packages/floe-iceberg/src/floe_iceberg/telemetry.py
  packages/floe-iceberg/tests/unit/test_compaction.py
  packages/floe-iceberg/tests/unit/test_compaction_manager.py
  packages/floe-iceberg/tests/unit/test_lifecycle.py
  packages/floe-iceberg/tests/unit/test_manager.py
  packages/floe-iceberg/tests/unit/test_models.py
  packages/floe-iceberg/tests/unit/test_schema_manager.py
  packages/floe-iceberg/tests/unit/test_snapshot_manager.py
  packages/floe-iceberg/tests/unit/test_telemetry.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  plugins/floe-orchestrator-dagster/tests/integration/test_dagster.py
  plugins/floe-orchestrator-dagster/tests/integration/test_dbt_resource_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_assets.py
  plugins/floe-orchestrator-dagster/tests/unit/test_definitions.py
  plugins/floe-orchestrator-dagster/tests/unit/test_discovery.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_io_manager.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation.py
  testing/ci/test-integration.sh
  testing/k8s/jobs/test-runner.yaml
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(storage): resolve 3 TODO comments — add debug logging, remove incorrect API labels
  .beads/issues.jsonl
  packages/floe-iceberg/src/floe_iceberg/telemetry.py
  packages/floe-iceberg/tests/unit/test_manager.py
  packages/floe-iceberg/tests/unit/test_telemetry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): resolve all test quality review findings (P0/P1/P2)
  packages/floe-iceberg/tests/unit/test_compaction.py
  packages/floe-iceberg/tests/unit/test_compaction_manager.py
  packages/floe-iceberg/tests/unit/test_lifecycle.py
  packages/floe-iceberg/tests/unit/test_manager.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  plugins/floe-orchestrator-dagster/tests/unit/test_assets.py
  plugins/floe-orchestrator-dagster/tests/unit/test_definitions.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: remove deprecated Dataset class and bump pyiceberg to 0.11.0rc2
  benchmarks/test_dagster_plugin_perf.py
  packages/floe-core/src/floe_core/plugins/__init__.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  packages/floe-iceberg/pyproject.toml
  plugins/floe-catalog-polaris/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/conftest.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: add --no-sync to all uv run calls in git hooks
  .pre-commit-config.yaml
  scripts/setup-hooks.sh
Due: none

fix: resolve ruff lint/format issues and remove stale Dataset tests
  packages/floe-core/tests/unit/test_orchestrator_plugin.py
  packages/floe-iceberg/src/floe_iceberg/compaction.py
  packages/floe-iceberg/tests/unit/test_compaction.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/io_manager.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  plugins/floe-orchestrator-dagster/tests/integration/test_iceberg_io_manager.py
  plugins/floe-orchestrator-dagster/tests/unit/test_assets.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_io_manager.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation.py
  tests/contract/test_drift_detector_boundary.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(benchmarks): pass RunState enum instead of string to emit_lineage_event
  benchmarks/test_dagster_plugin_perf.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(benchmarks): reduce CodSpeed inner loops and strengthen assertions
  benchmarks/test_data_contracts_perf.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

ci(codspeed): trigger benchmarks on PR synchronize events
  .github/workflows/codspeed.yml
Due: none

fix(benchmarks): correct YAML indentation in combined perf test
  benchmarks/test_data_contracts_perf.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: sync .linear-mapping.json with 15 new Linear issues (T007a, T108-T121)
  .beads/issues.jsonl
Due: none

docs(4e): add spec artifacts for Epic 4E Semantic Layer Plugin
  .beads/issues.jsonl
  specs/4e-semantic-layer/.linear-mapping.json
  specs/4e-semantic-layer/plan.md
  specs/4e-semantic-layer/spec.md
  specs/4e-semantic-layer/tasks.md
Due: none

feat(4e): Epic 4E Phase 1-4 — Cube semantic layer plugin foundation (T001-T022)
  .beads/issues.jsonl
  packages/floe-core/src/floe_core/plugins/semantic.py
  plugins/floe-semantic-cube/README.md
  plugins/floe-semantic-cube/pyproject.toml
  plugins/floe-semantic-cube/src/floe_semantic_cube/__init__.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/config.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/errors.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/py.typed
  plugins/floe-semantic-cube/src/floe_semantic_cube/tracing.py
  plugins/floe-semantic-cube/tests/conftest.py
  plugins/floe-semantic-cube/tests/integration/conftest.py
  plugins/floe-semantic-cube/tests/integration/test_discovery.py
  plugins/floe-semantic-cube/tests/integration/test_health_check.py
  plugins/floe-semantic-cube/tests/unit/conftest.py
  plugins/floe-semantic-cube/tests/unit/test_config.py
  plugins/floe-semantic-cube/tests/unit/test_errors.py
  plugins/floe-semantic-cube/tests/unit/test_plugin.py
  testing/fixtures/semantic.py
  tests/contract/test_core_to_semantic_contract.py
  tests/contract/test_semantic_layer_abc.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4e): Phase 5 — CubeSchemaGenerator with dbt manifest-to-Cube YAML (T023-T030)
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/schema_generator.py
  plugins/floe-semantic-cube/tests/unit/test_schema_generator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4e): Phase 6 — DuckDB Cube datasource config (T031-T032)
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_cube_datasource.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4e): Phase 8 — Cube Helm subchart with API, Refresh Worker, Cube Store (T033-T041)
  charts/floe-platform/Chart.yaml
  charts/floe-platform/charts/cube/Chart.yaml
  charts/floe-platform/charts/cube/templates/_helpers.tpl
  charts/floe-platform/charts/cube/templates/configmap.yaml
  charts/floe-platform/charts/cube/templates/deployment-api.yaml
  charts/floe-platform/charts/cube/templates/deployment-refresh-worker.yaml
  charts/floe-platform/charts/cube/templates/secret.yaml
  charts/floe-platform/charts/cube/templates/service-api.yaml
  charts/floe-platform/charts/cube/templates/service-cube-store.yaml
  charts/floe-platform/charts/cube/templates/service-sql.yaml
  charts/floe-platform/charts/cube/templates/statefulset-cube-store.yaml
  charts/floe-platform/charts/cube/values.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

feat(4e): Phase 6a — Dagster orchestrator semantic wiring (T047-T050)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/semantic.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_resources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4e): Phase 11 — Quality gates, tracing tests, and polish (T042-T046)
  plugins/floe-semantic-cube/src/floe_semantic_cube/__init__.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/schema_generator.py
  plugins/floe-semantic-cube/tests/integration/test_discovery.py
  plugins/floe-semantic-cube/tests/integration/test_health_check.py
  plugins/floe-semantic-cube/tests/unit/test_errors.py
  plugins/floe-semantic-cube/tests/unit/test_plugin.py
  plugins/floe-semantic-cube/tests/unit/test_schema_generator.py
  plugins/floe-semantic-cube/tests/unit/test_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4e): Phase 6a — Integration test for semantic orchestrator wiring (T051)
  plugins/floe-orchestrator-dagster/tests/integration/test_semantic_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): security hardening, test quality fixes, and golden regression baseline
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/tests/integration/test_semantic_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_sync_asset.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_wiring_unit.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/schema_generator.py
  plugins/floe-semantic-cube/tests/unit/test_schema_generator.py
  testing/fixtures/semantic.py
  tests/contract/test_golden_regression.py
  tests/fixtures/golden/plugin_interfaces_v1.json
  tests/fixtures/golden/v0.5_compiled_artifacts_with_semantic.json
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): wire sync_semantic_schemas asset into Dagster Definitions
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): wire tracing.py into semantic_sync and health_check (FR-048)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_sync_asset.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): use SecretStr type for api_secret in test fixture (mypy strict)
  testing/fixtures/semantic.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(4e): fix pre-commit lint, format, and secrets baseline
  .secrets.baseline
  plugins/floe-compute-duckdb/tests/unit/test_cube_datasource.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/semantic.py
  plugins/floe-orchestrator-dagster/tests/integration/test_semantic_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_sync_asset.py
  plugins/floe-orchestrator-dagster/tests/unit/test_semantic_wiring_unit.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/schema_generator.py
  plugins/floe-semantic-cube/tests/integration/test_health_check.py
  plugins/floe-semantic-cube/tests/unit/test_plugin.py
  plugins/floe-semantic-cube/tests/unit/test_schema_generator.py
  plugins/floe-semantic-cube/tests/unit/test_tracing.py
  testing/fixtures/semantic.py
  tests/contract/test_core_to_semantic_contract.py
  tests/contract/test_golden_regression.py
  tests/contract/test_semantic_layer_abc.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): add floe-semantic-cube to workspace and fix Cube Helm secret
  charts/floe-platform/charts/cube/templates/secret.yaml
  pyproject.toml
  uv.lock
Due: none

fix(4e): resolve SonarCloud security hotspots
  charts/floe-platform/charts/cube/templates/secret.yaml
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4e): address SonarCloud security hotspots and CI review feedback
  plugins/floe-semantic-cube/src/floe_semantic_cube/config.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: sync .linear-mapping.json with 62 Epic 4F Linear issues (FLO-2432 to FLO-2493)
  .beads/issues.jsonl
  specs/4f-ingestion-plugin/.linear-mapping.json
Due: none

feat(4f): Phase 1 — ingestion plugin scaffold, config, errors, tracing, retry, fixtures
  plugins/floe-ingestion-dlt/README.md
  plugins/floe-ingestion-dlt/pyproject.toml
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/__init__.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/config.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/errors.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/py.typed
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/retry.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
  plugins/floe-ingestion-dlt/tests/conftest.py
  plugins/floe-ingestion-dlt/tests/integration/conftest.py
  plugins/floe-ingestion-dlt/tests/unit/conftest.py
  testing/fixtures/__init__.py
  testing/fixtures/ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 2 — plugin lifecycle, health check, capabilities, full exports
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/__init__.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 3 — US1 plugin discovery, ABC compliance, health check tests
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_discovery.py
  plugins/floe-ingestion-dlt/tests/integration/test_health_check.py
  pyproject.toml
  tests/contract/test_core_to_ingestion_contract.py
  tests/contract/test_ingestion_plugin_abc.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
