Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

fix(e2e): add --skip-schema-validation to helm template test calls
  .secrets.baseline
  tests/e2e/test_governance.py
  tests/integration/helm/test_networkpolicy.py
  tests/integration/helm/test_platform_template.py
  tests/integration/helm/test_security_regression.py
  tests/integration/helm/test_security_scan.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): remove dbt-profiles from floe-jobs default volumes
  charts/floe-jobs/values.yaml
Due: none

fix(make): default SKIP_MONITORING=true in kind-up target
  Makefile
Due: none

fix(governance): add default_ttl_hours and snapshot_keep_last to GovernanceConfig
  demo/manifest.yaml
  packages/floe-core/src/floe_core/schemas/manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(kind): remap Marquez NodePort hostPort 5000→5100
  testing/k8s/kind-config.yaml
Due: none

fix(governance): use non-Annotated Field syntax for mypy compatibility
  packages/floe-core/src/floe_core/schemas/manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): ignore pyOpenSSL 25.3.0 vulns pending 26.0.0 upgrade
  .pre-commit-config.yaml
Due: none

fix(test): update OTel span test fixtures for deferred tracer pattern
  packages/floe-core/tests/unit/oci/test_signing.py
  packages/floe-core/tests/unit/oci/test_verification.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(contract): add governance schema fields to contract spec
  specs/3a-policy-enforcer/contracts/governance-schema.json
Due: none

fix: address PR review comments (#160)
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve 7 E2E failures — ports, OTel, assets, Helm, configs, governance (#160)
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  charts/floe-jobs/values.yaml
  demo/manifest.yaml
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/oci/signing.py
  packages/floe-core/src/floe_core/oci/verification.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/tests/unit/oci/test_signing.py
  packages/floe-core/tests/unit/oci/test_verification.py
  specs/3a-policy-enforcer/contracts/governance-schema.json
  testing/ci/test-e2e.sh
  testing/k8s/kind-config.yaml
  tests/e2e/conftest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_governance.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/integration/helm/test_networkpolicy.py
  tests/integration/helm/test_platform_template.py
  tests/integration/helm/test_security_regression.py
  tests/integration/helm/test_security_scan.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): correct DuckDB backup path assertion to match :memory: profiles
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): clean up stale K8s jobs before running tests
  testing/ci/test-e2e.sh
Due: none

fix(e2e): add helm release recovery and idempotent namespace to test_helm_workflow
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): extract shared .vuln-ignore for pre-commit and E2E tests
  .pre-commit-config.yaml
  .vuln-ignore
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): address PR review — guard empty vuln-ignore, wait timeout, job --wait
  .pre-commit-config.yaml
  testing/ci/test-e2e.sh
  tests/e2e/test_governance.py
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve test infrastructure issues blocking clean signal (#167)
  .pre-commit-config.yaml
  .vuln-ignore
  testing/ci/test-e2e.sh
  tests/e2e/test_dbt_e2e_profile.py
  tests/e2e/test_governance.py
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): add lifecycle fields to ResolvedGovernance + bump to v0.9.0
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): wire lifecycle fields in ENFORCE stage + structlog diagnostics
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(iceberg): add from_governance() builder to IcebergTableManagerConfig
  packages/floe-iceberg/src/floe_iceberg/models.py
  packages/floe-iceberg/tests/unit/test_table_manager_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(dagster): thread governance through Iceberg resource factory call chain
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): add contract tests for lifecycle field wiring (T5)
  tests/contract/test_resolved_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): replace yaml.safe_load with compile_pipeline in E2E tests (T6)
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(contract): update version assertion for 0.9.0 compatibility (AC-10)
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve WARN findings from verification gates (S1, W1, W3)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-iceberg/src/floe_iceberg/models.py
  packages/floe-iceberg/tests/unit/test_table_manager_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): use governance-derived values instead of hardcoded table properties
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: address PR review findings from security, Claude, and Greptile reviews
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-iceberg/src/floe_iceberg/models.py
  packages/floe-iceberg/tests/unit/test_table_manager_config.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): wire lifecycle fields through CompiledArtifacts to Iceberg plugin (#168)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_stages.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  packages/floe-iceberg/src/floe_iceberg/models.py
  packages/floe-iceberg/tests/unit/test_table_manager_config.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  tests/contract/test_compilation.py
  tests/contract/test_resolved_governance_contract.py
  tests/e2e/test_schema_evolution.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage-resource): T1+T2 — LineageResource and NoOpLineageResource
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage-resource): T3 — factory functions + @resource wiring
  .secrets.baseline
  packages/floe-core/src/floe_core/plugin_types.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage-resource): T4 — wire lineage into create_definitions()
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin_lineage_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage-resource): T5 — export lineage factories from resources package
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/__init__.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin_lineage_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage-resource): resolve verify warnings — security, dead code, atexit
  packages/floe-core/src/floe_core/plugin_types.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: add pyasn1 GHSA-jr27-m4p2-rc6r to vuln-ignore
  .vuln-ignore
Due: none

fix(lineage-resource): address PR review — resource leaks, eager creation, signatures
  .secrets.baseline
  packages/floe-core/src/floe_core/plugin_types.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage-resource): add try/finally cleanup to all direct LineageResource tests
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage-resource): LineageResource + NoOp + Dagster wiring (#170)
  .secrets.baseline
  .vuln-ignore
  packages/floe-core/src/floe_core/plugin_types.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
  plugins/floe-orchestrator-dagster/tests/unit/test_plugin_lineage_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(asset-emission/T1): add extract_dbt_model_lineage() with 42 tests
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/lineage_extraction.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_extraction.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(asset-emission/T2): wire lineage emission into _asset_fn() with 31 tests
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_asset_lineage_emission.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(asset-emission/T3): remove dead lineage code from plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
