Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

Design dlt ingestion E2E strategy
  docs/superpowers/specs/2026-05-05-dlt-ingestion-e2e-design.md
Due: none

Plan dlt ingestion E2E implementation
  docs/superpowers/plans/2026-05-05-dlt-ingestion-e2e.md
Due: none

Design MinIO storage architecture
  docs/superpowers/specs/2026-05-05-storage-minio-architecture-design.md
Due: none

Add product ingestion schema
  .secrets.baseline
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/schemas/test_floe_spec_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Reject credential-bearing ingestion paths
  .secrets.baseline
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/schemas/test_floe_spec_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Plan MinIO storage architecture implementation
  docs/superpowers/plans/2026-05-05-storage-minio-architecture.md
Due: none

Export ingestion schema models
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/tests/unit/schemas/test_floe_spec_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: add storage deployment binding contract
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Close ingestion validator edge cases
  .secrets.baseline
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/schemas/test_floe_spec_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Merge product ingestion sources into artifacts
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: harden storage credential binding schema
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Tighten ingestion artifact contract
  packages/floe-core/src/floe_core/compilation/stages.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: complete storage deployment contract hardening
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_compiled_artifacts_schema.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align ingestion sources with dlt config
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix ingestion resolver test isolation
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align storage deployment contract shape
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Guard dlt-specific ingestion resolution
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: validate storage deployment references
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add dlt filesystem source construction
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: rename storage plugin to minio
  .github/workflows/pypi-publish.yml
  plugins/floe-storage-minio/README.md
  plugins/floe-storage-minio/pyproject.toml
  plugins/floe-storage-minio/src/floe_storage_minio/__init__.py
  plugins/floe-storage-minio/src/floe_storage_minio/config.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
  plugins/floe-storage-s3/src/floe_storage_s3/__init__.py
  pyproject.toml
  tests/contract/test_storage_minio_rename.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix dlt filesystem path handling
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: complete minio storage plugin rename
  docker/dagster-demo/Dockerfile
  packages/floe-core/tests/unit/test_plugin_connect_guards.py
  packages/floe-core/tests/unit/test_plugin_super_init.py
  tests/contract/test_storage_minio_rename.py
  tests/unit/test_pyiceberg_version_pin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Enable Dagster ingestion assets from compiled JSON
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Guard JSON ingestion source compatibility path
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: remove active s3 storage plugin references
  demo/manifest.yaml
  packages/floe-core/src/floe_core/schemas/plugins.py
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_inheritance.py
  packages/floe-core/tests/unit/schemas/test_plugins.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_capability_policy.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_resource_factories.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_lineage_strictness.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/validation/test_iceberg_outputs.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  testing/ci/tests/test_extract_manifest_config.py
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
  testing/tests/unit/test_demo_packaging.py
  tests/contract/test_compilation.py
  tests/contract/test_resource_factory_semantics.py
  tests/contract/test_s3_endpoint_preservation.py
  tests/e2e/conftest.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: update minio storage references in docs
  docs/architecture/ARCHITECTURE-SUMMARY.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/opinionation-boundaries.md
  docs/architecture/plugin-system/interfaces.md
  docs/architecture/storage-integration.md
  docs/guides/04-building-blocks.md
  docs/guides/pypi-trusted-publishers.md
  docs/internal/agent-skills/duckdb-lakehouse.md
  docs/validation/2026-04-28-alpha-release-hardening.md
  plugins/floe-storage-minio/src/floe_storage_minio/__init__.py
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Wire ingestion into Dagster runtime builder
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/integration/test_ingestion_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix dagster plugin test pythonpath
  plugins/floe-orchestrator-dagster/pyproject.toml
Due: no-dbt-runner-in-orchestrator

fix: finish strict minio reference cleanup
  docs/architecture/DBT-ARCHITECTURE-CLARIFICATION.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/storage-integration.md
  packages/floe-core/src/floe_core/plugins/storage.py
  packages/floe-iceberg/src/floe_iceberg/__init__.py
  packages/floe-iceberg/src/floe_iceberg/manager.py
  plugins/floe-orchestrator-dagster/tests/integration/test_loud_failure_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  specs/001-compute-plugin/research.md
  specs/2a-manifest-schema/contracts/manifest.schema.json
  specs/2a-manifest-schema/quickstart.md
  specs/4d-storage-plugin/contracts/iceberg_io_manager_api.md
  specs/4d-storage-plugin/contracts/iceberg_table_manager_api.md
  specs/4d-storage-plugin/quickstart.md
  specs/4d-storage-plugin/research.md
  specs/4d-storage-plugin/spec.md
  testing/tests/unit/test_credentials.py
  tests/contract/fixtures/v1.0_manifest.json
  tests/contract/test_storage_minio_rename.py
  tests/e2e/test_governance_enforcement_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix ingestion workload detection
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: close remaining minio rename references
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/interfaces/storage-plugin.md
  docs/requirements/01-plugin-architecture/05-storage-plugin.md
  packages/floe-core/src/floe_core/plugins/storage.py
  specs/4d-storage-plugin/research.md
  specs/4d-storage-plugin/spec.md
  specs/4d-storage-plugin/tasks.md
  tests/contract/test_storage_minio_rename.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: include generated skills in minio rename scan
  .claude/skills/generated/plugins/SKILL.md
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: broaden minio rename contract scan
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align dlt Iceberg destination config
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_dlt_iceberg_destination.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: tighten minio rename guard patterns
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/plugin-system/interfaces.md
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Honor dlt health check timeouts
  plugins/floe-ingestion-dlt/pyproject.toml
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: allow minio package in docs validation
  docs-site/scripts/check-source-docs.mjs
  docs-site/scripts/check-source-docs.test.mjs
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: harden minio runtime rename guard
  docs/architecture/adr/0036-storage-plugin-interface.md
  plugins/floe-storage-minio/src/floe_storage_minio/py.typed
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Scope dlt Iceberg env and health probes
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align minio ADR and runtime guard
  docs/architecture/adr/0036-storage-plugin-interface.md
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
