Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

Decompose secondary composition designs
  docs/superpowers/specs/2026-05-09-compute-composition-contract-design.md
  docs/superpowers/specs/2026-05-09-network-security-composition-design.md
  docs/superpowers/specs/2026-05-09-rbac-composition-design.md
  docs/superpowers/specs/2026-05-09-semantic-datasource-binding-design.md
Due: none

Design compatibility retirement
  docs/superpowers/specs/2026-05-09-compatibility-retirement-design.md
Due: none

Clarify public API retirement gates
  docs/superpowers/specs/2026-05-09-compatibility-retirement-design.md
Due: none

Remove stale S3 storage type doc example
  docs/architecture/storage-integration.md
Due: none

[codex] Post-composition cleanup roadmap (#327)
  .secrets.baseline
  AGENTS.md
  CLAUDE.md
  README.md
  TESTING.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/compute-plugin.md
  docs/architecture/interfaces/data-quality-plugin.md
  docs/architecture/interfaces/dbt-plugin.md
  docs/architecture/interfaces/identity-plugin.md
  docs/architecture/interfaces/index.md
  docs/architecture/interfaces/ingestion-plugin.md
  docs/architecture/interfaces/lineage-backend-plugin.md
  docs/architecture/interfaces/orchestrator-plugin.md
  docs/architecture/interfaces/secrets-plugin.md
  docs/architecture/interfaces/semantic-layer-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/interfaces/telemetry-backend-plugin.md
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/architecture/storage-integration.md
  docs/superpowers/plans/2026-05-09-post-composition-cleanup-roadmap.md
  docs/superpowers/specs/2026-05-09-binding-first-dagster-iceberg-runtime-design.md
  docs/superpowers/specs/2026-05-09-compatibility-retirement-design.md
  docs/superpowers/specs/2026-05-09-compute-composition-contract-design.md
  docs/superpowers/specs/2026-05-09-identity-credential-projections-design.md
  docs/superpowers/specs/2026-05-09-network-security-composition-design.md
  docs/superpowers/specs/2026-05-09-post-composition-cleanup-roadmap-design.md
  docs/superpowers/specs/2026-05-09-rbac-composition-design.md
  docs/superpowers/specs/2026-05-09-semantic-datasource-binding-design.md
  docs/validation/2026-05-09-post-composition-compatibility-ledger.md
  docs/validation/2026-05-09-post-composition-docs-truth-pass.md
  docs/validation/2026-05-09-post-composition-final-synthesis.md
  docs/validation/2026-05-09-post-composition-integration-audit.md
  docs/validation/2026-05-09-post-composition-plugin-matrix.md
  docs/validation/2026-05-09-post-composition-runtime-validation.md
  docs/validation/2026-05-09-post-composition-strict-minio-cleanup.md
  tests/contract/test_storage_minio_rename.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Plan binding-first Dagster Iceberg runtime
  docs/superpowers/plans/2026-05-10-binding-first-dagster-iceberg-runtime.md
Due: none

Add runtime catalog connection projection
  packages/floe-core/src/floe_core/runtime_catalog_connection.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  packages/floe-core/tests/unit/test_runtime_catalog_connection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Translate runtime catalog projection for PyIceberg
  packages/floe-iceberg/src/floe_iceberg/runtime_catalog.py
  packages/floe-iceberg/tests/unit/test_runtime_catalog.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use runtime catalog projection for Dagster resources
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use deployment runtime config for Dagster export
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use deployment runtime config for Iceberg validation
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Remove writer storage config probing
  packages/floe-iceberg/src/floe_iceberg/writer.py
  packages/floe-iceberg/tests/unit/test_writer.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Guard binding-first Iceberg runtime ownership
  tests/contract/test_storage_binding_security.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

[codex] Binding-first Dagster Iceberg runtime (#328)
  docs/superpowers/plans/2026-05-10-binding-first-dagster-iceberg-runtime.md
  packages/floe-core/src/floe_core/runtime_catalog_connection.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  packages/floe-core/tests/unit/test_runtime_catalog_connection.py
  packages/floe-iceberg/src/floe_iceberg/runtime_catalog.py
  packages/floe-iceberg/src/floe_iceberg/writer.py
  packages/floe-iceberg/tests/unit/test_runtime_catalog.py
  packages/floe-iceberg/tests/unit/test_writer.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
  tests/contract/test_storage_binding_security.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: add provider compatibility spike design
  docs/superpowers/specs/2026-05-11-provider-compatibility-spike-design.md
Due: none

docs: plan provider compatibility spike
  docs/superpowers/plans/2026-05-11-provider-compatibility-spike.md
Due: none

docs: map provider compatibility baseline
  docs/validation/2026-05-11-provider-compatibility-system-map.md
Due: none

docs: clarify provider compatibility baseline head
  docs/validation/2026-05-11-provider-compatibility-system-map.md
Due: none

docs: add provider compatibility matrix
  docs/validation/2026-05-11-provider-compatibility-matrix.md
Due: none

docs: classify provider compatibility gaps
  docs/validation/2026-05-11-provider-compatibility-gap-ledger.md
Due: none

docs: align provider compatibility gap categories
  docs/validation/2026-05-11-provider-compatibility-gap-ledger.md
Due: none

docs: add provider compatibility live runbook
  docs/validation/2026-05-11-provider-compatibility-live-runbook.md
Due: none

docs: make Hetzner provider inventory executable
  docs/validation/2026-05-11-provider-compatibility-live-runbook.md
Due: none

docs: recommend provider compatibility path
  docs/validation/2026-05-11-provider-compatibility-final-recommendation.md
  docs/validation/2026-05-11-provider-compatibility-gap-ledger.md
Due: none

docs: use primary provider gap categories
  docs/validation/2026-05-11-provider-compatibility-gap-ledger.md
Due: none

docs: design AWS provider test account setup
  docs/superpowers/specs/2026-05-12-aws-provider-test-account-design.md
Due: none

docs: plan AWS provider test account setup
  docs/superpowers/plans/2026-05-12-aws-provider-test-account.md
Due: none

infra: add AWS provider test scaffold
  .gitignore
  infra/aws-provider-tests/README.md
  infra/aws-provider-tests/iam.tf
  infra/aws-provider-tests/locals.tf
  infra/aws-provider-tests/main.tf
  infra/aws-provider-tests/outputs.tf
  infra/aws-provider-tests/terraform.tfvars.example
  infra/aws-provider-tests/variables.tf
  infra/aws-provider-tests/versions.tf
Due: none

tools: add AWS provider test helpers
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
Due: none

tools: harden AWS provider test cleanup
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
Due: none

docs: add AWS provider testing handoff guide
  docs/contributing/aws-provider-testing.md
  docs/contributing/index.md
Due: none

docs: clarify AWS provider cleanup handoff
  docs/contributing/aws-provider-testing.md
Due: none

docs: add Floe AWS provider testing skill
  .codex/skills/floe-aws-provider-testing/SKILL.md
Due: none

tools: align AWS provider test readiness outputs
  .codex/skills/floe-aws-provider-testing/SKILL.md
  docs/contributing/aws-provider-testing.md
  infra/aws-provider-tests/outputs.tf
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
Due: none

tools: verify AWS provider test controls
  .codex/skills/floe-aws-provider-testing/SKILL.md
  infra/aws-provider-tests/outputs.tf
  infra/aws-provider-tests/variables.tf
  scripts/aws-provider-test-readiness.sh
Due: none

tools: fix AWS provider live readiness checks
  infra/aws-provider-tests/.terraform.lock.hcl
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
Due: none

chore: update urllib3 vulnerability fix
  devtools/agent-memory/uv.lock
  packages/floe-core/uv.lock
  uv.lock
Due: none

fix: address AWS provider review feedback
  .codex/skills/floe-aws-provider-testing/SKILL.md
  docs/contributing/aws-provider-testing.md
  infra/aws-provider-tests/.terraform.lock.hcl
  infra/aws-provider-tests/outputs.tf
  infra/aws-provider-tests/versions.tf
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
Due: none

Add AWS provider compatibility test account setup (#330)
  .codex/skills/floe-aws-provider-testing/SKILL.md
  .gitignore
  devtools/agent-memory/uv.lock
  docs/contributing/aws-provider-testing.md
  docs/contributing/index.md
  docs/superpowers/plans/2026-05-11-provider-compatibility-spike.md
  docs/superpowers/plans/2026-05-12-aws-provider-test-account.md
  docs/superpowers/specs/2026-05-11-provider-compatibility-spike-design.md
  docs/superpowers/specs/2026-05-12-aws-provider-test-account-design.md
  docs/validation/2026-05-11-provider-compatibility-final-recommendation.md
  docs/validation/2026-05-11-provider-compatibility-gap-ledger.md
  docs/validation/2026-05-11-provider-compatibility-live-runbook.md
  docs/validation/2026-05-11-provider-compatibility-matrix.md
  docs/validation/2026-05-11-provider-compatibility-system-map.md
  infra/aws-provider-tests/.terraform.lock.hcl
  infra/aws-provider-tests/README.md
  infra/aws-provider-tests/iam.tf
  infra/aws-provider-tests/locals.tf
  infra/aws-provider-tests/main.tf
  infra/aws-provider-tests/outputs.tf
  infra/aws-provider-tests/terraform.tfvars.example
  infra/aws-provider-tests/variables.tf
  infra/aws-provider-tests/versions.tf
  packages/floe-core/uv.lock
  scripts/aws-provider-test-cleanup.sh
  scripts/aws-provider-test-readiness.sh
  uv.lock
Due: none

docs: design AWS S3 and Glue provider plugins
  docs/superpowers/specs/2026-05-12-aws-s3-glue-provider-design.md
Due: none
