Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

Update scripts/setup-hooks.sh
  scripts/setup-hooks.sh
Due: none

chore: remove stale linear-workflow.md and beads references
  .claude/skills/speckit-implement-epic/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-merge-check/SKILL.md
  .claude/skills/speckit-pr/SKILL.md
  .claude/skills/speckit-taskstolinear/SKILL.md
  .specify/memory/constitution.md
  AGENTS.md
  CONTRIBUTING.md
  demo/README.md
  docs/guides/workflow-quickref.md
  docs/plans/README.md
Due: none

chore: remove beads issue tracker and update pre-commit hooks (#90)
  .claude/RULES_INDEX.md
  .claude/optimization-plan.md
  .claude/skills/beads/SKILL.md
  .claude/skills/beads/references/BOUNDARIES.md
  .claude/skills/beads/references/CLI_REFERENCE.md
  .claude/skills/beads/references/DEPENDENCIES.md
  .claude/skills/beads/references/ISSUE_CREATION.md
  .claude/skills/beads/references/RESUMABILITY.md
  .claude/skills/beads/references/STATIC_DATA.md
  .claude/skills/beads/references/WORKFLOWS.md
  .claude/skills/speckit-implement-epic/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-merge-check/SKILL.md
  .claude/skills/speckit-pr/SKILL.md
  .claude/skills/speckit-taskstolinear/SKILL.md
  .dockerignore
  .github/CI.md
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .specify/memory/constitution.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  demo/README.md
  docs/guides/linear-workflow.md
  docs/guides/workflow-quickref.md
  docs/plans/README.md
  scripts/setup-hooks.sh
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: remove speckit skills and stale toolchain files
  .claude/optimization-plan.md
  .claude/skill-chains.json
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-architecture-check/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-implement-epic/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-merge-check/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-pr/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstolinear/SKILL.md
  .claude/skills/speckit-test-review/SKILL.md
  .claude/skills/speckit-wiring-check/SKILL.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

chore: update CLAUDE.md, AGENTS.md, TESTING.md, and scripts for specwright
  AGENTS.md
  CLAUDE.md
  TESTING.md
  scripts/pre-pr-gate
  scripts/session-recover
Due: none

chore: update rules, agent docs, and workflow-quickref for specwright
  .claude/RULES_INDEX.md
  .claude/agents/contract-stability.md
  .claude/agents/plugin-quality.md
  .claude/agents/test-debt-analyzer.md
  .claude/rules/epic-recovery.md
  .claude/rules/quality-escalation.md
  .claude/rules/skill-invocation.md
  .claude/rules/test-organization.md
  .claude/skills/README.md
  .claude/skills/tech-debt-review/SKILL.md
  .specify/memory/constitution.md
  docs/guides/workflow-quickref.md
Due: agent-lint

chore: update ADRs, specs, and config to remove beads/omc refs
  .specwright/config.json
  .specwright/state/workflow.json
  docs/architecture/adr/0042-linear-beads-traceability.md
  docs/architecture/adr/0046-agent-memory-architecture.md
  docs/architecture/adr/index.md
  specs/13-e2e-demo-platform/analysis.md
  specs/4e-semantic-layer/tasks.md
  specs/4f-ingestion-plugin/research.md
  specs/4f-ingestion-plugin/tasks.md
Due: none

chore: update workflow state with gate results
  .specwright/state/workflow.json
Due: none

Update docs/guides/workflow-quickref.md
  docs/guides/workflow-quickref.md
Due: none

fix: address PR review — unused var, legacy state path, stale bd ref
  .claude/rules/quality-escalation.md
  scripts/pre-pr-gate
Due: none

fix: resolve E2E infrastructure blockers
  .devcontainer/Dockerfile
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  packages/floe-core/tests/unit/oci/test_client_performance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(pyiceberg): pin to PR #3010 commit for Polaris 1.2.0 PUT compat (WU-13)
  docker/dagster-demo/Dockerfile
  plugins/floe-catalog-polaris/pyproject.toml
  testing/ci/test-e2e.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(pyiceberg): add !=0.11.0 exclusion to floe-iceberg pyproject.toml (WU-13)
  packages/floe-iceberg/pyproject.toml
Due: none

fix: E2E infrastructure blockers - devcontainer, Helm values, error report
  .claude/settings.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/init-firewall.sh
  .specwright/state/workflow.json
  charts/floe-platform/charts/cube/templates/deployment-api.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  testing/E2E-ERROR-REPORT.md
Due: none

fix: resolve PR review feedback — test updates and Dagster version ARGs
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: ruff format test_demo_packaging.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve E2E infrastructure blockers (WU-13) (#100)
  .claude/settings.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/init-firewall.sh
  .specwright/state/workflow.json
  charts/floe-platform/charts/cube/templates/deployment-api.yaml
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  docker/dagster-demo/Dockerfile
  packages/floe-core/tests/unit/oci/test_client_performance.py
  packages/floe-iceberg/pyproject.toml
  plugins/floe-catalog-polaris/pyproject.toml
  testing/E2E-ERROR-REPORT.md
  testing/ci/test-e2e.sh
  testing/k8s/setup-cluster.sh
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(bootstrap): improve Polaris bootstrap reliability (WU-14)
  .specwright/state/workflow.json
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values.yaml
  testing/k8s/setup-cluster.sh
Due: none

fix(security): extract bucket name at Helm render time (WU-14)
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
Due: none

feat(bootstrap): improve Polaris bootstrap reliability (WU-14) (#101)
  .specwright/state/workflow.json
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values.yaml
  testing/k8s/setup-cluster.sh
Due: none

fix(labels): align K8s label selectors with actual pod labels (WU-15)
  charts/floe-platform/templates/networkpolicy.yaml
  charts/floe-platform/templates/pdb.yaml
  testing/k8s/setup-cluster.sh
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(labels): resolve remaining stale label selectors and health endpoints (WU-15)
  Makefile
  charts/floe-platform/templates/tests/test-connection.yaml
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: fix ruff formatting in E2E test files (WU-15)
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(labels): align K8s label selectors with actual pod labels (WU-15) (#102)
  Makefile
  charts/floe-platform/templates/networkpolicy.yaml
  charts/floe-platform/templates/pdb.yaml
  charts/floe-platform/templates/tests/test-connection.yaml
  testing/k8s/setup-cluster.sh
  tests/e2e/test_helm_workflow.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(sensors): use target=AssetSelection.all() instead of deprecated asset_selection (WU-16, T24)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  plugins/floe-orchestrator-dagster/tests/unit/test_sensors.py
  tests/e2e/test_data_pipeline.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): add --skip-schema-validation to helm upgrade test (WU-16, T22)
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): correct ConfigMap module path expectation in demo mode test (WU-16, T23)
  tests/e2e/test_demo_mode.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): add repository discovery to GraphQL asset materialization mutation (WU-16, T21)
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): strengthen sensor test assertions and remove duplicates (WU-16)
  .specwright/state/workflow.json
  plugins/floe-orchestrator-dagster/tests/unit/test_sensors.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve pre-existing test quality and wiring WARNs (WU-16)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(telemetry): add env-var-driven OTel SDK initialization (WU-17/T26)
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage): wire LineageEmitter into compile_pipeline (WU-17/T27)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(helm): add OTEL env vars to Dagster webserver/daemon (WU-17/T30)
  charts/floe-platform/values.yaml
  tests/integration/helm/test_platform_template.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-17): wire E2E fixtures for OTel global registration (T32)
  tests/conftest.py
  tests/e2e/conftest.py
  tests/unit/test_e2e_fixture_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-17): harden test assertions and add input validation
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  tests/unit/test_e2e_fixture_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-17): close remaining 5 verification WARNs
  .specwright/state/workflow.json
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(wu-17): import ordering + lockfile sync
  packages/floe-core/src/floe_core/telemetry/__init__.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): align sensor target tests with current Dagster API
  testing/tests/unit/test_dagster_migration.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
