Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: align helm test dagster port
  charts/floe-platform/templates/NOTES.txt
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/templates/tests/test-connection.yaml
  charts/floe-platform/tests/test-connection_test.yaml
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align helm test dagster port (#270)
  charts/floe-platform/templates/NOTES.txt
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/templates/tests/test-connection.yaml
  charts/floe-platform/tests/test-connection_test.yaml
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align dagster ingress with service port
  .secrets.baseline
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/tests/fixtures/ingress-stale-dagster-port.yaml
  charts/floe-platform/tests/ingress_test.yaml
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
  charts/floe-platform/values.yaml
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align dagster ingress with service port (#272)
  .secrets.baseline
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/tests/fixtures/ingress-stale-dagster-port.yaml
  charts/floe-platform/tests/ingress_test.yaml
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
  charts/floe-platform/values.yaml
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: design alpha docs and demo release gate
  docs/superpowers/specs/2026-04-29-alpha-docs-demo-release-gate-design.md
Due: none

docs: plan alpha docs demo release gate
  docs/superpowers/plans/2026-04-29-alpha-docs-demo-release-gate.md
Due: none

docs: add mkdocs site tooling
  .github/workflows/docs.yml
  Makefile
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

test: validate alpha docs navigation
  .github/workflows/docs.yml
  mkdocs.yml
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
  testing/ci/validate_docs_navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: harden alpha docs navigation validation
  .github/workflows/docs.yml
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: cover placeholder docs links
  testing/ci/tests/test_validate_docs_navigation.py
  testing/ci/validate-docs-navigation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: add alpha documentation journeys
  README.md
  docs/contributing/documentation-standards.md
  docs/contributing/index.md
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
  docs/demo/index.md
  docs/get-started/first-data-product.md
  docs/get-started/first-platform.md
  docs/get-started/index.md
  docs/index.md
  docs/operations/devpod-hetzner.md
  docs/operations/troubleshooting.md
  docs/reference/index.md
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/start-here/index.md
Due: none

docs: clarify alpha docs platform journey
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
  docs/demo/index.md
  docs/get-started/first-platform.md
  docs/get-started/index.md
  docs/operations/devpod-hetzner.md
  docs/operations/troubleshooting.md
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/start-here/index.md
Due: none

docs: fix DevPod nav casing
  mkdocs.yml
Due: none

docs: document customer 360 golden demo
  demo/README.md
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
Due: none

docs: align demo guide with DevPod flow
  demo/README.md
  docs/demo/customer-360.md
Due: none

docs: correct demo cleanup guidance
  demo/README.md
Due: none

feat: validate customer 360 golden demo
  Makefile
  testing/ci/validate-customer-360-demo.py
  testing/demo/customer360_validator.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: require customer 360-specific validation evidence
  Makefile
  testing/ci/validate-customer-360-demo.py
  testing/demo/customer360_validator.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: harden customer 360 validation checks
  Makefile
  testing/ci/validate-customer-360-demo.py
  testing/demo/customer360_validator.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: make customer 360 validator executable
  Makefile
  testing/ci/__init__.py
  testing/ci/validate-customer-360-demo.py
  testing/ci/validate_customer_360_demo.py
  testing/demo/customer360_validator.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: type customer 360 command runner
  testing/demo/customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: derive devpod kubeconfig from workspace
  Makefile
  testing/tests/unit/test_demo_makefile_kubeconfig.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: keep devpod kubeconfig portable
  TESTING.md
  demo/README.md
  testing/tests/unit/test_demo_makefile_kubeconfig.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: honor custom devpod kubeconfig
  .mcp.json
  Makefile
  demo/README.md
  scripts/devpod-ensure-ready.sh
  scripts/devpod-sync-kubeconfig.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: reuse custom kubeconfig in devpod tests
  scripts/devpod-test.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

ci: upgrade github actions for node 24
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codspeed.yml
  .github/workflows/e2e.yml
  .github/workflows/helm-ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/weekly.yml
  testing/ci/tests/test_github_actions_node24_pins.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: add alpha release evidence checklist
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
Due: none

docs: tighten alpha release gate wording
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
Due: none

test: align e2e workflow action pins
  testing/tests/unit/test_e2e_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: record local alpha validation evidence
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
Due: none

fix: load customer 360 validation from manifest
  demo/customer-360/validation.yaml
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
  docs/releases/v0.1.0-alpha.1-checklist.md
  testing/ci/validate_customer_360_demo.py
  testing/demo/customer360_validator.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: refresh alpha validation evidence
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
Due: none

docs: clarify alpha validation evidence commit
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
Due: none

fix: preserve manifest validation defaults
  Makefile
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

ci: defer claude workflow pin rollout
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  testing/ci/tests/test_github_actions_node24_pins.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: harden demo validation commands
  demo/customer-360/scripts/customer360_metric.py
  demo/customer-360/validation.yaml
  scripts/devpod-sync-kubeconfig.sh
  testing/tests/unit/test_customer360_validator.py
  testing/tests/unit/test_demo_makefile_kubeconfig.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 alpha validation
  .secrets.baseline
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  demo/customer-360/scripts/customer360_metric.py
  demo/customer-360/validation.yaml
  demo/manifest.yaml
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/validation/2026-04-29-alpha-customer-360-release-validation.md
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-lineage-marquez/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_resource.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  testing/tests/unit/test_customer360_validator.py
  testing/tests/unit/test_demo_packaging.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Expect lineage drain timeout in demo manifest
  packages/floe-core/tests/unit/compilation/test_stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Helm CI render preview
  .github/workflows/helm-ci.yaml
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
