Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

Fix alpha release dry-run gate (#343)
  .github/workflows/prepare-release.yml
  .github/workflows/security.yml
  .github/workflows/weekly.yml
  testing/release/cleanup.py
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_prepare_release_workflow.py
  testing/tests/unit/test_release_cleanup.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release Helm repository setup
  .github/workflows/prepare-release.yml
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release Helm repository setup (#345)
  .github/workflows/prepare-release.yml
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Restrict standalone E2E workflow to manual dispatch
  .github/workflows/e2e.yml
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_e2e_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Restrict standalone E2E workflow to manual dispatch (#346)
  .github/workflows/e2e.yml
  testing/tests/unit/test_ci_workflows.py
  testing/tests/unit/test_e2e_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release Helm CLI version handling
  .github/workflows/helm-release.yaml
  .github/workflows/prepare-release.yml
  release/floe-release.yaml
  testing/release/candidate.py
  testing/release/cli.py
  testing/release/failure_issue.py
  testing/release/manifest.py
  testing/tests/unit/test_prepare_release_workflow.py
  testing/tests/unit/test_release_build_packages.py
  testing/tests/unit/test_release_candidate.py
  testing/tests/unit/test_release_failure_issue.py
  testing/tests/unit/test_release_manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release Helm CLI version handling (#348)
  .github/workflows/helm-release.yaml
  .github/workflows/prepare-release.yml
  release/floe-release.yaml
  testing/release/candidate.py
  testing/release/cli.py
  testing/release/failure_issue.py
  testing/release/manifest.py
  testing/tests/unit/test_prepare_release_workflow.py
  testing/tests/unit/test_release_build_packages.py
  testing/tests/unit/test_release_candidate.py
  testing/tests/unit/test_release_failure_issue.py
  testing/tests/unit/test_release_manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden release live gate setup
  .github/workflows/prepare-release.yml
  Makefile
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden release live gate setup (#350)
  .github/workflows/prepare-release.yml
  Makefile
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release DevPod gate sequencing
  .github/workflows/prepare-release.yml
  Makefile
  scripts/devpod-test.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release DevPod gate sequencing (#351)
  .github/workflows/prepare-release.yml
  Makefile
  scripts/devpod-test.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
  testing/tests/unit/test_demo_packaging.py
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release live gate sequencing
  .github/workflows/prepare-release.yml
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix release live gate sequencing (#352)
  .github/workflows/prepare-release.yml
  testing/tests/unit/test_prepare_release_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: allow Glue namespace cleanup in AWS live tests
  infra/aws-provider-tests/iam.tf
  scripts/aws-provider-test-readiness.sh
  tests/contract/test_storage_minio_rename.py
  tests/unit/test_aws_provider_iam_policy.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: allow Glue namespace cleanup in AWS live tests (#354)
  infra/aws-provider-tests/iam.tf
  scripts/aws-provider-test-readiness.sh
  tests/contract/test_storage_minio_rename.py
  tests/unit/test_aws_provider_iam_policy.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: cover Glue UDF cleanup in AWS live IAM
  infra/aws-provider-tests/iam.tf
  scripts/aws-provider-test-readiness.sh
  tests/unit/test_aws_provider_iam_policy.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: cover Glue UDF cleanup in AWS live IAM (#355)
  infra/aws-provider-tests/iam.tf
  scripts/aws-provider-test-readiness.sh
  tests/unit/test_aws_provider_iam_policy.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix PyPI publish backfill for alpha
  .github/CI.md
  .github/workflows/pypi-publish.yml
  README.md
  docs/guides/pypi-trusted-publishers.md
  docs/releases/v0.1.0-alpha.1-release-notes.md
  packages/floe-core/README.md
  packages/floe-iceberg/README.md
  plugins/floe-catalog-glue/README.md
  plugins/floe-catalog-polaris/README.md
  plugins/floe-compute-duckdb/README.md
  plugins/floe-dbt-core/README.md
  plugins/floe-ingestion-dlt/README.md
  plugins/floe-lineage-marquez/README.md
  plugins/floe-network-security-k8s/README.md
  plugins/floe-orchestrator-dagster/README.md
  plugins/floe-quality-gx/README.md
  plugins/floe-rbac-k8s/README.md
  plugins/floe-storage-aws-s3/README.md
  plugins/floe-storage-minio/README.md
  plugins/floe-telemetry-jaeger/README.md
  testing/tests/unit/test_ci_workflows.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address PR review publish workflow hardening
  .github/workflows/pypi-publish.yml
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix alpha PyPI publish backfill (#356)
  .github/CI.md
  .github/workflows/pypi-publish.yml
  README.md
  docs/guides/pypi-trusted-publishers.md
  docs/releases/v0.1.0-alpha.1-release-notes.md
  packages/floe-core/README.md
  packages/floe-iceberg/README.md
  plugins/floe-catalog-glue/README.md
  plugins/floe-catalog-polaris/README.md
  plugins/floe-compute-duckdb/README.md
  plugins/floe-dbt-core/README.md
  plugins/floe-ingestion-dlt/README.md
  plugins/floe-lineage-marquez/README.md
  plugins/floe-network-security-k8s/README.md
  plugins/floe-orchestrator-dagster/README.md
  plugins/floe-quality-gx/README.md
  plugins/floe-rbac-k8s/README.md
  plugins/floe-storage-aws-s3/README.md
  plugins/floe-storage-minio/README.md
  plugins/floe-telemetry-jaeger/README.md
  testing/tests/unit/test_ci_workflows.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: update README for alpha release scope
  README.md
Due: none

docs: address README review nits
  README.md
Due: none

docs: update README for alpha release scope (#357)
  README.md
Due: none

docs: design platform observability defaults
  docs/superpowers/specs/2026-05-17-platform-observability-defaults-design.md
Due: none

docs: expand observability plugin lifecycle scope
  docs/superpowers/specs/2026-05-17-platform-observability-defaults-design.md
Due: none

docs: plan platform observability defaults
  docs/superpowers/plans/2026-05-17-platform-observability-defaults.md
Due: none

Add shared observability context
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/context.py
  packages/floe-core/src/floe_core/telemetry/conventions.py
  packages/floe-core/tests/unit/test_telemetry/test_context.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden observability context sanitization
  packages/floe-core/src/floe_core/telemetry/context.py
  packages/floe-core/tests/unit/test_telemetry/test_context.py
  packages/floe-core/tests/unit/test_telemetry/test_conventions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Protect observability context canonical attributes
  packages/floe-core/src/floe_core/telemetry/context.py
  packages/floe-core/tests/unit/test_telemetry/test_context.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Instrument plugin lifecycle observability
  .secrets.baseline
  packages/floe-core/src/floe_core/plugin_types.py
  packages/floe-core/src/floe_core/plugins/lifecycle.py
  packages/floe-core/src/floe_core/telemetry/lifecycle.py
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  packages/floe-core/tests/unit/test_telemetry/test_lifecycle.py
  tests/contract/test_plugin_observability_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align plugin catalog with network security type
  docs/reference/plugin-catalog.md
  tests/contract/test_plugin_observability_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Update plugin category docs for network security
  AGENTS.md
  README.md
  docs/analysis/complexity-analysis-2026-05-14.md
  docs/architecture/ARCHITECTURE-SUMMARY.md
  docs/architecture/plugin-system/index.md
  docs/guides/03-solution-strategy.md
  docs/guides/04-building-blocks.md
  docs/guides/10-glossary.md
  docs/releases/v0.1.0-alpha.1-release-notes.md
  docs/superpowers/plans/2026-04-30-docs-quality-consistency-hardening.md
  docs/superpowers/specs/2026-05-17-platform-observability-defaults-design.md
  docs/validation/2026-05-09-post-composition-docs-truth-pass.md
  packages/floe-core/src/floe_core/plugins/__init__.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Mark historical plugin category references
  docs/architecture/DBT-ARCHITECTURE-CLARIFICATION.md
  docs/guides/workflow-quickref.md
  docs/plans/epics/15-e2e-platform-gaps/epic-15-e2e-platform-gaps.md
  docs/superpowers/plans/2026-04-30-docs-quality-consistency-hardening.md
Due: none

Extract plugin lifecycle telemetry helpers
  docs/superpowers/plans/2026-04-30-docs-quality-consistency-hardening.md
  packages/floe-core/src/floe_core/plugins/lifecycle.py
  packages/floe-core/src/floe_core/telemetry/lifecycle.py
  packages/floe-core/tests/unit/test_telemetry/test_lifecycle.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Tighten lifecycle observability tests
  docs/superpowers/plans/2026-04-30-docs-quality-consistency-hardening.md
  packages/floe-core/tests/unit/test_telemetry/test_lifecycle.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Complete plugin category docs example
  docs/superpowers/plans/2026-04-30-docs-quality-consistency-hardening.md
Due: none

Add Dagster runtime observability envelope
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Cover Dagster observability context adapter
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Dagster runtime observability envelope
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add runtime observability to alpha data plugins
  packages/floe-iceberg/src/floe_iceberg/_lifecycle.py
  packages/floe-iceberg/tests/unit/test_lifecycle.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_runtime_observability.py
  plugins/floe-dbt-core/src/floe_dbt_core/callbacks.py
  plugins/floe-dbt-core/src/floe_dbt_core/plugin.py
  plugins/floe-dbt-core/tests/unit/test_node_observability.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-lineage-marquez/tests/unit/test_plugin.py
  plugins/floe-quality-gx/src/floe_quality_gx/plugin.py
  plugins/floe-quality-gx/tests/unit/test_run_checks.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
