Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(asset-emission): property name mismatch + CWE-532 error sanitization
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_asset_lineage_emission.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage): address PR review findings — OSError handling, timing guards, loop isolation, skipped status
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/lineage_extraction.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_extraction.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(asset-emission): wire OpenLineage emission into Dagster asset execution (#171)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/lineage_extraction.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_asset_lineage_emission.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage.py
  plugins/floe-orchestrator-dagster/tests/unit/test_lineage_extraction.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e-lineage-validation/T1): remove compilation-time lineage emission from stages.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_compilation_no_lineage.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e-lineage-validation/T2-T3): update seed_observability + test assertions for runtime lineage
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e-lineage-validation/T2-T3): add AC-5 duration + AC-6 parentRun assertions
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e-lineage-validation): add AC markers + validate parentRun facet structure
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): address PR review — Marquez poll, terminal state, exception narrowing
  packages/floe-core/tests/unit/compilation/test_compilation_no_lineage.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage): move OpenLineage emission from compilation to Dagster runtime (unit 3/3) (#172)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_compilation_no_lineage.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(otel): add MeterProvider to ensure_telemetry_initialized() (T1)
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(otel): extend reset_telemetry() for MeterProvider (T2)
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_reset_telemetry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(otel): fix CLI comment + tracer_factory docstring (T3)
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/telemetry/tracer_factory.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): reset _meter_provider in init test fixture teardown
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): resolve pre-existing security warnings
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/src/floe_core/telemetry/tracer_factory.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: add pypdf vuln to ignore list (devtools transitive dep)
  .vuln-ignore
Due: none

refactor(otel): address PR review feedback
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/src/floe_core/telemetry/tracer_factory.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(otel): unify OTel initialization — add MeterProvider (#163) (#173)
  .vuln-ignore
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/src/floe_core/telemetry/tracer_factory.py
  packages/floe-core/tests/unit/test_reset_telemetry.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(otel): decouple logging config from OTLP endpoint check (#166, T1)
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_reset_telemetry.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(otel): add unit tests for decoupled logging configuration (#166, T2)
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): initialize telemetry before compilation log test (#166, T3)
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(otel): add AC-4 unit test for compilation log trace context (#166)
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): address PR review feedback and fix cross-test structlog pollution
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: add deepdiff vuln to ignore list (transitive dep)
  .vuln-ignore
Due: none

fix(test): clear structlog proxy caches in telemetry test conftest
  packages/floe-core/tests/unit/test_telemetry/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): add structlog proxy cache clearing to all OTel test fixtures
  packages/floe-core/tests/unit/test_reset_telemetry.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): add structlog proxy cache reset to compilation conftest
  packages/floe-core/tests/unit/compilation/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): increase sleep margins in scheduler timing tests
  packages/floe-core/tests/unit/contracts/monitoring/test_scheduler.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): use polling instead of fixed sleep in scheduler tests
  packages/floe-core/tests/unit/contracts/monitoring/test_scheduler.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(otel): decouple logging config from OTLP endpoint (#166) (#175)
  .vuln-ignore
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/compilation/conftest.py
  packages/floe-core/tests/unit/contracts/monitoring/test_scheduler.py
  packages/floe-core/tests/unit/test_reset_telemetry.py
  packages/floe-core/tests/unit/test_telemetry/conftest.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): merge duplicate volumes blocks in postgresql StatefulSet (#137)
  charts/floe-platform/templates/statefulset-postgresql.yaml
  charts/floe-platform/tests/statefulset-postgresql_test.yaml
Due: none

fix(helm): move persistence key to correct path in values-test.yaml (#137)
  charts/floe-platform/values-test.yaml
Due: none

docs(e2e): fix misleading persistence comments in E2E tests (#137)
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(helm): address PR review feedback
  charts/floe-platform/tests/statefulset-postgresql_test.yaml
Due: none

fix(helm): resolve duplicate volumes block in postgresql StatefulSet (#137) (#176)
  charts/floe-platform/templates/statefulset-postgresql.yaml
  charts/floe-platform/tests/statefulset-postgresql_test.yaml
  charts/floe-platform/values-test.yaml
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(helm): add immutableLabels helper for volumeClaimTemplates
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/statefulset-postgresql.yaml
  charts/floe-platform/tests/statefulset-postgresql_test.yaml
Due: none

feat(helm): add preUpgradeCleanup values for StatefulSet hook
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

feat(helm): add pre-upgrade hook for PostgreSQL StatefulSet cleanup
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
Due: none

fix(helm): address PR review — configurable image, readOnlyRootFilesystem, hook-failed policy
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

docs(helm): add commonLabels stability warning to immutableLabels helper
  charts/floe-platform/templates/_helpers.tpl
Due: none

feat(helm): immutable VCT labels + pre-upgrade StatefulSet cleanup hook (#178)
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/templates/statefulset-postgresql.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/tests/statefulset-postgresql_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
