Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

fix(deps): bump vulnerable transitive dependencies
  uv.lock
Due: none

fix(contract): update plugin count for S3StoragePlugin
  tests/contract/test_plugin_instrumentation_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): replace load_catalog() with plugin connect(), add S3 tracer_name (#224)
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
  plugins/floe-storage-s3/README.md
  plugins/floe-storage-s3/pyproject.toml
  plugins/floe-storage-s3/src/floe_storage_s3/__init__.py
  plugins/floe-storage-s3/src/floe_storage_s3/config.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
  pyproject.toml
  tests/contract/test_plugin_instrumentation_contract.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add floe-storage-s3 to demo Dockerfile
  docker/dagster-demo/Dockerfile
Due: none

fix(devcontainer): switch remoteUser to root for DevPod agent compat
  .devcontainer/devcontainer.json
Due: none

fix(devcontainer): update Dockerfile for root user
  .devcontainer/Dockerfile
Due: none

fix(infra): add inactivity timeout and S3 plugin to demo image
  docker/dagster-demo/Dockerfile
  scripts/devpod-setup.sh
Due: none

fix(e2e): add floe-catalog-polaris to demo image and fix Helm flag
  docker/dagster-demo/Dockerfile
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(iceberg): re-instantiate plugins with validated config after configure
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): update iceberg wiring test for re-instantiated plugins
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(devcontainer): add extensions.duckdb.org to firewall allowlist
  .devcontainer/init-firewall.sh
Due: none

fix(demo): add OAuth2 scope for Polaris compatibility
  demo/manifest.yaml
Due: none

fix(iceberg): remove memory:// default that overrides plugin catalog URI
  packages/floe-iceberg/src/floe_iceberg/manager.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): align warehouse name with test values (floe-e2e)
  demo/manifest.yaml
Due: none

fix(iceberg): return empty dict on failure instead of re-raising
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): add lineage emission to generated definitions.py template
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): regenerate definitions.py with lineage emission
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): use tmp_path in profile isolation tests to prevent fixture pollution
  tests/e2e/test_profile_isolation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(generator): lazy lineage resource initialization in template
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style(generator): fix ruff format whitespace in template
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add floe-storage-s3 to Dockerfile COPY directives
  docker/dagster-demo/Dockerfile
Due: none

fix(docker): add floe-catalog-polaris and floe-storage-s3 to FLOE_PLUGINS
  docker/dagster-demo/Dockerfile
Due: none

fix(plugins): replace MagicMock config with None in plugin loader
  packages/floe-core/src/floe_core/plugin_registry.py
  packages/floe-core/src/floe_core/plugins/loader.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): add PRINCIPAL_ROLE:ALL scope to Polaris OAuth config
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  demo/manifest.yaml
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(iceberg): remove memory:// fallback in catalog connection config
  packages/floe-iceberg/src/floe_iceberg/manager.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): align manifest warehouse name with test infrastructure
  demo/manifest.yaml
Due: none

feat(core): add configure() lifecycle to PluginMetadata ABC
  packages/floe-core/src/floe_core/plugin_metadata.py
  packages/floe-core/tests/unit/test_plugin_configure_lifecycle.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(core): registry uses plugin.configure() instead of reflection
  packages/floe-core/src/floe_core/plugin_registry.py
  packages/floe-core/tests/unit/test_plugin_registry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(plugins): add super().__init__() to all 11 plugin subclasses
  packages/floe-core/tests/unit/test_plugin_super_init.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(plugins): add connect() guards and update fail-fast logging
  packages/floe-core/tests/unit/test_plugin_connect_guards.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(plugins): resolve PR #225 review bugs
  packages/floe-core/tests/unit/test_plugin_connect_guards.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(core): close unsafe plugin config window (ARC-001) (#225)
  packages/floe-core/src/floe_core/plugin_metadata.py
  packages/floe-core/src/floe_core/plugin_registry.py
  packages/floe-core/tests/unit/test_plugin_configure_lifecycle.py
  packages/floe-core/tests/unit/test_plugin_connect_guards.py
  packages/floe-core/tests/unit/test_plugin_registry.py
  packages/floe-core/tests/unit/test_plugin_super_init.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(manifest-config-source): task 1 — create manifest config extractor
  testing/ci/extract-manifest-config.py
  testing/ci/tests/conftest.py
  testing/ci/tests/test_extract_manifest_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(manifest-config-source): task 2 — wire test-e2e.sh to manifest extractor
  testing/ci/test-e2e.sh
  testing/ci/tests/test_e2e_sh_manifest_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(manifest-config-source): task 3 — wire conftest.py to manifest
  tests/e2e/conftest.py
  tests/e2e/tests/test_conftest_manifest_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(manifest-config-source): address PR #226 review feedback
  testing/ci/extract-manifest-config.py
  testing/ci/tests/test_extract_manifest_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(manifest-config-source): suppress CodeQL false positives
  testing/ci/extract-manifest-config.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): break CodeQL taint chain for non-secret manifest values
  testing/ci/extract-manifest-config.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): add codeql inline suppression and fix ruff formatting
  testing/ci/extract-manifest-config.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(manifest-config-source): derive test config from manifest.yaml (#226)
  testing/ci/extract-manifest-config.py
  testing/ci/test-e2e.sh
  testing/ci/tests/conftest.py
  testing/ci/tests/test_e2e_sh_manifest_wiring.py
  testing/ci/tests/test_extract_manifest_config.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_conftest_manifest_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
