Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

feat(testing): create reusable governance test fixtures (T052, FLO-2636)
  testing/fixtures/__init__.py
  testing/fixtures/governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(quickstart): fix import path and test path in 3E quickstart (T055, FLO-2639)
  specs/3e-governance-integration/quickstart.md
Due: none

fix(governance): architecture review remediation — 10 findings across 4 phases
  packages/floe-core/src/floe_core/cli/governance/_factory.py
  packages/floe-core/src/floe_core/cli/governance/audit.py
  packages/floe-core/src/floe_core/cli/governance/report.py
  packages/floe-core/src/floe_core/cli/governance/status.py
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/src/floe_core/governance/policy_evaluator.py
  packages/floe-core/src/floe_core/schemas/governance.py
  packages/floe-core/tests/unit/governance/test_integrator.py
  packages/floe-core/tests/unit/schemas/test_policy_override.py
  tests/contract/test_3e_governance_contract.py
  tests/fixtures/cli/golden/root_help.txt
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(governance): architecture review remediation — 10 findings across 4 phases
  packages/floe-core/tests/unit/governance/test_integrator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(governance): remediate QA inspection findings — 6 phases across 8 files
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/src/floe_core/governance/policy_evaluator.py
  packages/floe-core/src/floe_core/governance/rbac_checker.py
  packages/floe-core/tests/unit/governance/test_integrator.py
  packages/floe-core/tests/unit/governance/test_network_policies.py
  packages/floe-core/tests/unit/governance/test_policy_framework.py
  packages/floe-core/tests/unit/governance/test_rbac_checker.py
  packages/floe-core/tests/unit/governance/test_secrets.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(governance): wire PolicyEvaluator into production enforcement chain (FR-015, FR-019)
  packages/floe-core/src/floe_core/governance/__init__.py
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/src/floe_core/schemas/governance.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/tests/unit/governance/test_integrator.py
  tests/contract/test_3e_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(contracts): add policies field to governance schema contract
  specs/3a-policy-enforcer/contracts/governance-schema.json
Due: none

fix: resolve pre-commit hook failures for push
  .secrets.baseline
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/src/floe_core/governance/policy_evaluator.py
  packages/floe-core/src/floe_core/governance/secrets.py
  packages/floe-core/src/floe_core/governance/types.py
  packages/floe-core/tests/integration/contracts/monitoring/test_check_types.py
  packages/floe-core/tests/integration/contracts/monitoring/test_monitor_integration.py
  packages/floe-core/tests/unit/governance/test_integrator.py
  packages/floe-core/tests/unit/governance/test_network_policies.py
  packages/floe-core/tests/unit/governance/test_rbac_checker.py
  packages/floe-core/tests/unit/governance/test_secret_scanner_plugin.py
  packages/floe-core/tests/unit/governance/test_secrets.py
  specs/3e-governance-integration/spec.md
  testing/fixtures/governance.py
  tests/contract/test_3e_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve pre-push hook failures (mypy, ruff-format, baseline)
  .secrets.baseline
  packages/floe-core/src/floe_core/cli/governance/audit.py
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/tests/unit/governance/test_secret_scanner_plugin.py
  packages/floe-core/tests/unit/governance/test_secrets.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): sort imports in test_cli.py (I001)
  packages/floe-core/tests/unit/governance/test_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(governance): wire NetworkPoliciesConfig → NetworkPolicyConfig conversion
  packages/floe-core/src/floe_core/governance/integrator.py
  packages/floe-core/tests/unit/governance/test_network_policies.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(specs): complete Epic 4G planning — spec, plan, tasks, Linear issues
  CLAUDE.md
  specs/4g-reverse-etl-sink/.linear-mapping.json
  specs/4g-reverse-etl-sink/checklists/requirements.md
  specs/4g-reverse-etl-sink/contracts/sink-connector-contract.md
  specs/4g-reverse-etl-sink/data-model.md
  specs/4g-reverse-etl-sink/plan.md
  specs/4g-reverse-etl-sink/quickstart.md
  specs/4g-reverse-etl-sink/research.md
  specs/4g-reverse-etl-sink/spec.md
  specs/4g-reverse-etl-sink/tasks.md
Due: none

feat(plugins): add SinkConnector ABC, SinkConfig, EgressResult (T002, FLO-2642)
  packages/floe-core/src/floe_core/plugins/sink.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(plugins): export SinkConnector, SinkConfig, EgressResult (T003, FLO-2643)
  packages/floe-core/src/floe_core/plugins/__init__.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(sink): add US1 unit + contract tests for SinkConnector (T004-T007, FLO-2644-2647)
  packages/floe-core/tests/unit/test_sink_connector.py
  tests/contract/test_sink_connector_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(ingestion-dlt): implement SinkConnector mixin for reverse ETL (US2)
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/__init__.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/errors.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_errors.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(floe-core): add DestinationConfig and FloeSpec.destinations for reverse ETL (US3)
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/test_floe_spec_destinations.py
  tests/contract/test_egress_schema_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(floe-core): add approved_sinks governance whitelist for reverse ETL (US4)
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/src/floe_core/schemas/plugins.py
  packages/floe-core/tests/unit/test_manifest_approved_sinks.py
  tests/contract/test_egress_schema_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(polish): fix unused import, add performance smoke test (Phase 7)
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): remediate 13 findings from Epic 4G security review
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/plugins/sink.py
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/test_compilation_sink_whitelist.py
  packages/floe-core/tests/unit/test_floe_spec_destinations.py
  packages/floe-core/tests/unit/test_sink_connector.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_tracing.py
  tests/contract/test_sink_connector_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): remediate 4 test quality findings from inspector review
  packages/floe-core/tests/unit/test_compilation_sink_whitelist.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: fix pre-push hook issues (ruff format, import sort, detect-secrets)
  .aikidoignore
  .secrets.baseline
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/plugins/sink.py
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/tests/unit/test_compilation_sink_whitelist.py
  packages/floe-core/tests/unit/test_floe_spec_destinations.py
  packages/floe-core/tests/unit/test_sink_connector.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_tracing.py
  tests/contract/test_egress_schema_contract.py
  tests/contract/test_sink_connector_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ingestion-dlt): implement dlt egress pipeline in write() method
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4g): Reverse ETL SinkConnector — ABC, mixin, governance, security (#67)
  .aikidoignore
  .secrets.baseline
  CLAUDE.md
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/plugins/__init__.py
  packages/floe-core/src/floe_core/plugins/sink.py
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/src/floe_core/schemas/plugins.py
  packages/floe-core/tests/unit/test_compilation_sink_whitelist.py
  packages/floe-core/tests/unit/test_floe_spec_destinations.py
  packages/floe-core/tests/unit/test_manifest_approved_sinks.py
  packages/floe-core/tests/unit/test_sink_connector.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/__init__.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/errors.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_connector.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_errors.py
  plugins/floe-ingestion-dlt/tests/unit/test_dlt_sink_tracing.py
  specs/4g-reverse-etl-sink/.linear-mapping.json
  specs/4g-reverse-etl-sink/checklists/requirements.md
  specs/4g-reverse-etl-sink/contracts/sink-connector-contract.md
  specs/4g-reverse-etl-sink/data-model.md
  specs/4g-reverse-etl-sink/plan.md
  specs/4g-reverse-etl-sink/quickstart.md
  specs/4g-reverse-etl-sink/research.md
  specs/4g-reverse-etl-sink/spec.md
  specs/4g-reverse-etl-sink/tasks.md
  tests/contract/test_egress_schema_contract.py
  tests/contract/test_sink_connector_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(quality): add Accomplishment Simulator detection to all quality gates
  .claude/agents/critic.md
  .claude/agents/test-debt-analyzer.md
  .claude/rules/quality-escalation.md
  .claude/rules/testing-standards.md
  .claude/skills/speckit-test-review/SKILL.md
  .claude/skills/testing-skill/SKILL.md
  .claude/skills/testing-skill/references/test-anti-patterns.md
Due: agent-lint

docs(6c): add spec, plan, and requirements checklist for OTel Code Instrumentation
  specs/6c-otel-code-instrumentation/checklists/requirements.md
  specs/6c-otel-code-instrumentation/plan.md
  specs/6c-otel-code-instrumentation/spec.md
Due: none

docs(6c): generate tasks.md with 81 tasks across 9 phases
  specs/6c-otel-code-instrumentation/tasks.md
Due: none

fix(tasks): remediate 3 MEDIUM findings from cross-artifact analysis
  specs/6c-otel-code-instrumentation/tasks.md
Due: none

chore(6c): add Linear issue mapping for 82 tasks (FLO-2684 to FLO-2765)
  specs/6c-otel-code-instrumentation/.linear-mapping.json
Due: none

feat(telemetry): promote sanitize_error_message to floe-core (T001-T004, FLO-2684-2687)
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/sanitization.py
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(telemetry): promote sanitize_error_message to floe-core (T001-T004, FLO-2684-2687)
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(telemetry): unify @traced decorator + add PluginMetadata.tracer_name (T005-T010, FLO-2688-2693)
  packages/floe-core/src/floe_core/plugin_metadata.py
  packages/floe-core/src/floe_core/telemetry/tracing.py
  packages/floe-core/tests/unit/test_plugin_metadata_tracer.py
  packages/floe-core/tests/unit/test_telemetry/test_traced_unified.py
  packages/floe-core/tests/unit/test_telemetry/test_tracing.py
  packages/floe-iceberg/src/floe_iceberg/_compaction_manager.py
  packages/floe-iceberg/src/floe_iceberg/_lifecycle.py
  packages/floe-iceberg/src/floe_iceberg/_schema_manager.py
  packages/floe-iceberg/src/floe_iceberg/_snapshot_manager.py
  packages/floe-iceberg/src/floe_iceberg/manager.py
  packages/floe-iceberg/src/floe_iceberg/telemetry.py
  packages/floe-iceberg/tests/unit/test_telemetry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 3 - canonical tracing for 4 security plugins (T011-T023)
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/tracing.py
  plugins/floe-identity-keycloak/tests/unit/test_otel_tracing.py
  plugins/floe-identity-keycloak/tests/unit/test_tracing.py
  plugins/floe-rbac-k8s/src/floe_rbac_k8s/plugin.py
  plugins/floe-rbac-k8s/src/floe_rbac_k8s/tracing.py
  plugins/floe-rbac-k8s/tests/unit/test_tracing.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/tracing.py
  plugins/floe-secrets-infisical/tests/unit/test_tracing.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/tracing.py
  plugins/floe-secrets-k8s/tests/unit/test_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 4 - canonical tracing for 7 alert/quality/lineage plugins (T024-T042)
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/tracing.py
  plugins/floe-alert-alertmanager/tests/unit/test_tracing.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-email/src/floe_alert_email/tracing.py
  plugins/floe-alert-email/tests/unit/test_tracing.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/tracing.py
  plugins/floe-alert-slack/tests/unit/test_tracing.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/tracing.py
  plugins/floe-alert-webhook/tests/unit/test_tracing.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/tracing.py
  plugins/floe-lineage-marquez/tests/unit/test_tracing.py
  plugins/floe-quality-dbt/src/floe_quality_dbt/plugin.py
  plugins/floe-quality-dbt/src/floe_quality_dbt/tracing.py
  plugins/floe-quality-dbt/tests/unit/test_tracing.py
  plugins/floe-quality-gx/src/floe_quality_gx/plugin.py
  plugins/floe-quality-gx/src/floe_quality_gx/tracing.py
  plugins/floe-quality-gx/tests/unit/test_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 5 - canonical tracing for 4 compute/orchestrator/security/dbt plugins (T043-T055)
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/tracing.py
  plugins/floe-compute-duckdb/tests/unit/test_tracing.py
  plugins/floe-dbt-fusion/src/floe_dbt_fusion/plugin.py
  plugins/floe-dbt-fusion/src/floe_dbt_fusion/tracing.py
  plugins/floe-dbt-fusion/tests/unit/test_tracing.py
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/plugin.py
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/tracing.py
  plugins/floe-network-security-k8s/tests/unit/test_tracing.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/tracing.py
  plugins/floe-orchestrator-dagster/tests/unit/test_tracing.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 6 - tracer_name + sanitized errors for 4 existing plugins (T056-T063)
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/tracing.py
  plugins/floe-dbt-core/src/floe_dbt_core/plugin.py
  plugins/floe-dbt-core/src/floe_dbt_core/tracing.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 7 - sanitize all raw record_exception calls (T064-T069)
  packages/floe-core/src/floe_core/oci/attestation.py
  packages/floe-core/src/floe_core/oci/metrics.py
  packages/floe-core/src/floe_core/oci/verification.py
  packages/floe-core/src/floe_core/rbac/generator.py
  packages/floe-iceberg/src/floe_iceberg/_compaction_manager.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 8 - instrumentation audit in compilation pipeline (T070-T072)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/telemetry/audit.py
  packages/floe-core/tests/unit/compilation/test_instrumentation_audit.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(6c): Phase 9 - contract test, benchmarks, lint fixes, verification (T073-T082)
  benchmarks/test_tracing_perf.py
  plugins/floe-dbt-fusion/src/floe_dbt_fusion/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  plugins/floe-semantic-cube/tests/unit/test_tracing.py
  tests/contract/test_plugin_instrumentation_contract.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
