Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(ci): add --atomic --cleanup-on-fail to Helm integration stage
  .github/workflows/helm-ci.yaml
Due: none

feat(ci): add helm-diff step before upgrade for change visibility
  .github/workflows/helm-ci.yaml
Due: none

docs(ci): clarify helm-diff expected exit code on fresh cluster
  .github/workflows/helm-ci.yaml
Due: none

feat(ci): add --atomic, --cleanup-on-fail, and helm-diff to integration stage (#179)
  .github/workflows/helm-ci.yaml
Due: none

fix(e2e): correct profile backup path assertion to target/demo.duckdb
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): re-initialize OTel provider after seed_observability reset
  tests/e2e/test_observability_roundtrip_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): add pod UID tracking and wait-for-termination to restart tests
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): capture pod UID before deletion, not after
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(demo): include E2E-modified demo profiles
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
Due: none

fix(hooks): restrict detect-secrets to pre-commit stage only
  .pre-commit-config.yaml
Due: none

fix(e2e): revert demo profiles, improve pod UID fallback verification
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve 5 E2E test failures across 3 root causes (#180)
  .pre-commit-config.yaml
  tests/e2e/test_dbt_e2e_profile.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): add SERVICE_DEFAULT_PORTS and port resolution functions
  testing/fixtures/services.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): extend ServiceEndpoint with __post_init__ port resolution and .url
  testing/fixtures/services.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): update check_infrastructure() to accept string and tuple formats
  testing/fixtures/services.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): update IntegrationTestBase for optional port resolution
  testing/base_classes/integration_test_base.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(ci): export canonical {SERVICE}_PORT env vars in test-e2e.sh
  testing/ci/test-e2e.sh
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(testing): use Sequence for covariant required_services type
  testing/base_classes/integration_test_base.py
  testing/fixtures/services.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(testing): address PR review — strip whitespace, validate port range, strengthen assertions
  testing/fixtures/services.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): add port resolution infrastructure for environment-resilient tests (#182)
  testing/base_classes/integration_test_base.py
  testing/ci/test-e2e.sh
  testing/fixtures/services.py
  testing/tests/unit/test_port_resolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): migrate integration required_services to string format
  packages/floe-core/tests/integration/oci/test_attestation_e2e.py
  packages/floe-core/tests/integration/oci/test_lock_workflow.py
  packages/floe-core/tests/integration/oci/test_promotion_workflow.py
  packages/floe-core/tests/integration/oci/test_quickstart_e2e.py
  packages/floe-core/tests/integration/oci/test_registry_operations.py
  packages/floe-core/tests/integration/oci/test_rollback_workflow.py
  packages/floe-core/tests/integration/oci/test_signing_e2e.py
  packages/floe-core/tests/integration/oci/test_verification_e2e.py
  packages/floe-core/tests/integration/oci/test_verification_perf.py
  packages/floe-iceberg/tests/integration/test_manager_integration.py
  plugins/floe-catalog-polaris/tests/integration/test_credential_vending.py
  plugins/floe-catalog-polaris/tests/integration/test_health_check.py
  plugins/floe-catalog-polaris/tests/integration/test_namespace_operations.py
  plugins/floe-catalog-polaris/tests/integration/test_polaris_connection.py
  plugins/floe-catalog-polaris/tests/integration/test_table_operations.py
  plugins/floe-orchestrator-dagster/tests/integration/test_dagster.py
  plugins/floe-orchestrator-dagster/tests/integration/test_semantic_wiring.py
  testing/__init__.py
  testing/base_classes/__init__.py
  testing/base_classes/adapter_test_base.py
  testing/base_classes/integration_test_base.py
  testing/tests/unit/test_base_classes.py
  testing/tests/unit/test_migration_verification.py
  tests/e2e/test_promotion.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): migrate E2E check_infrastructure to string format
  packages/floe-core/tests/integration/oci/test_lock_workflow.py
  testing/base_classes/integration_test_base.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_schema_evolution.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): replace hardcoded URL defaults in E2E conftest
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): replace hardcoded localhost URLs in E2E test files
  tests/e2e/dbt_utils.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_governance.py
  tests/e2e/test_governance_enforcement_e2e.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(testing): add oci-registry-auth port and fix polaris-mgmt name
  .specwright/state/workflow.json
  testing/fixtures/services.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(testing): address PR review — tighten grep regex, fix docstring, remove unrelated file
  .specwright/state/workflow.json
  testing/base_classes/integration_test_base.py
  testing/tests/unit/test_migration_verification.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(testing): address PR review — deprecation shim, deferred init, absolute paths
  testing/tests/unit/test_migration_verification.py
  tests/e2e/conftest.py
  tests/e2e/test_governance_enforcement_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): migrate call sites to env-resilient port resolution (#184)
  packages/floe-core/tests/integration/oci/test_attestation_e2e.py
  packages/floe-core/tests/integration/oci/test_lock_workflow.py
  packages/floe-core/tests/integration/oci/test_promotion_workflow.py
  packages/floe-core/tests/integration/oci/test_quickstart_e2e.py
  packages/floe-core/tests/integration/oci/test_registry_operations.py
  packages/floe-core/tests/integration/oci/test_rollback_workflow.py
  packages/floe-core/tests/integration/oci/test_signing_e2e.py
  packages/floe-core/tests/integration/oci/test_verification_e2e.py
  packages/floe-core/tests/integration/oci/test_verification_perf.py
  packages/floe-iceberg/tests/integration/test_manager_integration.py
  plugins/floe-catalog-polaris/tests/integration/test_credential_vending.py
  plugins/floe-catalog-polaris/tests/integration/test_health_check.py
  plugins/floe-catalog-polaris/tests/integration/test_namespace_operations.py
  plugins/floe-catalog-polaris/tests/integration/test_polaris_connection.py
  plugins/floe-catalog-polaris/tests/integration/test_table_operations.py
  plugins/floe-orchestrator-dagster/tests/integration/test_dagster.py
  plugins/floe-orchestrator-dagster/tests/integration/test_semantic_wiring.py
  testing/__init__.py
  testing/base_classes/__init__.py
  testing/base_classes/adapter_test_base.py
  testing/base_classes/integration_test_base.py
  testing/fixtures/services.py
  testing/tests/unit/test_base_classes.py
  testing/tests/unit/test_migration_verification.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_governance.py
  tests/e2e/test_governance_enforcement_e2e.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_plugin_system.py
  tests/e2e/test_promotion.py
  tests/e2e/test_schema_evolution.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(testing): update TESTING.md examples to string-format required_services
  TESTING.md
Due: none

docs(testing): update .claude/rules/ examples to string-format required_services
  .claude/rules/test-organization.md
  .claude/rules/testing-standards.md
Due: none

docs(testing): update testing skill references to string-format required_services
  .claude/skills/testing-skill/SKILL.md
  .claude/skills/testing-skill/references/k8s-native-testing.md
Due: none

docs(testing): replace stale localstack references with minio in Helm examples
  .claude/skills/testing-skill/references/k8s-native-testing.md
Due: none

docs(testing): update documentation examples to string-format port resolution (#185)
  .claude/rules/test-organization.md
  .claude/rules/testing-standards.md
  .claude/skills/testing-skill/SKILL.md
  .claude/skills/testing-skill/references/k8s-native-testing.md
  TESTING.md
Due: none

fix(helm): add activeDeadlineSeconds to pre-upgrade hook Job
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
Due: none

feat(e2e): isolate dbt profiles to prevent demo corruption (wu-1-infra T3-T5)
  .gitignore
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_profile_isolation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): add P36 stale cleanup for generated_profiles at setup (wu-1-infra)
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): update stale docstring and backup tests for profile isolation (wu-1-infra)
  tests/e2e/conftest.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): scope test cleanup to product subdir, not entire generated_profiles root
  tests/e2e/test_profile_isolation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): Helm hook timeout + profile isolation (WU-1) (#186)
  .gitignore
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_dbt_e2e_profile.py
  tests/e2e/test_profile_isolation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e): dynamic asset discovery with key path + job name (wu-2-asset-otel T1+T2)
  tests/e2e/test_asset_discovery.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
