Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(e2e-test-optimization): add module-scoped dbt_pipeline_result fixture
  tests/e2e/conftest.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e-test-optimization): refactor read-only tests to use shared dbt fixture
  tests/e2e/test_data_pipeline.py
  tests/e2e/tests/test_pipeline_refactor_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e-test-optimization): relocate test_plugin_system.py to unit tests
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  tests/e2e/tests/test_plugin_system_relocation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve PR review findings — namespace bug, CI timeout, path fragility
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): drop namespace after table purge to prevent stale metadata
  tests/e2e/dbt_utils.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e): optimize E2E test suite with shared dbt fixtures (#227)
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/tests/test_dbt_pipeline_fixture.py
  tests/e2e/tests/test_pipeline_refactor_wiring.py
  tests/e2e/tests/test_plugin_system_relocation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(orchestrator): extract Iceberg export as parameterized function
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(orchestrator): implement runtime loader with lineage emission
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(demo): replace 177-line definitions.py with thin loader shims
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(generator): emit thin loader shim instead of 187-line template
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(orchestrator): add integration test for loader with real demo artifacts
  plugins/floe-orchestrator-dagster/tests/integration/test_loader_integration.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(e2e): add E2E test for thin definitions.py in deployed Dagster
  tests/e2e/test_runtime_loader_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): correct demo directory path resolution in structural test
  tests/e2e/test_runtime_loader_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(orchestrator): address PR review comments and CI lint failures
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: apply ruff formatting to test files
  plugins/floe-orchestrator-dagster/tests/integration/test_loader_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  tests/e2e/test_runtime_loader_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): update demo packaging tests for thin loader shim pattern
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(orchestrator): runtime loader replaces 187-line generated definitions.py (#229)
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/loader.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/integration/test_loader_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  testing/tests/unit/test_demo_packaging.py
  tests/e2e/test_runtime_loader_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(orchestrator): re-raise exceptions in ingestion factory [loud-failures T1]
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_resources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(orchestrator): standardize factory log levels and message format [loud-failures T2]
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/semantic.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(orchestrator): add parametrized unit tests for factory semantics [loud-failures T3]
  plugins/floe-orchestrator-dagster/tests/unit/test_resource_factories.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(contract): add parametrized factory semantics contract test [loud-failures T4]
  tests/contract/test_resource_factory_semantics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(orchestrator): add integration test for loud failure on unreachable Iceberg [loud-failures T5]
  plugins/floe-orchestrator-dagster/tests/integration/test_loud_failure_integration.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(orchestrator): address PR review feedback on loud-failures
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/semantic.py
  plugins/floe-orchestrator-dagster/tests/integration/test_loud_failure_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_resource_factories.py
  tests/contract/test_resource_factory_semantics.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): update iceberg wiring test for structured log key
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: format test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(orchestrator): loud failure propagation for configured-but-broken resources (#230)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/lineage.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/semantic.py
  plugins/floe-orchestrator-dagster/tests/integration/test_loud_failure_integration.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_resources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_resource_factories.py
  tests/contract/test_resource_factory_semantics.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): remove table-default.s3.endpoint from Polaris bootstrap [config-merge-fix T1]
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
Due: none

feat(catalog): add client endpoint override after table load [config-merge-fix T2]
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_client_endpoint_override.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(helm): add regression gate for table-default.s3.endpoint [config-merge-fix T3]
  charts/floe-platform/tests/bootstrap_job_test.yaml
Due: none

test(contract): add S3 endpoint preservation contract test [config-merge-fix T4]
  tests/contract/test_s3_endpoint_preservation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(integration): add S3 endpoint integrity tests for AC-2
  plugins/floe-catalog-polaris/tests/integration/test_s3_endpoint_integrity.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): add logging to cleanup blocks per P56
  plugins/floe-catalog-polaris/tests/integration/test_s3_endpoint_integrity.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(review): address PR #231 feedback — types, mocks, DIR-003
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/integration/test_s3_endpoint_integrity.py
  plugins/floe-catalog-polaris/tests/unit/test_client_endpoint_override.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(DX-004): remove table-default.s3.endpoint override from Polaris bootstrap (#231)
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/tests/bootstrap_job_test.yaml
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/integration/test_s3_endpoint_integrity.py
  plugins/floe-catalog-polaris/tests/unit/test_client_endpoint_override.py
  tests/contract/test_s3_endpoint_preservation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): add centralized credentials module [credential-consolidation T1]
  testing/fixtures/credentials.py
  testing/tests/unit/test_credentials.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(testing): replace hardcoded credentials with centralized module [credential-consolidation T2]
  packages/floe-iceberg/tests/integration/conftest.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  testing/fixtures/minio.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): remove hardcoded credentials from CI scripts [credential-consolidation T3]
  testing/ci/polaris-auth.sh
  testing/ci/test-e2e.sh
  testing/ci/wait-for-services.sh
Due: none

test(contract): add credential hardcoding detection test [credential-consolidation T5]
  tests/contract/test_no_hardcoded_credentials.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(credentials): address PR #232 review findings
  testing/ci/test-e2e.sh
  testing/ci/wait-for-services.sh
  testing/fixtures/credentials.py
  testing/fixtures/minio.py
  testing/tests/unit/test_credentials.py
  tests/contract/test_no_hardcoded_credentials.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): centralize test credentials — eliminate hardcoded secrets (#232)
  packages/floe-iceberg/tests/integration/conftest.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
  testing/ci/polaris-auth.sh
  testing/ci/test-e2e.sh
  testing/ci/wait-for-services.sh
  testing/fixtures/credentials.py
  testing/fixtures/minio.py
  testing/tests/unit/test_credentials.py
  tests/contract/test_no_hardcoded_credentials.py
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
