Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(compilation): implement enforcement level precedence rule (T052)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(compilation): wire manifest.observability into builder (T053)
  packages/floe-core/src/floe_core/compilation/builder.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(contract): add governance + observability flow contract tests (T054)
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(compilation): add boundary condition tests for governance+observability (T055)
  packages/floe-core/tests/unit/compilation/test_stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: update golden fixtures and version assertion for 0.8.0
  testing/fixtures/golden/oci_pull/build_target_ref.json
  testing/fixtures/golden/oci_pull/pull_artifact_metadata.json
  testing/fixtures/golden/oci_pull/pull_not_found_error.json
  testing/fixtures/golden/oci_pull/pull_observability.json
  testing/fixtures/golden/oci_pull/pull_plugins_config.json
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
  testing/fixtures/golden/oci_pull/pull_transforms.json
  testing/fixtures/golden/oci_pull/tag_classification.json
  tests/contract/test_3e_governance_contract.py
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(schemas): add missing manifest model exports, strengthen test assertions
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/tests/unit/schemas/test_manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: fix golden fixture trailing newlines and update secrets baseline
  .secrets.baseline
  testing/fixtures/golden/oci_pull/build_target_ref.json
  testing/fixtures/golden/oci_pull/pull_artifact_metadata.json
  testing/fixtures/golden/oci_pull/pull_not_found_error.json
  testing/fixtures/golden/oci_pull/pull_observability.json
  testing/fixtures/golden/oci_pull/pull_plugins_config.json
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
  testing/fixtures/golden/oci_pull/pull_transforms.json
  testing/fixtures/golden/oci_pull/tag_classification.json
Due: none

fix(security): add endpoint SSRF validation, token character validation, git output validation
  packages/floe-core/src/floe_core/compilation/builder.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/tests/unit/schemas/test_manifest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): use GHCR multi-arch image for Cube Store in test values
  charts/floe-platform/values-test.yaml
Due: none

feat(core): config pipeline flow — governance + observability from manifest (WU-9) (#84)
  .secrets.baseline
  .specwright/state/workflow.json
  .specwright/work/platform-integration/context.md
  .specwright/work/platform-integration/design.md
  .specwright/work/platform-integration/plan.md
  .specwright/work/platform-integration/spec.md
  charts/floe-platform/charts/cube/templates/configmap.yaml
  charts/floe-platform/charts/cube/templates/deployment-api.yaml
  charts/floe-platform/charts/cube/templates/statefulset-cube-store.yaml
  charts/floe-platform/values-test.yaml
  packages/floe-core/src/floe_core/compilation/builder.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/__init__.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/manifest.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_builder.py
  packages/floe-core/tests/unit/compilation/test_stages.py
  packages/floe-core/tests/unit/schemas/test_manifest.py
  testing/fixtures/golden/oci_pull/build_target_ref.json
  testing/fixtures/golden/oci_pull/pull_artifact_metadata.json
  testing/fixtures/golden/oci_pull/pull_not_found_error.json
  testing/fixtures/golden/oci_pull/pull_observability.json
  testing/fixtures/golden/oci_pull/pull_plugins_config.json
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
  testing/fixtures/golden/oci_pull/pull_transforms.json
  testing/fixtures/golden/oci_pull/tag_classification.json
  tests/contract/test_3e_governance_contract.py
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): pin Polaris to 1.2.1-incubating for PyIceberg compat (T056)
  charts/floe-platform/values-test.yaml
Due: none

fix(e2e): enforce strict=True on Cube Store xfail markers (T057)
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): remove stale xfail markers across E2E tests (T057)
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e,cube): STORAGE plugin test + health check MagicMock guard (T058)
  .specwright/state/workflow.json
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  tests/e2e/test_plugin_system.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(duckdb): normalize memory_limit from manifest into dbt profile settings (T059)
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_plugin.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): MinIO bucket verification before E2E tests (T060)
  testing/ci/test-e2e.sh
  testing/ci/wait-for-services.sh
Due: none

fix(verify): resolve WARN findings — storage contract test + health_check call site
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  tests/contract/test_compilation.py
  tests/e2e/test_plugin_system.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): update meta-test after xfail marker removal (WU-10)
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(platform): pin Polaris 1.2.1, xfail cleanup, test assertion fixes (WU-10) (#85)
  .specwright/state/workflow.json
  charts/floe-platform/values-test.yaml
  plugins/floe-compute-duckdb/src/floe_compute_duckdb/plugin.py
  plugins/floe-compute-duckdb/tests/unit/test_plugin.py
  plugins/floe-semantic-cube/src/floe_semantic_cube/plugin.py
  testing/ci/test-e2e.sh
  testing/ci/wait-for-services.sh
  testing/tests/unit/test_ci_workflows.py
  tests/contract/test_compilation.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_plugin_system.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: sync workflow.json — mark WU-10 shipped, advance to WU-11
  .specwright/state/workflow.json
Due: none

chore: sync workflow.json — mark WU-10 shipped, advance to WU-11 (#86)
  .specwright/state/workflow.json
Due: none

feat(demo): add Dagster demo Dockerfile and .dockerignore (T61)
  .dockerignore
  .specwright/state/workflow.json
  .specwright/work/platform-integration/context.md
  .specwright/work/platform-integration/plan.md
  .specwright/work/platform-integration/spec.md
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(demo): add compile-demo and build-demo-image Makefile targets (T62)
  .specwright/state/workflow.json
  Makefile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(demo): fix Helm values image overrides and module paths (T63/T64)
  .specwright/state/workflow.json
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(demo): replace hand-written definitions.py with generated versions (T65)
  .gitignore
  .specwright/state/workflow.json
  Makefile
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(test): add requirement markers, strengthen assertions, add values-demo parity tests
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): add --profiles-dir to dbt compile, gitignore compiled_artifacts.json
  .gitignore
  .secrets.baseline
  Makefile
Due: none

fix(demo): address PR review — selective COPY, remove redundant compilation
  Makefile
  docker/dagster-demo/Dockerfile
Due: none

feat(demo): production-like demo packaging (WU-11) (#88)
  .dockerignore
  .gitignore
  .secrets.baseline
  .specwright/state/workflow.json
  .specwright/work/platform-integration/context.md
  .specwright/work/platform-integration/plan.md
  .specwright/work/platform-integration/spec.md
  Makefile
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(orchestrator): add docker extras for webserver, daemon, and k8s (T66)
  plugins/floe-orchestrator-dagster/pyproject.toml
  testing/tests/unit/test_demo_packaging.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(docker): replace vendor base image with 3-stage uv build (T67)
  docker/dagster-demo/Dockerfile
Due: none

feat(make): manifest-driven plugin selection for Docker build (T68)
  Makefile
  docker/dagster-demo/Dockerfile
Due: none

test(packaging): update structural tests for 3-stage uv Dockerfile (T69)
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: update secrets baseline for uv.lock changes (T70)
  .secrets.baseline
Due: none

fix(packaging): strengthen assertions and resolve verify warnings
  .specwright/state/workflow.json
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(packaging): remove dead tomli fallback (Python 3.11+ has tomllib)
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(packaging): resolve CI failures and PR review comments
  Makefile
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(docker): 3-stage uv build replacing vendor base image (WU-12) (#89)
  .secrets.baseline
  .specwright/state/workflow.json
  Makefile
  docker/dagster-demo/Dockerfile
  plugins/floe-orchestrator-dagster/pyproject.toml
  testing/tests/unit/test_demo_packaging.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: remove beads issue tracker and all artifacts
  .claude/RULES_INDEX.md
  .claude/optimization-plan.md
  .claude/skills/beads/SKILL.md
  .claude/skills/beads/references/BOUNDARIES.md
  .claude/skills/beads/references/CLI_REFERENCE.md
  .claude/skills/beads/references/DEPENDENCIES.md
  .claude/skills/beads/references/ISSUE_CREATION.md
  .claude/skills/beads/references/RESUMABILITY.md
  .claude/skills/beads/references/STATIC_DATA.md
  .claude/skills/beads/references/WORKFLOWS.md
  .dockerignore
  .github/CI.md
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  CLAUDE.md
  Makefile
  docs/guides/linear-workflow.md
  scripts/setup-hooks.sh
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: update pre-commit hooks to latest versions
  .pre-commit-config.yaml
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
