Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

fix(e2e): resolve 91 test failures from in-cluster E2E run
  demo/customer-360/definitions.py
  demo/customer-360/profiles.yml
  demo/customer-360/target/manifest.json
  demo/financial-risk/definitions.py
  demo/financial-risk/profiles.yml
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/definitions.py
  demo/iot-telemetry/profiles.yml
  demo/iot-telemetry/target/manifest.json
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  testing/Dockerfile
  testing/fixtures/services.py
  testing/k8s/jobs/test-e2e-destructive.yaml
  testing/k8s/jobs/test-e2e.yaml
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): align test assertions with actual infrastructure
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  testing/tests/unit/test_port_resolution.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): add SQL identifier validation for DuckDB catalog queries
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lint): split long SQL execute line to fix E501
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(codegen): address PR review findings — SQL quoting, exception handling, type hints
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): stabilise in-cluster E2E test infrastructure (#219)
  demo/customer-360/definitions.py
  demo/customer-360/profiles.yml
  demo/customer-360/target/manifest.json
  demo/financial-risk/definitions.py
  demo/financial-risk/profiles.yml
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/definitions.py
  demo/iot-telemetry/profiles.yml
  demo/iot-telemetry/target/manifest.json
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  testing/Dockerfile
  testing/fixtures/services.py
  testing/k8s/jobs/test-e2e-destructive.yaml
  testing/k8s/jobs/test-e2e.yaml
  testing/tests/unit/test_port_resolution.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_dbt_e2e_profile.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(hooks): align local guardrails with CI checks
  .claude/settings.json
  .pre-commit-config.yaml
Due: none

fix(hooks): align local guardrails with CI checks (#220)
  .claude/settings.json
  .pre-commit-config.yaml
Due: none

fix(tests): use ServiceEndpoint for compilation fixture endpoints
  tests/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): remove hardcoded localhost from error messages
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): add in-cluster E2E test orchestration
  Makefile
  testing/ci/test-e2e-cluster.sh
Due: none

fix(testing): add trap for Job cleanup on signal interruption
  testing/ci/test-e2e-cluster.sh
Due: none

chore: stage missed housekeeping from prior PRs
  .secrets.baseline
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
  packages/floe-core/src/floe_core/telemetry/sanitization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(review): address PR #222 review feedback
  testing/ci/test-e2e-cluster.sh
  tests/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): structural fixes for reliable E2E test execution (#222)
  .secrets.baseline
  Makefile
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
  packages/floe-core/src/floe_core/telemetry/sanitization.py
  testing/ci/test-e2e-cluster.sh
  tests/conftest.py
  tests/e2e/test_observability.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add floe-iceberg to demo Dagster image
  docker/dagster-demo/Dockerfile
Due: none

fix(demo): update Polaris config from credential to OAuth2 format
  demo/manifest.yaml
Due: none

fix(e2e): accept :memory: as valid DuckDB path in profile assertions
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(infra): use 127.0.0.1 instead of localhost in kubeconfig rewrite
  scripts/devpod-sync-kubeconfig.sh
Due: none

chore: remove dbt manifest.json gitignore carve-out
  .gitignore
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
Due: none

fix(hooks): correct port numbers in check-e2e-ports.sh
  .claude/hooks/check-e2e-ports.sh
Due: none

fix(security): add cryptography CVE GHSA-m959-cc7f-wv43 to vuln-ignore
  .vuln-ignore
Due: none

fix(ci): resolve ruff E501 line-length and use 127.0.0.1 in port hook
  .claude/hooks/check-e2e-ports.sh
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): eliminate 27 E2E test failures across 7 root causes (#223)
  .claude/hooks/check-e2e-ports.sh
  .gitignore
  .vuln-ignore
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
  demo/manifest.yaml
  docker/dagster-demo/Dockerfile
  scripts/devpod-sync-kubeconfig.sh
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(storage): create floe-storage-s3 plugin package (T1)
  plugins/floe-storage-s3/README.md
  plugins/floe-storage-s3/pyproject.toml
  plugins/floe-storage-s3/src/floe_storage_s3/__init__.py
  plugins/floe-storage-s3/src/floe_storage_s3/config.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(iceberg): re-instantiate plugins with validated config after configure (T2)
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): remove STORAGE from CONFIG_ONLY_TYPES, verify registry discovery (T3)
  tests/e2e/test_plugin_system.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add floe-storage-s3 to FLOE_PLUGINS and COPY (T4)
  docker/dagster-demo/Dockerfile
Due: none

fix(tests): add Helm version-aware upgrade flags helper (T5)
  testing/fixtures/helm.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): extract parentRun assertion to xfailed test (T6)
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): replace load_catalog() with plugin connect() in template
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(storage): cherry-pick S3StoragePlugin from e2e-zero-failures
  plugins/floe-storage-s3/README.md
  plugins/floe-storage-s3/pyproject.toml
  plugins/floe-storage-s3/src/floe_storage_s3/__init__.py
  plugins/floe-storage-s3/src/floe_storage_s3/config.py
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(storage): add tracer_name property to S3StoragePlugin
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): regenerate definitions.py with plugin-based catalog connect
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): correct logging format specifiers in template
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): restructure template imports for ruff I001 compliance
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): suppress bandit false positives B608 and B105
  plugins/floe-storage-s3/src/floe_storage_s3/plugin.py
  pyproject.toml
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(generator): move iceberg wiring into correct conditional block
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_code_generator_iceberg.py
  plugins/floe-storage-s3/tests/unit/test_plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): add floe-storage-s3 to workspace dependencies and sources
  pyproject.toml
  uv.lock
Due: none
