Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

feat(devpod): add Makefile targets for setup, test, delete, status
  Makefile
Due: none

feat(devpod): add .env.example DevPod section, remove unsupported waitFor
  .devcontainer/hetzner/devcontainer.json
  .env.example
Due: none

fix(devpod): address verification gate warnings
  scripts/devpod-setup.sh
  scripts/devpod-test.sh
Due: none

fix(devpod): address PR review findings
  Makefile
  scripts/devpod-setup.sh
  scripts/devpod-test.sh
Due: none

feat(devpod): automate DevPod ops lifecycle for Hetzner E2E testing (#196)
  .devcontainer/hetzner/devcontainer.json
  .env.example
  Makefile
  scripts/devpod-setup.sh
  scripts/devpod-test.sh
Due: none

fix(e2e): add --atomic flag and post-test recovery to Helm upgrade test
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): correct Jaeger error message and add seed_observability fixture
  tests/e2e/test_demo_mode.py
  tests/e2e/test_observability_roundtrip_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(security): add Pygments GHSA-5239-wwwm-4pmq to vuln-ignore
  .vuln-ignore
Due: none

fix(e2e): use standalone TracerProvider in OTel collector test
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(devpod): use TOKEN option with accurate deprecation comment
  scripts/devpod-setup.sh
Due: none

fix(e2e): wrap finally-block cleanup in try/except to prevent masking
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(devpod): rewrite kubeconfig for Docker-outside-of-Docker networking
  .devcontainer/hetzner/postStartCommand.sh
Due: none

Update tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(review): pin Kind network IP and log best-effort exceptions
  .devcontainer/hetzner/postStartCommand.sh
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: apply ruff formatting to review fixes
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve test infrastructure issues hiding production bugs (Cat 3-7) (#199)
  .devcontainer/hetzner/postStartCommand.sh
  .vuln-ignore
  scripts/devpod-setup.sh
  tests/e2e/test_demo_mode.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_platform_bootstrap.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs(testing): add Remote Test Infrastructure (DevPod + Hetzner) section
  TESTING.md
Due: none

docs(testing): add Remote Test Infrastructure (DevPod + Hetzner) section (#200)
  TESTING.md
Due: none

feat(devpod): add devpod-ensure-ready.sh connectivity validator
  scripts/devpod-ensure-ready.sh
Due: none

feat(devpod): rewire test-e2e to DevPod, add test-e2e-local
  Makefile
Due: none

feat(devpod): rewire demo to DevPod, add demo-local and demo-stop
  Makefile
Due: none

feat(devpod): update make help for DevPod-first targets
  Makefile
Due: none

chore: add .demo-pids to .gitignore
  .gitignore
Due: none

docs: update TESTING.md for DevPod-first test-e2e and demo
  TESTING.md
Due: none

fix(security): quote DEVPOD_WORKSPACE in demo target
  Makefile
Due: none

fix: resolve CI failures and orphaned port-forwards bug
  Makefile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(devpod): make test-e2e and demo default to DevPod (#201)
  .gitignore
  Makefile
  TESTING.md
  scripts/devpod-ensure-ready.sh
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(devpod): resolve Docker-outside-of-Docker networking for Hetzner E2E
  .devcontainer/hetzner/postStartCommand.sh
  .devcontainerignore
  Makefile
  scripts/devpod-ensure-ready.sh
  scripts/devpod-sync-kubeconfig.sh
  scripts/devpod-test.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(devpod): address PR review feedback
  .devcontainer/hetzner/postStartCommand.sh
  scripts/devpod-sync-kubeconfig.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(devpod): resolve Docker-outside-of-Docker networking for Hetzner E2E (#202)
  .devcontainer/hetzner/postStartCommand.sh
  .devcontainerignore
  Makefile
  scripts/devpod-ensure-ready.sh
  scripts/devpod-sync-kubeconfig.sh
  scripts/devpod-test.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(infra): preload bitnami/kubectl:1.32 into Kind cluster
  testing/k8s/setup-cluster.sh
Due: none

fix(test): increase pod recovery timeout to 60s for Hetzner
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(codegen): wire LineageResource into definitions.py generation
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  packages/floe-core/tests/unit/test_orchestrator_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  tests/contract/test_orchestrator_plugin_abc.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(demo): add LineageResource to all demo definitions.py
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add floe-lineage-marquez to demo Docker image
  docker/dagster-demo/Dockerfile
Due: none

style(demo): fix import ordering in definitions.py files
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor(compile): use entry point discovery for orchestrator plugin
  packages/floe-core/src/floe_core/cli/platform/compile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage): use try_create_lineage_resource with graceful fallback
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  packages/floe-core/src/floe_core/cli/platform/compile.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): wire OpenLineage into codegen, preload Helm hook image, increase pod recovery timeout (#203)
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  docker/dagster-demo/Dockerfile
  packages/floe-core/src/floe_core/cli/platform/compile.py
  packages/floe-core/src/floe_core/plugins/orchestrator.py
  packages/floe-core/tests/unit/test_orchestrator_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  testing/k8s/setup-cluster.sh
  tests/contract/test_orchestrator_plugin_abc.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): add dagster-k8s to Dagster demo image
  docker/dagster-demo/Dockerfile
Due: none
