Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

fix(e2e): resolve test code and sensor plugin bugs (WU-16) (#104)
  .specwright/state/workflow.json
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/sensors.py
  plugins/floe-orchestrator-dagster/tests/unit/test_sensors.py
  testing/tests/unit/test_dagster_migration.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_demo_mode.py
  tests/e2e/test_helm_upgrade_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): reset structlog after telemetry initialization tests
  packages/floe-core/tests/unit/test_telemetry_initialization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-17): OTel/OpenLineage pipeline wiring (#105)
  .specwright/state/workflow.json
  charts/floe-platform/values.yaml
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/helm/test_platform_template.py
  tests/unit/test_e2e_fixture_wiring.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-18): wire run_enforce_stage() into compile_pipeline() (T33)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-18): synchronize CVE ignore list between pre-commit and E2E test (T37)
  .specwright/state/workflow.json
  packages/floe-core/tests/unit/compilation/test_stages.py
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-18): add non-secret env var exclusion list for helm secret scanning (T34, T38)
  .specwright/state/workflow.json
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-18): strengthen test assertions and fix gate-verify findings
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_stages.py
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-19): fix Marquez stability with startup probe, pg_isready, and memory (T39, T40)
  .specwright/state/workflow.json
  charts/floe-platform/templates/deployment-marquez.yaml
  charts/floe-platform/values.yaml
  tests/integration/helm/conftest.py
  tests/integration/helm/test_platform_template.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-19): update values-test.yaml memory to match stability fix (T41)
  .specwright/state/workflow.json
  charts/floe-platform/values-test.yaml
Due: none

feat(wu-18): governance pipeline wiring + Helm secrets (#108)
  .specwright/state/workflow.json
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_stages.py
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-19): add docker extras to workspace root and relax pyiceberg constraint
  plugins/floe-catalog-polaris/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(wu-19): fix OpenLineage event delivery and wire observability seeding (T42)
  packages/floe-core/src/floe_core/compilation/stages.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-19): resolve all verification warnings for Marquez stability
  .specwright/state/workflow.json
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/lineage/protocols.py
  packages/floe-core/src/floe_core/lineage/transport.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style(wu-19): format test_platform_template.py
  tests/integration/helm/test_platform_template.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-19): Marquez stability with startup probe, pg_isready, and OpenLineage fixes (#110)
  .specwright/state/workflow.json
  charts/floe-platform/templates/deployment-marquez.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/lineage/protocols.py
  packages/floe-core/src/floe_core/lineage/transport.py
  packages/floe-core/tests/unit/test_lineage_pipeline_wiring.py
  plugins/floe-catalog-polaris/pyproject.toml
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
  tests/integration/helm/conftest.py
  tests/integration/helm/test_platform_template.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve 4 test infrastructure issues (28 of 49 failures)
  testing/ci/test-e2e.sh
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): add NodePort config, bootstrap curl fixes, and Dagster port remap
  .specwright/config.json
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values-test.yaml
  testing/k8s/kind-config.yaml
  testing/k8s/setup-cluster.sh
Due: none

fix(e2e): address CI lint failure and security review findings
  testing/ci/test-e2e.sh
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): resolve 4 test infrastructure issues (#112)
  .specwright/config.json
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/values-test.yaml
  testing/ci/test-e2e.sh
  testing/k8s/kind-config.yaml
  testing/k8s/setup-cluster.sh
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): make PyIceberg git install a hard fail in test-e2e.sh
  .specwright/state/workflow.json
  testing/ci/test-e2e.sh
Due: none

fix(e2e): make PyIceberg git install a hard fail in test-e2e.sh (#113)
  .specwright/state/workflow.json
  testing/ci/test-e2e.sh
Due: none

fix(helm): guard wait-for-minio init container with minio.enabled
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
Due: none

fix(helm): guard wait-for-minio init container with minio.enabled (#115)
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
Due: none

fix(e2e): align OTel label selector in test_observability.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): update OTel unit test to expect name=otel instead of component=otel
  testing/tests/unit/test_otel_pipeline.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): align OTel label selector to match subchart output (#116)
  testing/tests/unit/test_otel_pipeline.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): replace mc-based MinIO bucket check with S3 HTTP API
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): use authenticated S3 HeadBucket for MinIO bucket check
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): replace mc-based MinIO bucket check with S3 HTTP API (#117)
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-24): resolve Polaris S3 path-style access for MinIO
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
Due: none

feat(wu-24): add dbt_e2e_profile fixture and fix staging materialization
  .specwright/state/workflow.json
  demo/customer-360/dbt_project.yml
  demo/financial-risk/dbt_project.yml
  demo/iot-telemetry/dbt_project.yml
  tests/e2e/conftest.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-24): wire dbt_e2e_profile fixture into test_data_pipeline.py
  tests/e2e/test_data_pipeline.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-24): wire dbt_e2e_profile fixture into dbt lifecycle tests
  tests/e2e/test_dbt_lifecycle_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-24): resolve 2 verify BLOCKs — profiles-dir and seed row counts
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_dbt_lifecycle_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-24): resolve 10 verify WARNs — assertion strength, safety, security
  charts/floe-platform/values-test.yaml
  tests/e2e/conftest.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-24): resolve 3 strategic verify WARNs — env_var, dead config, runner unification
  .specwright/state/workflow.json
  charts/floe-platform/templates/configmap-polaris.yaml
  tests/e2e/conftest.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_dbt_lifecycle_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-24): address PR review — conftest import, env teardown, retry assertion
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_dbt_lifecycle_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(wu-24): dbt E2E pipeline configuration — env_var profiles, Iceberg routing (#118) (#119)
  .specwright/state/workflow.json
  charts/floe-platform/templates/configmap-polaris.yaml
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  demo/customer-360/dbt_project.yml
  demo/financial-risk/dbt_project.yml
  demo/iot-telemetry/dbt_project.yml
  tests/e2e/conftest.py
  tests/e2e/dbt_utils.py
  tests/e2e/test_data_pipeline.py
  tests/e2e/test_dbt_e2e_profile.py
  tests/e2e/test_dbt_lifecycle_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-25): governance enforcement — secrets scan + strict mode test
  tests/e2e/test_governance.py
  tests/e2e/test_governance_enforcement_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(wu-25): harden docstring filter — remove triple_count==0 guard
  tests/e2e/test_governance.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
