Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

Require fresh Jaeger traces in observability E2E
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Plan W3 observability quality E2E validation
  docs/superpowers/plans/2026-05-05-w3-observability-quality-e2e.md
Due: none

Use canonical telemetry imports
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add GX E2E validation for Customer 360 Iceberg data
  tests/e2e/test_quality_gx_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align GX dataframe validation spec
  plugins/floe-quality-gx/tests/unit/test_dataframe_connection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Tie Jaeger trace assertion to current compile run
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add DataFrame-backed GX validation
  plugins/floe-quality-gx/src/floe_quality_gx/executor.py
  plugins/floe-quality-gx/tests/unit/test_dataframe_connection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Design W3 observability quality E2E validation
  docs/superpowers/specs/2026-05-05-w3-observability-quality-e2e-design.md
Due: none

Design dlt ingestion composition uplift
  docs/superpowers/specs/2026-05-07-dlt-ingestion-composition-uplift-design.md
Due: none

Document Iceberg writer contract design
  docs/superpowers/specs/2026-05-07-iceberg-writer-contract-design.md
Due: none

Plan dlt ingestion composition uplift
  docs/superpowers/plans/2026-05-07-dlt-ingestion-composition-uplift.md
Due: none

Document identity and secret composition design
  docs/superpowers/specs/2026-05-07-identity-secret-composition-design.md
Due: none

Plan Iceberg writer contract implementation
  docs/superpowers/plans/2026-05-07-iceberg-writer-contract.md
Due: none

Plan identity and secret composition implementation
  docs/superpowers/plans/2026-05-07-identity-secret-composition.md
Due: none

Add dlt ingestion deployment binding schema
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Constrain dlt credential validation scope
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: expose resolved identity and secrets plugins
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_resolver.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Preserve catalog binding compatibility
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: bump compiled artifact contract for security plugin refs
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_resolved_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add orchestrator-neutral Iceberg writer contract
  packages/floe-iceberg/src/floe_iceberg/__init__.py
  packages/floe-iceberg/src/floe_iceberg/writer.py
  packages/floe-iceberg/tests/unit/test_writer.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: refresh compiled artifact version example
  packages/floe-core/src/floe_core/schemas/versions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Validate dlt binding JSON fragments
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: add credential composition mode vocabulary
  packages/floe-core/src/floe_core/composition/__init__.py
  packages/floe-core/src/floe_core/composition/models.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Reject non-finite dlt fragment numbers
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Delegate Dagster Iceberg exports to writer contract
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Validate ingestion composition requirements
  packages/floe-core/src/floe_core/composition/models.py
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: declare identity and secret plugin capabilities
  packages/floe-core/src/floe_core/plugins/identity.py
  packages/floe-core/src/floe_core/plugins/secrets.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/tests/unit/test_init.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: harden security capability assertions
  plugins/floe-identity-keycloak/tests/unit/test_init.py
  plugins/floe-secrets-infisical/tests/unit/test_plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden ingestion composition diagnostics
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Cover Iceberg writer recovery modes
  packages/floe-iceberg/tests/unit/test_writer.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Document Iceberg writer ownership boundary
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/architecture/storage-integration.md
Due: none

feat: validate identity and secret composition modes
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Compile dlt ingestion deployment binding
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/plugins/ingestion.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: treat security composition modes as alternatives
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Keep dlt compile binding secret-free
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: require compatible security mode intersections
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: require storage secret projection capabilities
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address PR review findings F1-F3
  plugins/floe-quality-gx/src/floe_quality_gx/executor.py
  plugins/floe-quality-gx/tests/unit/test_dataframe_connection.py
  tests/e2e/test_quality_gx_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Structure dlt composition failures
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: require concrete workload identity modes
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
