Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

Serialize dlt env and bound health checks
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use single dlt health timeout budget
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: generate minio storage deployment binding
  packages/floe-core/src/floe_core/plugins/storage.py
  plugins/floe-storage-minio/src/floe_storage_minio/config.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add Customer 360 dlt ingestion config
  demo/customer-360/floe.yaml
  demo/manifest.yaml
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 ingestion contract test
  demo/customer-360/floe.yaml
  demo/manifest.yaml
  tests/contract/test_core_to_ingestion_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: attach minio storage binding during compile
  demo/manifest.yaml
  packages/floe-core/src/floe_core/compilation/builder.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/plugins/test_plugin_system.py
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add Customer 360 dlt ingestion E2E
  tests/e2e/test_customer360_dlt_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: render helm values from storage binding
  charts/floe-platform/values-demo.yaml
  packages/floe-core/src/floe_core/cli/helm/generate.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 dlt E2E validation
  tests/e2e/test_customer360_dlt_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Customer 360 E2E lane and cleanup scope
  tests/e2e/test_customer360_dlt_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Customer 360 E2E typing and content check
  tests/e2e/test_customer360_dlt_ingestion.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: wire storage credential refs into helm chart
  .secrets.baseline
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/templates/job-minio-bucket-init.yaml
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/templates/secret-polaris.yaml
  charts/floe-platform/tests/bootstrap_job_test.yaml
  charts/floe-platform/tests/deployment_polaris_bootstrap_test.yaml
  charts/floe-platform/tests/job_minio_bucket_init_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.schema.json
  charts/floe-platform/values.yaml
  packages/floe-core/src/floe_core/cli/helm/generate.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add dlt ingestion format matrix E2E
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Remove unrelated dlt egress type ignore
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: consume compiled storage bindings
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/iceberg.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/validation/iceberg_outputs.py
  plugins/floe-orchestrator-dagster/tests/unit/test_iceberg_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_validation_iceberg_outputs.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  tests/contract/test_storage_endpoint_preservation.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dlt ingestion error context
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Document dlt ingestion E2E evidence
  TESTING.md
  docs/architecture/ARCHITECTURE-SUMMARY.md
  docs/plans/epics/04-core-plugins/epic-04f-ingestion-plugin.md
  docs/superpowers/specs/2026-05-05-dlt-ingestion-e2e-design.md
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dlt ingestion runtime config
  docs/superpowers/specs/2026-05-05-dlt-ingestion-e2e-design.md
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/schemas/floe_spec.py
  packages/floe-core/tests/unit/compilation/test_ingestion_resolution.py
  packages/floe-core/tests/unit/schemas/test_floe_spec_ingestion.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/config.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: align active storage references with minio
  charts/floe-platform/values-test.yaml
  testing/tests/unit/test_demo_packaging.py
  tests/contract/test_storage_minio_reference_audit.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: validate minio storage binding security
  docs/validation/2026-05-05-storage-minio-validation.md
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
  tests/contract/test_storage_binding_security.py
  tests/e2e/test_demo_iceberg_outputs.py
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: pin duckdb stable for remote e2e
  pyproject.toml
  tests/unit/test_duckdb_lock.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align helm smoke storage overrides
  tests/e2e/test_helm_workflow.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: wire minio runtime credentials
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/tests/deployment_polaris_bootstrap_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-test.yaml
  tests/contract/test_storage_minio_reference_audit.py
  tests/contract/test_storage_minio_rename.py
  tests/e2e/conftest.py
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: configure polaris s3 service credentials
  charts/floe-platform/templates/configmap-polaris.yaml
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/tests/configmap_polaris_test.yaml
  charts/floe-platform/tests/deployment_polaris_bootstrap_test.yaml
Due: none

docs: plan storage composition closeout
  docs/architecture/ARCHITECTURE-SUMMARY.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/index.md
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/opinionation-boundaries.md
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/architecture/plugin-system/interfaces.md
  docs/contracts/compiled-artifacts.md
  docs/research/storage-composition-20260507.md
  docs/superpowers/plans/2026-05-07-storage-composition-closeout.md
  docs/superpowers/specs/2026-05-05-storage-minio-architecture-design.md
Due: none

feat: add plugin composition resolver primitives
  packages/floe-core/src/floe_core/__init__.py
  packages/floe-core/src/floe_core/composition/__init__.py
  packages/floe-core/src/floe_core/composition/models.py
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
  packages/floe-core/tests/unit/test_import_cycle.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: expand storage catalog deployment bindings
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: let polaris own storage deployment translation
  packages/floe-core/src/floe_core/plugins/catalog.py
  packages/floe-core/tests/unit/plugins/test_catalog_abc.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/tracing.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-catalog-polaris/tests/unit/test_tracing.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: emit neutral minio storage deployment binding
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: compose storage and catalog deployment bindings
  packages/floe-core/src/floe_core/compilation/errors.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: render helm storage values from deployment bindings
  packages/floe-core/src/floe_core/cli/helm/generate.py
  packages/floe-core/tests/unit/helm/test_generate_cli.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: render polaris storage bootstrap from deployment binding
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/configmap-polaris.yaml
  charts/floe-platform/templates/deployment-polaris.yaml
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/templates/secret-polaris.yaml
  charts/floe-platform/tests/bootstrap_job_test.yaml
  charts/floe-platform/tests/configmap_polaris_test.yaml
  charts/floe-platform/tests/deployment_polaris_bootstrap_test.yaml
  charts/floe-platform/tests/polaris_persistence_test.yaml
  charts/floe-platform/values.schema.json
  charts/floe-platform/values.yaml
Due: none

docs: align storage architecture with plugin composition model
  docs/architecture/ARCHITECTURE-SUMMARY.md
  docs/architecture/adr/0036-storage-plugin-interface.md
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/opinionation-boundaries.md
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/architecture/plugin-system/interfaces.md
  docs/contracts/compiled-artifacts.md
  docs/requirements/01-plugin-architecture/05-storage-plugin.md
  docs/superpowers/plans/2026-05-05-storage-minio-architecture.md
  docs/superpowers/plans/2026-05-07-storage-composition-closeout.md
  docs/superpowers/specs/2026-05-05-storage-minio-architecture-design.md
Due: none

style: format storage composition files
  packages/floe-core/src/floe_core/__init__.py
  packages/floe-core/src/floe_core/compilation/errors.py
  packages/floe-core/src/floe_core/plugins/catalog.py
  packages/floe-core/tests/unit/composition/test_resolver.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: keep credential guard scanner compliant
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: align minio bootstrap assumptions
  testing/tests/unit/test_minio_bucket_provisioning.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: refresh flux platform chart artifact
  charts/floe-platform/flux-artifacts/floe-platform.tgz
  tests/unit/test_flux_manifests.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: repair repeat iceberg export state
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  tests/e2e/test_governance_enforcement_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve storage PR review findings
  .secrets.baseline
  charts/floe-platform/templates/job-polaris-bootstrap.yaml
  charts/floe-platform/tests/bootstrap-reliability_test.yaml
  charts/floe-platform/values.schema.json
  devtools/agent-memory/uv.lock
  docs/architecture/plugin-composition-uplift-tracker.md
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/composition/models.py
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/src/floe_core/plugins/storage.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/composition/test_resolver.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  packages/floe-core/uv.lock
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-storage-minio/src/floe_storage_minio/config.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
  tests/contract/test_golden_regression.py
  tests/fixtures/golden/compiled_artifacts_v2_schema.json
  tests/fixtures/golden/v0.10_compiled_artifacts_with_deployment.json
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
