Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

Harden data plugin observability redaction
  .secrets.baseline
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/tracing.py
  plugins/floe-catalog-polaris/tests/unit/test_plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_runtime_observability.py
  plugins/floe-dbt-core/src/floe_dbt_core/callbacks.py
  plugins/floe-dbt-core/tests/unit/test_node_observability.py
  plugins/floe-quality-gx/src/floe_quality_gx/plugin.py
  plugins/floe-quality-gx/tests/unit/test_run_checks.py
  plugins/floe-storage-minio/src/floe_storage_minio/plugin.py
  plugins/floe-storage-minio/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Redact presigned URL telemetry secrets
  .secrets.baseline
  packages/floe-core/src/floe_core/telemetry/sanitization.py
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
  plugins/floe-catalog-polaris/tests/unit/test_runtime_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden plugin telemetry redaction
  .secrets.baseline
  packages/floe-core/src/floe_core/telemetry/sanitization.py
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_errors.py
  plugins/floe-catalog-polaris/tests/unit/test_plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_runtime_observability.py
  plugins/floe-lineage-marquez/src/floe_lineage_marquez/__init__.py
  plugins/floe-lineage-marquez/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Redact URL userinfo credentials
  .secrets.baseline
  packages/floe-core/src/floe_core/telemetry/sanitization.py
  packages/floe-core/tests/unit/test_telemetry/test_sanitization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add security lifecycle observability
  .secrets.baseline
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-alertmanager/tests/unit/test_security_observability.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-email/tests/unit/test_security_observability.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/tracing.py
  plugins/floe-alert-slack/tests/unit/test_security_observability.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/tracing.py
  plugins/floe-alert-webhook/tests/unit/test_security_observability.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/tests/unit/test_security_observability.py
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/plugin.py
  plugins/floe-network-security-k8s/tests/unit/test_security_observability.py
  plugins/floe-rbac-k8s/src/floe_rbac_k8s/plugin.py
  plugins/floe-rbac-k8s/tests/unit/test_security_observability.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_security_observability.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_security_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix security observability classifications
  plugins/floe-alert-email/tests/unit/test_security_observability.py
  plugins/floe-network-security-k8s/tests/unit/test_security_observability.py
  plugins/floe-rbac-k8s/tests/unit/test_security_observability.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_security_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden security observability redaction
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/tracing.py
  plugins/floe-alert-alertmanager/tests/unit/test_security_observability.py
  plugins/floe-alert-alertmanager/tests/unit/test_tracing.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-email/src/floe_alert_email/tracing.py
  plugins/floe-alert-email/tests/unit/test_security_observability.py
  plugins/floe-alert-email/tests/unit/test_tracing.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/tracing.py
  plugins/floe-alert-slack/tests/unit/test_security_observability.py
  plugins/floe-alert-slack/tests/unit/test_tracing.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/tracing.py
  plugins/floe-alert-webhook/tests/unit/test_security_observability.py
  plugins/floe-alert-webhook/tests/unit/test_tracing.py
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/plugin.py
  plugins/floe-network-security-k8s/tests/unit/test_security_observability.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_security_observability.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_security_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Wrap network security generation observability
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/plugin.py
  plugins/floe-network-security-k8s/tests/unit/test_security_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Sanitize health observability errors
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/tests/unit/test_security_observability.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_health_status_sanitization.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_health_status_sanitization.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Wire alpha observability backend profile
  charts/floe-platform/templates/configmap-loki.yaml
  charts/floe-platform/templates/configmap-otel.yaml
  charts/floe-platform/templates/deployment-loki.yaml
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/templates/service-loki.yaml
  charts/floe-platform/templates/validate-otel-endpoints.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/e2e/test_demo_mode.py
  tests/integration/helm/test_values_schema.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix demo observability query backend
  charts/floe-platform/templates/configmap-prometheus.yaml
  charts/floe-platform/templates/deployment-prometheus.yaml
  charts/floe-platform/templates/service-prometheus.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/e2e/test_demo_mode.py
  tests/integration/helm/test_values_schema.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix observability backend chart wiring
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/configmap-loki.yaml
  charts/floe-platform/templates/configmap-prometheus.yaml
  charts/floe-platform/templates/deployment-loki.yaml
  charts/floe-platform/templates/deployment-prometheus.yaml
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/templates/service-loki.yaml
  charts/floe-platform/templates/service-prometheus.yaml
  charts/floe-platform/templates/validate-otel-endpoints.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/integration/helm/test_values_schema.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Honor observability datasource values
  charts/floe-platform/templates/configmap-prometheus.yaml
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/integration/helm/test_values_schema.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Validate Customer 360 observability proof
  Makefile
  testing/ci/customer360_observability.py
  testing/ci/validate_customer_360_demo.py
  testing/tests/unit/test_customer360_validator.py
  tests/e2e/test_customer360_observability_gate.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Customer 360 observability proof contracts
  testing/ci/customer360_observability.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Customer 360 Marquez lineage freshness proof
  testing/ci/customer360_observability.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 observability helper matching
  testing/ci/customer360_observability.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden optional Marquez facet parsing
  testing/ci/customer360_observability.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Document alpha observability proof
  README.md
  docs/contracts/observability-attributes.md
  docs/contributing/troubleshooting.md
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
  docs/demo/index.md
  docs/releases/v0.1.0-alpha.1-checklist.md
  docs/releases/v0.1.0-alpha.1-release-notes.md
Due: none

Align observability docs with validator output
  docs/contracts/observability-attributes.md
  docs/demo/customer-360-validation.md
  docs/demo/customer-360.md
Due: none

Correct observability release evidence wording
  docs/demo/customer-360-validation.md
  docs/releases/v0.1.0-alpha.1-checklist.md
Due: none

Fix plugin health and test module isolation
  packages/floe-core/tests/unit/test_secret_reference_validation.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_health.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Remove secret identifiers from operational logs
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Resolve observability PR review findings
  Makefile
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/context.py
  packages/floe-core/src/floe_core/telemetry/lifecycle.py
  packages/floe-core/tests/unit/test_telemetry/test_context.py
  packages/floe-core/tests/unit/test_telemetry/test_lifecycle.py
  plugins/floe-alert-alertmanager/tests/unit/test_security_observability.py
  plugins/floe-alert-email/tests/unit/test_security_observability.py
  plugins/floe-alert-slack/tests/unit/test_security_observability.py
  plugins/floe-alert-webhook/tests/unit/test_security_observability.py
  plugins/floe-catalog-polaris/tests/unit/test_runtime_observability.py
  plugins/floe-dbt-core/tests/unit/test_node_observability.py
  plugins/floe-identity-keycloak/tests/unit/test_security_observability.py
  plugins/floe-network-security-k8s/src/floe_network_security_k8s/plugin.py
  plugins/floe-network-security-k8s/tests/unit/test_platform_policies.py
  plugins/floe-network-security-k8s/tests/unit/test_security_observability.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
  plugins/floe-rbac-k8s/tests/unit/test_security_observability.py
  plugins/floe-secrets-infisical/tests/unit/test_security_observability.py
  plugins/floe-secrets-k8s/tests/unit/test_security_observability.py
  scripts/demo-observability-port-forwards.sh
  testing/ci/customer360_observability.py
  tests/unit/test_observability_trigger_helper.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Preserve observability context in demo validation
  testing/ci/validate_customer_360_demo.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: run customer 360 observability gate in live lane
  charts/floe-platform/.helmignore
  charts/floe-platform/flux-artifacts/floe-platform.tgz
  charts/floe-platform/templates/tests/_test-job.tpl
  charts/floe-platform/values-test.yaml
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/conftest.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
  scripts/devpod-test.sh
  testing/ci/common.sh
  testing/ci/customer360_observability.py
  testing/k8s/setup-cluster.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
  tests/e2e/test_customer360_observability_gate.py
  tests/e2e/test_observability.py
  tests/integration/helm/test_platform_template.py
  tests/unit/test_flux_manifests.py
  tests/unit/test_flux_source_selection.py
  tests/unit/test_observability_trigger_helper.py
  tests/unit/test_validation_boundary_markers.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: address observability review hardening
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden Customer 360 observability live gate (#365)
  charts/floe-platform/.helmignore
  charts/floe-platform/flux-artifacts/floe-platform.tgz
  charts/floe-platform/templates/tests/_test-job.tpl
  charts/floe-platform/values-test.yaml
  packages/floe-core/src/floe_core/telemetry/__init__.py
  packages/floe-core/src/floe_core/telemetry/initialization.py
  packages/floe-core/tests/unit/test_telemetry_initialization.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/semantic_sync.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime_observability.py
  plugins/floe-orchestrator-dagster/tests/unit/conftest.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_observability.py
  scripts/devpod-test.sh
  testing/ci/common.sh
  testing/ci/customer360_observability.py
  testing/k8s/setup-cluster.sh
  testing/tests/unit/test_demo_makefile_kubeconfig.py
  tests/e2e/test_customer360_observability_gate.py
  tests/e2e/test_observability.py
  tests/integration/helm/test_platform_template.py
  tests/unit/test_flux_manifests.py
  tests/unit/test_flux_source_selection.py
  tests/unit/test_observability_trigger_helper.py
  tests/unit/test_validation_boundary_markers.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: define alpha operability contract
  docs/superpowers/specs/2026-05-18-alpha-operability-contract-design.md
Due: none

docs: plan alpha operability implementation
  docs/superpowers/plans/2026-05-18-alpha-operability-contract.md
Due: none

docs: define alpha operability evidence
  docs/contracts/observability-attributes.md
  docs/demo/customer-360-validation.md
  docs/platform-engineers/validate-platform.md
Due: none

docs: define alpha operability evidence (#367)
  docs/contracts/observability-attributes.md
  docs/demo/customer-360-validation.md
  docs/platform-engineers/validate-platform.md
  docs/superpowers/plans/2026-05-18-alpha-operability-contract.md
  docs/superpowers/specs/2026-05-18-alpha-operability-contract-design.md
Due: none

Implement alpha operability validator evidence
  docs/demo/customer-360-validation.md
  docs/platform-engineers/validate-platform.md
  testing/ci/customer360_observability.py
  testing/ci/tests/test_customer360_backend_helpers.py
  testing/demo/customer360_validator.py
  testing/demo/tests/test_customer360_validator_contract.py
  testing/tests/unit/test_customer360_validator.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Curate alpha Grafana dashboard wiring
  charts/floe-platform/dashboards/data-quality.json
  charts/floe-platform/dashboards/lineage-overview.json
  charts/floe-platform/dashboards/pipeline-metrics.json
  charts/floe-platform/flux-artifacts/floe-platform.tgz
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/values.yaml
  tests/contract/test_floe_platform_observability_dashboards.py
  tests/contract/test_helm_security_contexts.py
  tests/contract/test_observability_manifests.py
  tests/contract/test_rbac_least_privilege.py
  tests/contract/test_test_infra_chart_integrity.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Deepen Customer 360 Marquez lineage validation
  docs/demo/customer-360-validation.md
  testing/ci/customer360_observability.py
  testing/ci/tests/test_customer360_marquez_lineage.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address Grafana operability review findings
  charts/floe-platform/flux-artifacts/floe-platform.tgz
  charts/floe-platform/templates/grafana-dashboards-configmap.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values.yaml
  tests/contract/test_floe_platform_observability_dashboards.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address PR review findings
  testing/ci/customer360_observability.py
  testing/ci/tests/test_customer360_backend_helpers.py
  testing/demo/customer360_validator.py
  testing/demo/tests/test_customer360_validator_contract.py
  testing/tests/unit/test_customer360_validator.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Address Marquez lineage review findings
  testing/ci/customer360_observability.py
  testing/ci/tests/test_customer360_marquez_lineage.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Implement alpha operability validator evidence (#369)
  docs/demo/customer-360-validation.md
  docs/platform-engineers/validate-platform.md
  testing/ci/customer360_observability.py
  testing/ci/tests/test_customer360_backend_helpers.py
  testing/demo/customer360_validator.py
  testing/demo/tests/test_customer360_validator_contract.py
  testing/tests/unit/test_customer360_validator.py
  tests/unit/test_observability_trigger_helper.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
