Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(helm): use valid bitnami/kubectl image tag 1.32.0
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

feat(make): add test-e2e-devpod target for DooD environments
  Makefile
Due: none

fix: resolve verify gate findings (kubectl tag, IP validation)
  Makefile
  testing/k8s/setup-cluster.sh
Due: none

fix(platform): add dagster-k8s, fix kubectl tag, add DevPod E2E target (#205)
  Makefile
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  docker/dagster-demo/Dockerfile
  testing/k8s/setup-cluster.sh
Due: none

feat(lineage): add OPENLINEAGE_URL env var override to _build_lineage_config()
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/test_lineage_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): set OPENLINEAGE_URL in observability test fixtures
  tests/conftest.py
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): set OTel endpoint in test fixtures and fix namespace checks
  tests/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test(lineage): fix 4 test quality BLOCK findings from gate-tests
  packages/floe-core/tests/unit/test_lineage_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage): resolve PR review findings — env var guard, try-block scope, test tier
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/integration/test_lineage_wiring.py
  packages/floe-core/tests/unit/test_lineage_config.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lint): remove unused patch import, fix import sorting
  packages/floe-core/tests/integration/test_lineage_wiring.py
  packages/floe-core/tests/unit/test_lineage_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage): add OPENLINEAGE_URL env var override for E2E observability tests (#206)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/integration/test_lineage_wiring.py
  packages/floe-core/tests/unit/test_lineage_config.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage): add per-model START/COMPLETE emission in compile_pipeline()
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/integration/test_lineage_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(tests): update pipeline lineage tests for per-model emission
  packages/floe-core/tests/unit/compilation/test_compile_pipeline_lineage.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(lineage): address PR review — emit_fail, assertion strength, structlog capture
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/integration/test_lineage_wiring.py
  packages/floe-core/tests/unit/compilation/test_compile_pipeline_lineage.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(lineage): add per-model OpenLineage emission in compile_pipeline (#207)
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/integration/test_lineage_wiring.py
  packages/floe-core/tests/unit/compilation/test_compile_pipeline_lineage.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(devpod): resolve Docker socket and Kind network failures in DooD
  .devcontainer/Dockerfile
  .devcontainer/hetzner/postStartCommand.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(infra): build Dagster image in preload_images to avoid OOM
  testing/k8s/setup-cluster.sh
Due: none

fix(demo): commit dbt manifests for Docker build context
  .gitignore
  Makefile
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
Due: none

fix(e2e): query Marquez events API for OpenLineage lifecycle validation
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(platform): ignore requests CVE, parameterize hook deadline
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  pyproject.toml
Due: none

fix(jobs): construct dbt args from values, fix key mismatch
  charts/floe-jobs/templates/cronjob.yaml
  charts/floe-jobs/templates/job.yaml
  charts/floe-jobs/values-test.yaml
  charts/floe-jobs/values.yaml
Due: none

fix(e2e): break long assertion line to satisfy ruff E501
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(charts): add RBAC list/watch verbs and floe-jobs helm unit tests
  charts/floe-jobs/tests/dbt-args_test.yaml
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
Due: none

fix(config): sync vuln-ignore CVE + demo profiles.yml :memory: path
  .vuln-ignore
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
Due: none

fix(lineage): wire Dagster run ID as OpenLineage parent for per-model events
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): replace bitnami/kubectl hook with curlimages/curl + K8s REST API
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  testing/k8s/setup-cluster.sh
Due: none

fix(helm): eliminate TOCTOU race in pre-upgrade hook
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
Due: none

fix(infra): DooD Kind cluster creation resilience
  .devcontainer/Dockerfile
  testing/k8s/setup-cluster.sh
Due: none

fix(infra): DooD networking and tunnel retry
  scripts/devpod-ensure-ready.sh
  testing/k8s/setup-cluster.sh
Due: none

fix(e2e): update profile isolation test to expect :memory: path
  tests/e2e/test_dbt_e2e_profile.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve verify gate blocks and security warnings
  .devcontainer/Dockerfile
  plugins/floe-orchestrator-dagster/tests/unit/test_asset_lineage_emission.py
  testing/k8s/setup-cluster.sh
  tests/e2e/test_dbt_e2e_profile.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: E2E alpha stability — close 7 failures + verify gate fixes (#210)
  .devcontainer/Dockerfile
  .vuln-ignore
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  demo/customer-360/profiles.yml
  demo/financial-risk/profiles.yml
  demo/iot-telemetry/profiles.yml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_asset_lineage_emission.py
  scripts/devpod-ensure-ready.sh
  testing/k8s/setup-cluster.sh
  tests/e2e/test_dbt_e2e_profile.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(helm): add K8sRunLauncher image to test values
  charts/floe-platform/values-test.yaml
Due: none

fix(helm): document K8sRunLauncher image in base values
  charts/floe-platform/values.yaml
Due: none

fix(helm): add K8sRunLauncher image to dev and demo values
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
Due: none

fix(helm): fix snake_case key in prod/staging, correct vuln-ignore
  .vuln-ignore
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
Due: none

test(helm): add unit tests for K8sRunLauncher image config
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
Due: none

fix(helm): configure K8sRunLauncher image across all environments (#211)
  .vuln-ignore
  charts/floe-platform/tests/dagster_run_launcher_test.yaml
  charts/floe-platform/values-demo.yaml
  charts/floe-platform/values-dev.yaml
  charts/floe-platform/values-prod.yaml
  charts/floe-platform/values-staging.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
Due: none

fix(e2e): replace deprecated --atomic with --rollback-on-failure, ignore new CVE
  .github/workflows/helm-ci.yaml
  .vuln-ignore
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(demo): use DbtProject instead of DbtCliResource in @dbt_assets decorator
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
