Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(4f): Phase 4 — US2 create_pipeline, run, get_destination_config with unit tests
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 5 — US3 write mode tests and get_destination_config unit tests
  plugins/floe-ingestion-dlt/tests/integration/test_pipeline.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 6 — US4 orchestrator ingestion resource factory and wiring
  plugins/floe-orchestrator-dagster/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/tests/integration/test_ingestion_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_resources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 7 — US5 schema contract enforcement with unit tests
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_pipeline.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 8 — US6 incremental loading with cursor_field and primary_key support
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_pipeline.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 9 — US7 observability with OTel spans and structured logging tests
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(4f): Phase 10 — US8 error handling with retry, categorization, and error hierarchy tests
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_pipeline.py
  plugins/floe-ingestion-dlt/tests/unit/test_errors.py
  plugins/floe-ingestion-dlt/tests/unit/test_retry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(4f): Phase 11 — quality gates pass (mypy, ruff, bandit, 84% coverage)
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/config.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/retry.py
  plugins/floe-ingestion-dlt/tests/conftest.py
  plugins/floe-ingestion-dlt/tests/integration/conftest.py
  plugins/floe-ingestion-dlt/tests/integration/test_health_check.py
  plugins/floe-ingestion-dlt/tests/unit/conftest.py
  plugins/floe-ingestion-dlt/tests/unit/test_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_errors.py
  plugins/floe-ingestion-dlt/tests/unit/test_retry.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

refactor: promote timeout param to PluginMetadata.health_check() base ABC
  packages/floe-core/src/floe_core/plugin_metadata.py
  packages/floe-core/src/floe_core/plugins/catalog.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-quality-dbt/src/floe_quality_dbt/plugin.py
  plugins/floe-quality-gx/src/floe_quality_gx/plugin.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4f): resolve test-review findings — signature consistency and golden fixtures
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/test_plugin_registry.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  testing/base_classes/test_base_catalog_plugin_tests.py
  tests/contract/test_golden_regression.py
  tests/fixtures/golden/plugin_interfaces_v1.json
  tests/fixtures/golden/v0.6_compiled_artifacts_with_ingestion.json
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(4f): add epic specs, planning docs, security research, and config updates
  CLAUDE.md
  charts/floe-platform/Chart.lock
  docs/plans/EPIC-OVERVIEW.md
  docs/plans/epics/04-core-plugins/epic-04g-reverse-etl.md
  docs/plans/epics/README.md
  docs/security/README.md
  docs/security/RESEARCH-STAGE-4-COMPLETION.md
  docs/security/SECURITY-CONTROL-GAPS.md
  docs/security/SECURITY-CONTROL-IMPLEMENTATION-MAP.md
  docs/security/SECURITY-CONTROLS-CATALOG.md
  docs/security/SECURITY-RESEARCH-STAGE-4-SUMMARY.md
  specs/4f-ingestion-plugin/checklists/requirements.md
  specs/4f-ingestion-plugin/contracts/dlt_ingestion_plugin_api.md
  specs/4f-ingestion-plugin/contracts/orchestrator_ingestion_wiring_api.md
  specs/4f-ingestion-plugin/data-model.md
  specs/4f-ingestion-plugin/plan.md
  specs/4f-ingestion-plugin/quickstart.md
  specs/4f-ingestion-plugin/research.md
  specs/4f-ingestion-plugin/spec.md
  specs/4f-ingestion-plugin/tasks.md
  uv.lock
Due: none

chore: update model to opus-4-6 and enable agent teams
  .claude/settings.json
Due: none

feat(4f): Phase 12 — T031/T034 FloeIngestionTranslator and ingestion asset factory
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/__init__.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4f): update catalog ABC test for None default timeout
  packages/floe-core/tests/unit/plugins/test_catalog_abc.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: update health_check default timeout assertions from 1.0 to None
  plugins/floe-catalog-polaris/tests/unit/test_health.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: fix pre-push hook issues — formatting, lint, and secret false positives
  docs/security/SECURITY-CONTROL-IMPLEMENTATION-MAP.md
  docs/security/SECURITY-CONTROLS-CATALOG.md
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/config.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_pipeline.py
  plugins/floe-ingestion-dlt/tests/unit/test_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/tests/integration/test_ingestion_wiring.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  specs/4f-ingestion-plugin/plan.md
  tests/contract/test_golden_regression.py
  tests/contract/test_ingestion_plugin_abc.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: fix remaining detect-secrets false positives
  .secrets.baseline
  docs/security/SECURITY-CONTROLS-CATALOG.md
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(4f): CI gate fixes — workspace deps, contract test, graceful degradation, HTTP categorization
  .secrets.baseline
  packages/floe-core/tests/contract/test_plugin_abc_contract.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/retry.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/resources/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_resources.py
  pyproject.toml
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Update README.md
  README.md
Due: none

Update README.md (#63)
  README.md
Due: none

chore: sync .linear-mapping.json with 15 new Linear issues (T007a, T108-T121)
  .beads/issues.jsonl
Due: none

docs(3d): Epic 3D Contract Monitoring — spec, plan, tasks, and analysis
  .beads/issues.jsonl
  CLAUDE.md
  specs/3d-contract-monitoring/checklists/requirements.md
  specs/3d-contract-monitoring/contracts/contract-violation-facet.json
  specs/3d-contract-monitoring/data-model.md
  specs/3d-contract-monitoring/plan.md
  specs/3d-contract-monitoring/quickstart.md
  specs/3d-contract-monitoring/research.md
  specs/3d-contract-monitoring/spec.md
  specs/3d-contract-monitoring/tasks.md
Due: none

feat(3d): Phase 14 — Integration tests, OpenLineage facets, public API exports (T086-T090)
  packages/floe-core/src/floe_core/contracts/monitoring/__init__.py
  packages/floe-core/tests/integration/cli/test_sla_cli.py
  packages/floe-core/tests/integration/contracts/monitoring/test_monitor_integration.py
  tests/contract/test_violation_event_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 6+7 — QualityCheck and AvailabilityCheck (T046-T051)
  packages/floe-core/src/floe_core/contracts/monitoring/checks/availability.py
  packages/floe-core/src/floe_core/contracts/monitoring/checks/quality.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/tests/unit/contracts/monitoring/test_availability.py
  packages/floe-core/tests/unit/contracts/monitoring/test_monitor_availability_wiring.py
  packages/floe-core/tests/unit/contracts/monitoring/test_quality.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 11 — Consumer impact analysis and root cause context enrichment (T072-T075)
  packages/floe-core/src/floe_core/contracts/monitoring/enrichment.py
  packages/floe-core/tests/unit/contracts/monitoring/test_consumer_impact.py
  packages/floe-core/tests/unit/contracts/monitoring/test_root_cause.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 9 — SLA compliance reporting engine and CLI (T061-T067)
  packages/floe-core/src/floe_core/cli/__init__.py
  packages/floe-core/src/floe_core/cli/main.py
  packages/floe-core/src/floe_core/cli/sla/__init__.py
  packages/floe-core/src/floe_core/cli/sla/report.py
  packages/floe-core/src/floe_core/contracts/monitoring/sla.py
  packages/floe-core/tests/unit/cli/test_sla_report.py
  packages/floe-core/tests/unit/contracts/monitoring/test_sla.py
  pyproject.toml
  tests/fixtures/cli/golden/root_help.txt
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 4 — SchemaDriftCheck implementation (T032-T034)
  packages/floe-core/src/floe_core/contracts/monitoring/checks/schema_drift.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/tests/unit/contracts/monitoring/test_schema_drift.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 5 — AlertRouter and 4 alert channel plugins (T035-T045)
  packages/floe-core/src/floe_core/contracts/monitoring/alert_router.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/tests/unit/contracts/monitoring/test_alert_router.py
  plugins/floe-alert-alertmanager/README.md
  plugins/floe-alert-alertmanager/pyproject.toml
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/__init__.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/plugin.py
  plugins/floe-alert-alertmanager/src/floe_alert_alertmanager/py.typed
  plugins/floe-alert-alertmanager/tests/conftest.py
  plugins/floe-alert-alertmanager/tests/unit/conftest.py
  plugins/floe-alert-alertmanager/tests/unit/test_plugin.py
  plugins/floe-alert-email/README.md
  plugins/floe-alert-email/pyproject.toml
  plugins/floe-alert-email/src/floe_alert_email/__init__.py
  plugins/floe-alert-email/src/floe_alert_email/plugin.py
  plugins/floe-alert-email/src/floe_alert_email/py.typed
  plugins/floe-alert-email/tests/conftest.py
  plugins/floe-alert-email/tests/unit/conftest.py
  plugins/floe-alert-email/tests/unit/test_plugin.py
  plugins/floe-alert-slack/README.md
  plugins/floe-alert-slack/pyproject.toml
  plugins/floe-alert-slack/src/floe_alert_slack/__init__.py
  plugins/floe-alert-slack/src/floe_alert_slack/plugin.py
  plugins/floe-alert-slack/src/floe_alert_slack/py.typed
  plugins/floe-alert-slack/tests/conftest.py
  plugins/floe-alert-slack/tests/unit/conftest.py
  plugins/floe-alert-slack/tests/unit/test_plugin.py
  plugins/floe-alert-webhook/README.md
  plugins/floe-alert-webhook/pyproject.toml
  plugins/floe-alert-webhook/src/floe_alert_webhook/__init__.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/plugin.py
  plugins/floe-alert-webhook/src/floe_alert_webhook/py.typed
  plugins/floe-alert-webhook/tests/conftest.py
  plugins/floe-alert-webhook/tests/unit/conftest.py
  plugins/floe-alert-webhook/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore(3d): add Linear mapping for 90 contract monitoring tasks (FLO-2494–FLO-2583)
  specs/3d-contract-monitoring/.linear-mapping.json
Due: none

feat(3d): Phase 10 — Incident management with severity mapping and correlation (T069-T071)
  packages/floe-core/src/floe_core/contracts/monitoring/incident.py
  packages/floe-core/tests/unit/contracts/monitoring/test_incident.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(3d): resolve test quality review issues (P0-P2) for PR readiness
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/tests/integration/contracts/conftest.py
  packages/floe-core/tests/integration/contracts/monitoring/conftest.py
  packages/floe-core/tests/integration/contracts/monitoring/test_monitor_integration.py
  packages/floe-core/tests/unit/cli/test_sla_cli.py
  packages/floe-core/tests/unit/contracts/monitoring/test_availability.py
  packages/floe-core/tests/unit/contracts/monitoring/test_consumer_impact.py
  packages/floe-core/tests/unit/contracts/monitoring/test_db_models.py
  packages/floe-core/tests/unit/contracts/monitoring/test_persistence_wiring.py
  packages/floe-core/tests/unit/contracts/monitoring/test_root_cause.py
  plugins/floe-alert-alertmanager/tests/unit/test_plugin.py
  plugins/floe-alert-email/tests/unit/test_plugin.py
  plugins/floe-alert-slack/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 12 — Per-contract overrides and custom metric definitions (T076-T079)
  packages/floe-core/src/floe_core/contracts/monitoring/custom_metrics.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/tests/unit/contracts/monitoring/test_config.py
  packages/floe-core/tests/unit/contracts/monitoring/test_custom_metrics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 13 — Helm chart templates for contract monitor deployment (T080-T084)
  charts/floe-platform/templates/configmap-contract-monitor.yaml
  charts/floe-platform/templates/deployment-contract-monitor.yaml
  charts/floe-platform/templates/service-contract-monitor.yaml
  charts/floe-platform/templates/serviceaccount-contract-monitor.yaml
  charts/floe-platform/values.yaml
Due: none

feat(3d): Phase 3 — CheckScheduler, ContractMonitor, OpenLineage events (T020-T031)
  packages/floe-core/src/floe_core/contracts/monitoring/events.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/src/floe_core/contracts/monitoring/scheduler.py
  packages/floe-core/tests/unit/contracts/monitoring/test_events.py
  packages/floe-core/tests/unit/contracts/monitoring/test_freshness.py
  packages/floe-core/tests/unit/contracts/monitoring/test_monitor.py
  packages/floe-core/tests/unit/contracts/monitoring/test_scheduler.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Add data retention cleanup tests for T068 (FLO-2568)
  packages/floe-core/tests/unit/contracts/monitoring/test_persistence_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(3d): Phase 8 — PostgreSQL persistence, foundational models & contracts (T005-T019, T052-T060)
  packages/floe-core/pyproject.toml
  packages/floe-core/src/floe_core/contracts/monitoring/__init__.py
  packages/floe-core/src/floe_core/contracts/monitoring/checks/__init__.py
  packages/floe-core/src/floe_core/contracts/monitoring/checks/base.py
  packages/floe-core/src/floe_core/contracts/monitoring/checks/freshness.py
  packages/floe-core/src/floe_core/contracts/monitoring/config.py
  packages/floe-core/src/floe_core/contracts/monitoring/db/__init__.py
  packages/floe-core/src/floe_core/contracts/monitoring/db/migrations/001_create_monitoring_tables.py
  packages/floe-core/src/floe_core/contracts/monitoring/db/migrations/__init__.py
  packages/floe-core/src/floe_core/contracts/monitoring/db/models.py
  packages/floe-core/src/floe_core/contracts/monitoring/db/repository.py
  packages/floe-core/src/floe_core/contracts/monitoring/monitor.py
  packages/floe-core/src/floe_core/contracts/monitoring/sla.py
  packages/floe-core/src/floe_core/contracts/monitoring/violations.py
  packages/floe-core/src/floe_core/plugin_types.py
  packages/floe-core/src/floe_core/plugins/alert_channel.py
  packages/floe-core/tests/integration/contracts/conftest.py
  packages/floe-core/tests/integration/contracts/monitoring/conftest.py
  packages/floe-core/tests/unit/contracts/monitoring/conftest.py
  packages/floe-core/tests/unit/contracts/monitoring/test_config.py
  packages/floe-core/tests/unit/contracts/monitoring/test_db_models.py
  packages/floe-core/tests/unit/contracts/monitoring/test_persistence_wiring.py
  packages/floe-core/tests/unit/contracts/monitoring/test_sla.py
  packages/floe-core/tests/unit/contracts/monitoring/test_violations.py
  packages/floe-core/uv.lock
  tests/contract/test_alert_channel_plugin_contract.py
  tests/contract/test_violation_event_contract.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(3d): resolve pre-commit hook failures (lint, format, types)
  .secrets.baseline
Due: none

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
