Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

Gate dlt binding to active ingestion
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: validate explicit Kubernetes secret providers
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Propagate dlt binding env refs
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat: validate security provider capabilities during compile
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use Polaris catalog URI in dlt binding
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: use storage-declared workload identity modes
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Structure dlt requirements failures
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: use storage-declared workload identity modes
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_resolved_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: prove secret capability compiler wiring
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  tests/contract/test_storage_binding_security.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Use dlt runtime binding for pipeline execution
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Normalize dlt runtime binding models
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: validate selected storage credential mode
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align dlt runtime binding fallback contract
  packages/floe-core/src/floe_core/plugins/ingestion.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: prove selected secret projection compiler validation
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: support secret projection credential bindings
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  tests/contract/test_resolved_governance_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dlt runtime env fallback
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Pass dlt ingestion binding through Dagster runtime
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: validate declared credential and provider compatibility
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Respect dlt source filesystem url style
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Prefer empty dlt source binding config
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: describe identity and secret composition contract
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/identity-plugin.md
  docs/architecture/interfaces/secrets-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/plugin-composition-uplift-tracker.md
Due: none

fix: remove redundant credential mode cast
  packages/floe-core/src/floe_core/compilation/stages.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Normalize dlt source path style flags
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Type dlt filesystem reader dispatch
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/ingestion/filesystem_sources.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: update oci pull golden plugin refs
  .secrets.baseline
  testing/fixtures/golden/oci_pull/pull_plugins_config.json
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
Due: none

Remove duplicated dlt ingestion catalog config
  demo/manifest.yaml
  tests/contract/test_core_to_ingestion_contract.py
  tests/e2e/test_customer360_dlt_ingestion.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: keep plugin refs secret-free
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_resolver.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden dlt ingestion binding test contracts
  tests/contract/test_core_to_ingestion_contract.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Remove dlt catalog_config fallback
  docs/superpowers/plans/2026-05-07-dlt-ingestion-composition-uplift.md
  docs/superpowers/specs/2026-05-07-dlt-ingestion-composition-uplift-design.md
  packages/floe-core/src/floe_core/compilation/resolver.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/config.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_dlt_iceberg_destination.py
  plugins/floe-ingestion-dlt/tests/unit/test_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/assets/ingestion.py
  plugins/floe-orchestrator-dagster/tests/unit/test_ingestion_translator.py
  plugins/floe-orchestrator-dagster/tests/unit/test_loader.py
  testing/fixtures/ingestion.py
  tests/contract/test_core_to_ingestion_contract.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Restore dlt fallback audit plan commands
  docs/superpowers/plans/2026-05-07-dlt-ingestion-composition-uplift.md
Due: none

Require dlt runtime binding during run
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/integration/test_health_check.py
  plugins/floe-ingestion-dlt/tests/unit/test_plugin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Resolve dlt runtime env refs
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-ingestion-dlt/src/floe_ingestion_dlt/plugin.py
  plugins/floe-ingestion-dlt/tests/unit/test_destination_config.py
  tests/contract/test_core_to_ingestion_contract.py
  tests/e2e/test_customer360_dlt_ingestion.py
  tests/e2e/test_dlt_ingestion_format_matrix.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

[codex] Validate observability E2E assertions (#320)
  docs/superpowers/plans/2026-05-05-w3-observability-quality-e2e.md
  docs/superpowers/specs/2026-05-05-w3-observability-quality-e2e-design.md
  plugins/floe-quality-gx/src/floe_quality_gx/executor.py
  plugins/floe-quality-gx/tests/unit/test_dataframe_connection.py
  tests/e2e/test_observability.py
  tests/e2e/test_quality_gx_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: remove retired s3 plugin fixtures
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/composition/test_resolver.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix governance contract ingestion fixture
  tests/contract/test_compilation.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Add identity and secret composition contracts (#321)
  .secrets.baseline
  docs/architecture/interfaces/catalog-plugin.md
  docs/architecture/interfaces/identity-plugin.md
  docs/architecture/interfaces/secrets-plugin.md
  docs/architecture/interfaces/storage-plugin.md
  docs/architecture/plugin-composition-uplift-tracker.md
  docs/superpowers/plans/2026-05-07-identity-secret-composition.md
  docs/superpowers/specs/2026-05-07-identity-secret-composition-design.md
  packages/floe-core/src/floe_core/compilation/resolver.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/composition/__init__.py
  packages/floe-core/src/floe_core/composition/models.py
  packages/floe-core/src/floe_core/composition/resolver.py
  packages/floe-core/src/floe_core/plugins/identity.py
  packages/floe-core/src/floe_core/plugins/secrets.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/src/floe_core/schemas/versions.py
  packages/floe-core/tests/unit/compilation/test_resolver.py
  packages/floe-core/tests/unit/compilation/test_storage_deployment_binding.py
  packages/floe-core/tests/unit/composition/test_resolver.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/tests/unit/test_init.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_plugin.py
  plugins/floe-secrets-k8s/src/floe_secrets_k8s/plugin.py
  plugins/floe-secrets-k8s/tests/unit/test_plugin.py
  testing/fixtures/golden/oci_pull/pull_plugins_config.json
  testing/fixtures/golden/oci_pull/pull_success_artifact_structure.json
  tests/contract/test_resolved_governance_contract.py
  tests/contract/test_storage_binding_security.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix demo image dlt plugin packaging
  docker/dagster-demo/Dockerfile
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: address identity secret review findings
  .secrets.baseline
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/schemas/compiled_artifacts.py
  packages/floe-core/tests/unit/compilation/test_stages.py
  packages/floe-core/tests/unit/schemas/test_compiled_artifacts.py
  plugins/floe-catalog-polaris/src/floe_catalog_polaris/plugin.py
  plugins/floe-catalog-polaris/tests/unit/test_storage_composition.py
  plugins/floe-identity-keycloak/src/floe_identity_keycloak/plugin.py
  plugins/floe-identity-keycloak/tests/unit/test_multi_tenancy.py
  plugins/floe-secrets-infisical/src/floe_secrets_infisical/plugin.py
  plugins/floe-secrets-infisical/tests/unit/test_plugin.py
  tests/contract/test_compiled_artifacts_schema.py
  tests/contract/test_composition_capability_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: plan composition error taxonomy
  docs/superpowers/plans/2026-05-07-composition-error-taxonomy.md
Due: none

docs: design composition error taxonomy
  docs/superpowers/specs/2026-05-07-composition-error-taxonomy-design.md
Due: none
