Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

no-dbt-runner-in-orchestrator:
  name: no dbtRunner in orchestrator
  entry: scripts/pre-commit-no-dbt-runner.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

agent-lint:
  name: claude agent frontmatter
  entry: scripts/pre-commit-agent-lint.sh
  language: script
  stages:
  - pre-commit
  pass_filenames: false

ruff-check:
  name: ruff check (lint)
  entry: uv run ruff check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

ruff-format-check:
  name: ruff format (check)
  entry: uv run ruff format --check .
  language: system
  stages:
  - pre-push
  pass_filenames: false

mypy-strict:
  name: mypy (strict)
  entry: uv run mypy --strict packages/ testing/
  language: system
  stages:
  - pre-push
  pass_filenames: false

bandit-security:
  name: bandit (security scan)
  entry: uv run bandit -c pyproject.toml -r packages/ -ll
  language: system
  stages:
  - pre-push
  pass_filenames: false

import-linter:
  name: import-linter (architecture)
  entry: uv run lint-imports
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'uv run pytest packages/ plugins/ --ignore-glob="**/integration/**" --ignore-glob="**/e2e/**" --ignore-glob="**/tests/contract/**" -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-contract:
  name: pytest (contract tests)
  entry: bash -c 'uv run pytest tests/contract/ packages/*/tests/contract/ --ignore-glob="**/tests/contract/__pycache__/**" -v --tb=short -x 2>/dev/null || uv run pytest tests/contract/ -v --tb=short -x'
  language: system
  stages:
  - pre-push
  pass_filenames: false

traceability:
  name: requirement traceability (80%)
  entry: uv run python -m testing.traceability --all --threshold 80
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(generator): use DbtProject in code generator template, add CVE review date
  .vuln-ignore
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): regenerate dbt manifests inside container for correct paths
  docker/dagster-demo/Dockerfile
Due: none

fix: upgrade cryptography to 46.0.6 (CVE fix), update generator docstring
  .vuln-ignore
  plugins/floe-identity-keycloak/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): upgrade Helm v3.14.0 to v4.1.3, bump plugins, restore --wait
  .github/workflows/helm-ci.yaml
  tests/e2e/test_helm_upgrade_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: resolve E2E materialization failures (DbtProject, Helm v4, Docker manifests) (#213)
  .github/workflows/helm-ci.yaml
  demo/customer-360/definitions.py
  demo/financial-risk/definitions.py
  demo/iot-telemetry/definitions.py
  docker/dagster-demo/Dockerfile
  plugins/floe-identity-keycloak/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/plugin.py
  tests/e2e/test_helm_upgrade_e2e.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): remove assetSelection to run full dbt build with seeds
  tests/e2e/conftest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(deps): upgrade cryptography to 46.0.6 in package lockfiles
  devtools/agent-memory/uv.lock
  packages/floe-core/uv.lock
Due: none

fix(e2e): exclude completed pods from readiness check
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(infra): add SSH keepalive and stdin redirect to API tunnel
  scripts/devpod-sync-kubeconfig.sh
Due: none

feat(infra): add SSH keepalive to service tunnels
  scripts/devpod-tunnels.sh
Due: none

feat(infra): add port-forward watchdog to E2E test runner
  testing/ci/test-e2e.sh
Due: none

feat(test): add infrastructure smoke gate fixture
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(test): add pytest-rerunfailures for E2E infrastructure resilience
  pyproject.toml
  tests/e2e/conftest.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(test): use ServiceEndpoint for telemetry endpoints in E2E conftest
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(infra): use devpod --ssh-keepalive-interval, fix watchdog dual-port
  scripts/devpod-sync-kubeconfig.sh
  testing/ci/test-e2e.sh
Due: none

style: format conftest.py for ruff format check
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(infra): address PR review comments for tunnel resilience
  testing/ci/test-e2e.sh
  tests/e2e/conftest.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(infra): add E2E tunnel resilience (SSH keepalive, watchdog, smoke gate) (#215)
  pyproject.toml
  scripts/devpod-sync-kubeconfig.sh
  scripts/devpod-tunnels.sh
  testing/ci/test-e2e.sh
  tests/e2e/conftest.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): rename nightly to weekly, fix cluster name mismatch and Cube Store build
  .github/CI.md
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
  Makefile
  docker/cube-store/Dockerfile
  testing/k8s/setup-cluster.sh
Due: none

fix(e2e): production fixes for E2E test stability (#209)
  .gitignore
  Makefile
  charts/floe-jobs/templates/cronjob.yaml
  charts/floe-jobs/templates/job.yaml
  charts/floe-jobs/tests/dbt-args_test.yaml
  charts/floe-jobs/values-test.yaml
  charts/floe-jobs/values.yaml
  charts/floe-platform/templates/hooks/pre-upgrade-statefulset-cleanup.yaml
  charts/floe-platform/tests/hook-pre-upgrade_test.yaml
  charts/floe-platform/values-test.yaml
  charts/floe-platform/values.yaml
  demo/customer-360/target/manifest.json
  demo/financial-risk/target/manifest.json
  demo/iot-telemetry/target/manifest.json
  pyproject.toml
  tests/e2e/test_observability.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: update unit tests for nightly→weekly rename, remove stale multi-arch refs
  .github/workflows/weekly.yml
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

style: fix ruff formatting in test_ci_workflows.py
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(ci): rename nightly to weekly, fix cluster name and Cube Store build (#216)
  .github/CI.md
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
  Makefile
  docker/cube-store/Dockerfile
  testing/k8s/setup-cluster.sh
  testing/tests/unit/test_ci_workflows.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): guard empty pod list and malformed JSON in readiness check
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(e2e): readiness check excludes completed pods, remove assetSelection (#217)
  tests/e2e/conftest.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/e2e/test_platform_bootstrap.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e): replace hardcoded localhost URLs with ServiceEndpoint
  tests/e2e/test_observability.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_platform_deployment_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(e2e): add @pytest.mark.destructive to cluster-mutating tests
  tests/e2e/conftest.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

feat(testing): add RBAC manifests for E2E test runners
  testing/k8s/rbac/e2e-destructive-runner.yaml
  testing/k8s/rbac/e2e-test-runner.yaml
Due: none

feat(testing): add E2E Job definitions and PVC for artifact storage
  testing/k8s/jobs/test-e2e.yaml
  testing/k8s/pvc/test-artifacts.yaml
Due: none

feat(docker): add Helm 3.14.0 CLI to test runner image
  testing/Dockerfile
Due: none

feat(ci): extend test-integration.sh for E2E test suites
  testing/ci/test-integration.sh
Due: none

feat(ci): add E2E test job to weekly workflow
  .github/workflows/weekly.yml
Due: none

fix(ci): resolve gate findings — KIND_CLUSTER_NAME, Job split, error handling
  .github/workflows/weekly.yml
  testing/ci/test-integration.sh
  testing/k8s/jobs/test-e2e-destructive.yaml
Due: none

fix(docker): harden Dockerfile supply chain security
  testing/Dockerfile
Due: none

fix(ci): address PR review findings
  testing/ci/test-integration.sh
  testing/k8s/jobs/test-e2e-destructive.yaml
  testing/k8s/jobs/test-e2e.yaml
  testing/k8s/pvc/test-artifacts.yaml
  testing/k8s/rbac/e2e-destructive-runner.yaml
  testing/k8s/secrets/polaris-secret.yaml
Due: none

feat(ci): in-cluster test infrastructure (#218)
  .github/workflows/weekly.yml
  testing/Dockerfile
  testing/ci/test-integration.sh
  testing/k8s/jobs/test-e2e-destructive.yaml
  testing/k8s/jobs/test-e2e.yaml
  testing/k8s/pvc/test-artifacts.yaml
  testing/k8s/rbac/e2e-destructive-runner.yaml
  testing/k8s/rbac/e2e-test-runner.yaml
  testing/k8s/secrets/polaris-secret.yaml
  tests/e2e/conftest.py
  tests/e2e/test_helm_upgrade_e2e.py
  tests/e2e/test_observability.py
  tests/e2e/test_observability_roundtrip_e2e.py
  tests/e2e/test_platform_deployment_e2e.py
  tests/e2e/test_service_failure_resilience_e2e.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix(docker): set SHELL env var for dbt Fusion installer
  testing/Dockerfile
Due: none

fix(ci): align Job secrets and service names with Helm chart
  testing/k8s/jobs/test-e2e-destructive.yaml
  testing/k8s/jobs/test-e2e.yaml
Due: none

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$
