Repository Obsidian-Owl/floe: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbt-runner-in-orchestrator, agent-lint, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Path conditions:
  no-dbt-runner-in-orchestrator: any of: ^plugins/floe-orchestrator-dagster/
  agent-lint: any of: ^\.claude/agents/.*\.md$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  mypy-strict: any of: \.py$
  bandit-security: any of: \.py$
  import-linter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-contract: any of: \.py$
  traceability: any of: \.py$

fix: resolve iceberg export duckdb path from profiles
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
  tests/unit/test_devpod_source_selection.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: preserve catalog defaults during iceberg repair
  packages/floe-iceberg/src/floe_iceberg/_lifecycle.py
  packages/floe-iceberg/src/floe_iceberg/manager.py
  packages/floe-iceberg/tests/unit/test_lifecycle.py
  plugins/floe-orchestrator-dagster/tests/integration/conftest.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: require active duckdb target for iceberg export
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/export/iceberg.py
  plugins/floe-orchestrator-dagster/tests/unit/test_export_iceberg.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: merge flux image overrides into values
  testing/k8s/setup-cluster.sh
  tests/unit/test_flux_source_selection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: include quality plugins in demo resolver
  scripts/resolve-demo-plugins.py
  testing/tests/unit/test_demo_packaging.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: preserve devpod refs and polaris env overrides
  scripts/devpod-source.sh
  tests/e2e/conftest.py
  tests/e2e/tests/test_conftest_manifest_wiring.py
  tests/unit/test_devpod_source_selection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: validate exact devpod refs and inline flux values
  scripts/devpod-source.sh
  testing/k8s/setup-cluster.sh
  tests/unit/test_devpod_source_selection.py
  tests/unit/test_flux_source_selection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: start alpha release hardening plan
  docs/superpowers/plans/2026-04-28-release-hardening-e2e.md
  docs/validation/2026-04-28-alpha-release-hardening.md
Due: none

ci: load resolved Dagster demo image for Helm integration
  .github/workflows/helm-ci.yaml
  testing/ci/render-demo-image-values.py
  testing/ci/tests/test_helm_ci_demo_image_wiring.py
  testing/ci/tests/test_render_demo_image_values.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align Helm CI demo image build env
  .github/workflows/helm-ci.yaml
  testing/ci/tests/test_helm_ci_demo_image_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: harden Helm CI demo image prerequisites
  .github/workflows/helm-ci.yaml
  testing/ci/test-unit.sh
  testing/ci/tests/test_helm_ci_demo_image_wiring.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: align hardening plan with CI test discovery
  docs/superpowers/plans/2026-04-28-release-hardening-e2e.md
Due: none

fix: align sync lineage TLS verification
  packages/floe-core/src/floe_core/lineage/emitter.py
  packages/floe-core/src/floe_core/lineage/transport.py
  packages/floe-core/tests/unit/lineage/test_sync_emitter.py
  packages/floe-core/tests/unit/lineage/test_sync_transport.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align sync lineage TLS policy with shared helper
  packages/floe-core/src/floe_core/lineage/emitter.py
  packages/floe-core/src/floe_core/lineage/transport.py
  packages/floe-core/tests/unit/lineage/test_sync_transport.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: resolve alpha dependency audit findings
  devtools/agent-memory/uv.lock
  docs/validation/2026-04-28-alpha-release-hardening.md
  packages/floe-core/uv.lock
  testing/ci/uv-security-audit.sh
  uv.lock
Due: none

chore: resolve alpha dependency audit findings
  uv.lock
Due: none

fix: fail security audit on scanner invocation errors
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/uv-security-audit.sh
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: fail security audit on scanner crashes
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/uv-security-audit.sh
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: record alpha release scope decisions
  docs/validation/2026-04-28-alpha-release-hardening.md
Due: none

fix: validate demo lineage artifacts during compile
  Makefile
  docs/validation/2026-04-28-alpha-release-hardening.md
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
  testing/ci/validate-demo-compiled-artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

docs: record local alpha validation gates
  docs/validation/2026-04-28-alpha-release-hardening.md
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: lock demo image runtime dependencies
  docker/dagster-demo/Dockerfile
  docs/validation/2026-04-28-alpha-release-hardening.md
  plugins/floe-orchestrator-dagster/pyproject.toml
  plugins/floe-storage-s3/pyproject.toml
  pyproject.toml
  testing/tests/unit/test_demo_packaging.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: align pyiceberg guard with locked demo image
  tests/unit/test_pyiceberg_version_pin.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: decouple devpod provisioning from e2e setup
  .devcontainer/hetzner/postStartCommand.sh
  .env.example
  scripts/devpod-test.sh
  tests/unit/test_devpod_source_selection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: bootstrap devpod e2e remotely
  scripts/devpod-test.sh
  tests/unit/test_devpod_source_selection.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align dagster runtime with compiled dbt profiles
  demo/manifest.yaml
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_profiles.py
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
  testing/ci/validate-demo-compiled-artifacts.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: prepare duckdb runtime directories
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_profiles.py
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: type gcp credential refresh
  .secrets.baseline
  packages/floe-core/src/floe_core/oci/auth.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: retry transient uv-secure crashes
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/uv-security-audit.sh
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: address alpha hardening review feedback
  .github/workflows/helm-ci.yaml
  packages/floe-core/src/floe_core/compilation/__init__.py
  packages/floe-core/src/floe_core/compilation/naming.py
  packages/floe-core/src/floe_core/compilation/stages.py
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_profiles.py
  pyproject.toml
  scripts/devpod-test.sh
  testing/ci/tests/test_helm_ci_demo_image_wiring.py
  testing/ci/tests/test_render_demo_image_values.py
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
  testing/ci/validate-demo-compiled-artifacts.py
  tests/unit/test_devpod_source_selection.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Harden alpha release E2E validation (#266)
  .devcontainer/hetzner/postStartCommand.sh
  .env.example
  .github/workflows/helm-ci.yaml
  .secrets.baseline
  Makefile
  demo/manifest.yaml
  devtools/agent-memory/uv.lock
  docker/dagster-demo/Dockerfile
  docs/superpowers/plans/2026-04-28-release-hardening-e2e.md
  docs/validation/2026-04-28-alpha-release-hardening.md
  packages/floe-core/src/floe_core/compilation/__init__.py
  packages/floe-core/src/floe_core/compilation/dbt_profiles.py
  packages/floe-core/src/floe_core/compilation/naming.py
  packages/floe-core/src/floe_core/compilation/stages.py
  packages/floe-core/src/floe_core/lineage/emitter.py
  packages/floe-core/src/floe_core/lineage/transport.py
  packages/floe-core/src/floe_core/oci/auth.py
  packages/floe-core/tests/unit/compilation/test_dbt_profiles.py
  packages/floe-core/tests/unit/lineage/test_sync_emitter.py
  packages/floe-core/tests/unit/lineage/test_sync_transport.py
  packages/floe-core/uv.lock
  plugins/floe-orchestrator-dagster/pyproject.toml
  plugins/floe-orchestrator-dagster/src/floe_orchestrator_dagster/runtime.py
  plugins/floe-orchestrator-dagster/tests/unit/test_runtime_profiles.py
  plugins/floe-storage-s3/pyproject.toml
  pyproject.toml
  scripts/devpod-test.sh
  testing/ci/render-demo-image-values.py
  testing/ci/test-unit.sh
  testing/ci/tests/test_helm_ci_demo_image_wiring.py
  testing/ci/tests/test_render_demo_image_values.py
  testing/ci/tests/test_uv_security_audit.py
  testing/ci/tests/test_validate_demo_compiled_artifacts.py
  testing/ci/uv-security-audit.sh
  testing/ci/validate-demo-compiled-artifacts.py
  testing/tests/unit/test_demo_packaging.py
  tests/e2e/test_compile_deploy_materialize_e2e.py
  tests/unit/test_devpod_source_selection.py
  tests/unit/test_pyiceberg_version_pin.py
  uv.lock
Due: no-dbt-runner-in-orchestrator, ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: patch mako security advisory
  pyproject.toml
  uv.lock
Due: none

fix: patch mako security advisory (#267)
  pyproject.toml
  uv.lock
Due: none

fix: align minio subchart names
  charts/floe-platform/values.schema.json
  charts/floe-platform/values.yaml
  testing/tests/unit/test_minio_chart_bump_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

test: avoid helm dependency fetch in minio contract
  testing/tests/unit/test_minio_chart_bump_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Align MinIO subchart names for Helm CI (#268)
  charts/floe-platform/values.schema.json
  charts/floe-platform/values.yaml
  testing/tests/unit/test_minio_chart_bump_contract.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

fix: align helm test service names
  .github/workflows/helm-ci.yaml
  charts/floe-platform/templates/NOTES.txt
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/hpa.yaml
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/templates/tests/test-connection.yaml
  charts/floe-platform/tests/test-connection_test.yaml
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

chore: address helm test review nits
  charts/floe-platform/templates/hpa.yaml
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability

Fix Helm test service name drift (#269)
  .github/workflows/helm-ci.yaml
  charts/floe-platform/templates/NOTES.txt
  charts/floe-platform/templates/_helpers.tpl
  charts/floe-platform/templates/hpa.yaml
  charts/floe-platform/templates/ingress.yaml
  charts/floe-platform/templates/tests/test-connection.yaml
  charts/floe-platform/tests/test-connection_test.yaml
  testing/ci/helm_diagnostics.sh
  testing/tests/unit/test_helm_ci_diagnostics.py
Due: ruff-check, ruff-format-check, mypy-strict, bandit-security, import-linter, pytest-unit, pytest-contract, traceability
